{#
/**
 * @file
 * Theme override for displaying a single search result.
 *
 * This template renders a single search result. The list of results is
 * rendered using '#theme' => 'item_list', with suggestions of:
 * - item_list__search_results__(plugin_id)
 * - item_list__search_results
 *
 * Available variables:
 * - url: URL of the result.
 * - title: Title of the result.
 * - snippet: A small preview of the result. Does not apply to user searches.
 * - info: String of all the meta information ready for print. Does not apply
 *   to user searches.
 * - plugin_id: The machine-readable name of the plugin being executed,such
 *   as "node_search" or "user_search".
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - info_split: Contains same data as info, but split into separate parts.
 *   - info_split.type: Node type (or item type string supplied by module).
 *   - info_split.user: Author of the node linked to users profile. Depends
 *     on permission.
 *   - info_split.date: Last update of the node. Short formatted.
 *   - info_split.comment: Number of comments output as "% comments", %
 *     being the count. (Depends on comment.module).
 * @todo The info variable needs to be made drillable and each of these sub
 *   items should instead be within info and renamed info.foo, info.bar, etc.
 *
 * Other variables:
 * - title_attributes: HTML attributes for the title.
 * - content_attributes: HTML attributes for the content.
 *
 * Since info_split is keyed, a direct print of the item is possible.
 * This array does not apply to user searches so it is recommended to check
 * for its existence before printing. The default keys of 'type', 'user' and
 * 'date' always exist for node searches. Modules may provide other data.
 * @code
 *   {% if (info_split.comment) %}
 *     <span class="info-comment">
 *       {{ info_split.comment }}
 *     </span>
 *   {% endif %}
 * @endcode
 *
 * To check for all available data within info_split, use the code below.
 * @code
 *   <pre>
 *     {{ dump(info_split) }}
 *   </pre>
 * @endcode
 *
 * @see template_preprocess_search_result()
 */
#}

<div class="content_description type_{{ node_type }}">
	<div class="img_description">
		{% if isRead %}
			<strong>Já lido</strong>
		{% endif %}
		{% if result.node.field_image.entity.uri %}
        	<img src="{{ file_url(result.node.field_image.entity.uri.value) }}" alt="">
		{% else %}
			<img src="https://res.cloudinary.com/meeg/image/upload/v1619183105/NDB/placeholder-ninho_emd7wq.png" alt="">
		{% endif %}
	</div>
	<div class="information_index">
		<h3>
			<a href="{{ url }}">{{ title }}</a>
		</h3>
		<!-- CSS -->
		{% if result.node.taxonomy_forums %}
			<h4>{{ result.node.taxonomy_forums.entity.label }}</h4>
		{% endif %}
		<p class="date_index">
			{% if info %}
				{{ info }}
			{% endif %}
		</p>
		<p class="info_index">{{ snippet }}</p>
		{% if result.node.field_tag_interesses != null %}
			{% set tags = [] %}
			{% for field_tag in result.node.field_tag_interesses %}
				{% set tags = tags|merge([field_tag.entity.label]) %}
			{% endfor %}
			{% if tags|length > 1 %}
				<span class="tag">{{ tags|first }}</span>
				<strong> + {{ tags|length - 1 }}</strong>
			{% else %}
				<span class="tag">{{ tags|first }}</span>
			{% endif %} 
		{% endif %}
		<!-- <div>2 minutos de leitura</div> -->
		<!--<a href="#">TAG 01</a>
		<a href="#">TAG 02</a>
		<a href="#">TAG 03</a>-->
	</div>
</div>



