{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    <link rel="canonical" href="{{ canonical_url }}"/>
    <meta name="theme-color" content="#FAF8CC">
    {% if current_node.alt_title %}
    <meta property="og:title" content="{{ current_node.alt_title }}" />
    {% else %}
    <meta property="og:title" content="{{ head_title|safe_join(' | ') }}" />
    {% endif %}
    {% if current_node.description %}
    <meta property="og:description" content="{{ current_node.description }}"/>
    {% else %}
    <meta property="og:description" content="{{ current_node.summary }}"/>
    {% endif %}

    {% if is_front %}
      <meta property="og:image" content="https://res.cloudinary.com/meeg-cloud/image/upload/v1629134040/ndb/share_NDB_p6nefo.png" />
    {% else %}
      <meta property="og:image" content="{{ current_node.image_url }}" />
    {% endif %}
    
    <meta property="og:locale" content="pt_BR" />
    {% if current_node.description %}
    <meta name="description" content="{{ current_node.description }}"/>
    {% else %}
    <meta name="description" content="{{ current_node.summary }}"/>
    {% endif %}

    {% if is_front %}
      <meta name="facebook-domain-verification" content="43wouzas48vgsfyooblhiwipthud5t" />
      <title>{{ head_title|safe_join(' | ') }}</title>
    {% elseif current_node.alt_title %}
      <title>{{ current_node.alt_title }}</title>
    {% elseif head_title.search %}
      <title>{{ head_title.search }}</title>
    {% else %}
      <title>{{ head_title['title'] }}</title>
    {% endif %}
    {% if current_node.keywords %}
      <meta name="keywords" content="{{ current_node.keywords }}" />
    {% endif %}
    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">
    <link rel="preconnect" href="https://res.cloudinary.com">
    <link rel="dns-prefetch" href="https://res.cloudinary.com">
    <link rel="preconnect" href="https://cdn.krxd.net">
    <link rel="dns-prefetch" href="https://cdn.krxd.net">
    <script>
      window.dataLayer = window.dataLayer || [];
      dataLayer.push({
        'event': 'Acesso Conteúdo',
        'ContentName': '{{ head_title|safe_join(' | ') }}',
        'ContentCategory': '{{ current_node.category }}',
        'ContentTags': '{{ current_node.tags }}',
        {% if user_id %}
        'visitorId': '{{ hashed_user_email }}',
        'userStatus': 'logged-in',
        {% else %}
        'userStatus': 'not logged-in',
        {% endif %}
      });
    </script>
    <!-- Google Tag Manager --> 
    <script async>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-P2MSH4J');</script> 
    <!-- End Google Tag Manager -->
    <script async src="https://lett.2buycdn.com/embed/v1/plugin.js"></script>
  </head>
  <body{{ attributes }} id="status_{{ logged_in }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2MSH4J" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> 
    <!-- End Google Tag Manager (noscript) -->
    <div id="top"></div>
    <a href="#top" class="back_top"></a>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <div class="accessibility-tools">
      <div class="accessibility-tools_left">
        <span>Tamanho da fonte:</span>
        <strong class="font_a">a</strong>
        <strong class="font_b">a</strong>
        <strong class="font_c">a</strong>
      </div>
      <div class="accessibility-tools_right">
        <a href="#conteudo" class="button">Ir para o conteúdo</a>
      </div>
    </div>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
    <div class="homevideo-popup">
      <div class="homevideo-popup-close"></div>
      <iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/28PFFt0sRDA?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen></iframe>
      <div class="video-share">
        <div>Mostre para mais alguém:</div>
          <a target="_blank" href="https://web.whatsapp.com/send?text={{ host_url }} Você é mãe ou pai em fase de crescimento? Conheça o Portal Ninhos do Brasil!" class="share_whatsapp desktop-element">Compartilhar</a>
          <a target="_blank" href="whatsapp://send?text={{ host_url }} Você é mãe ou pai em fase de crescimento? Conheça o Portal Ninhos do Brasil!" class="share_whatsapp mobile-element">Compartilhar</a>
      </div>
    </div>
  </body>
</html>
