{#
/**
 * @file
 * Default theme implementation for a single local action link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - link: A rendered link element.
 *
 * @see template_preprocess_menu_local_action()
 *
 * @ingroup themeable
 */
#}
<div class="create_warning">
	<p>
		Se você não encontrar o que está procurando, experimente criar um tópico!
	</p>
	{{ link }}
</div>
