{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<header class="header-forms">
  {{ page.header }}
  <div class="header-form-back">
    <a href="{{ url('<front>') }}">Voltar para página principal</a>
  </div>
  <div class="mobile-header-form-back">
    <a href="{{ url('<front>') }}"></a>
  </div>
  <div class="header-form-logo">
    <a href="{{ url('<front>') }}"></a>
  </div>
  {% if logged_in %}
    <div class="hello logged">
      <div>
        <div>
          Olá, {{ cut_username }}
          <ul class="options">
            <li>
              <a href="{{ url('<front>') }}user/basico">
                Meu cadastro
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/conteudos-lidos">
                Conteúdos já lidos
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/favoritos">
                Conteúdos salvos
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/logout">
                Sair
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% else %}
    <div class="hello unlogged">
      <div>
        <div class="btn-login">
          <a href="{{ url('<front>') }}user/entrar">Fazer login</a>
        </div>
        <div>
          <a href="{{ url('<front>') }}user/registrar">
            <button class="register">Criar conta</button>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
</header>
<div class="content_new_overlay">
  <section class="register" id="conteudo">
    <div class="close">
      <div class="close_button"></div>
    </div>
    {% if page.highlighted %}
    <div class="highlighted">
      <aside class="layout-container section clearfix" role="complementary">
        {{ page.highlighted }}
      </aside>
    </div>
    {% endif %}
    {{ page.content }}
  </section>
</div>