{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<header>
  {{ page.header }}

  {% if logged_in %}
    <div class="hello logged">
      <div>
        <div>
          Olá, {{ cut_username }}
          <ul class="options">
            <li>
              <a href="{{ url('<front>') }}user/basico">
                Meu cadastro
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/conteudos-lidos">
                Conteúdos já lidos
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/favoritos">
                Conteúdos salvos
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/logout">
                Sair
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% else %}
    <div class="hello unlogged">
      <div>
        <div class="btn-login">
          <a href="{{ url('<front>') }}user/entrar">Fazer login</a>
        </div>
        <div>
          <a href="{{ url('<front>') }}user/registrar">
            <button class="register">Criar conta</button>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="parents">
    <div>
      <a href="{{ url('<front>') }}">
        
      </a>
    </div>
    <div>Para mães e pais&nbsp;<br/>em fase de crescimento.</div>
    <div>
      
    </div>
  </div>
  <div class="menu-mobile">
    <div class="menu-icon">
      <label>Fases</label>
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="search-icon">
      <div></div>
    </div>
  </div>
</header>

<div class="menu_and_search">
  <div class="label_menu">
    Em que fase vocês estão?
  </div>
  {{ page.primary_menu }}
</div>
<article id="conteudo">
  <div class="highlighted">
    <aside class="layout-container section clearfix" role="complementary">
      {{ page.highlighted }}
    </aside>
  </div>
  <div class="content_index">
    <div class="product-header">
      <h1 class="page-title">
        NINHO® Fases 3+
      </h1>
    </div>
    <div class="product-intro">
      <div class="product-intro-image-large">
        <img src="https://res.cloudinary.com/meeg/image/upload/v1620218337/ninho_fases-03-pack_arhuzp.png" alt="NINHO® Fases 3+" />
      </div>
      <div class="product-intro-infos">
        <p>NINHO® Fases 3+ é desenvolvido especialmente para as crianças que estão ficando mais independentes, entre os 3 e 5 anos de idade. Sua fórmula conta com 18 vitaminas e minerais para ajudar no crescimento e desenvolvimento adequado das crianças nessa fase, além de uma combinação exclusiva de fibras.</p>
        <div></div>
        <a class="button buy" href="https://ninho-fases-3-site.2b.uy?c=WvJNMaOMoCxnwIcx" data-tobuy-modal="open" data-tobuy-hash="WvJNMaOMoCxnwIcx">Comprar agora</a>
      </div>
    </div>
    <div class="product-how">
      <h2>Modo de preparo</h2>
      <div class="product-how-steps">
        <div class="product-how-steps-step">
          <span>1</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619133758/preparo-01_ghmcjp.png" />
          <p>7 medidas ou 3 colheres de sopa cheias (32 g)</p>
        </div>
        <div class="product-how-steps-step">
          <span>2</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619133758/preparo-02_hsafmy.png" />
          <p>Um copo de água fria ou morna (180ml)</p>
        </div>
        <div class="product-how-steps-step">
          <span>3</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619133758/preparo-03_gclzuw.png" />
          <p>Misture bem e está pronto!</p>
        </div>
      </div>
      <div class="product-how-warning">
        Recomendação: até 3 (três) copos por dia.
      </div>
    </div>
    <div class="product-detail">
      <div class="product-detail-header">
        <div class="product-detail-header-nutritional active">
          Informação nutricional
        </div>
        <div class="product-detail-header-composition">
          Ingredientes
        </div>
        <div class="product-detail-header-more">
          Outras informações
        </div>
      </div>
      <div class="product-detail-body">
        <div class="product-detail-body-nutritional active">
          <table class="table-responsive">
             <thead>
                <tr>
                   <th>Produto</th>
                   <th>NINHO® Fases 3+</th>
                   <th>% VD (*)</th>
                </tr>
             </thead>
             <tbody>
                <tr>
                   <th colspan="3">Porção de 32g*** (7 colheres)</th>
                </tr>
                <tr>
                   <td>Valor Energético</td>
                   <td>143 kcal = 612 kj</td>
                   <td>7%</td>
                </tr>
                <tr>
                   <td>Carboidratos</td>
                   <td>17g</td>
                   <td>6%</td>
                </tr>
                <tr>
                   <td>Proteínas</td>
                   <td>4,4g</td>
                   <td>6%</td>
                </tr>
                <tr>
                   <td>Gorduras totais</td>
                   <td>6,4g</td>
                   <td>12%</td>
                </tr>
                <tr>
                   <td>Gorduras Saturadas</td>
                   <td>2,2g</td>
                   <td>10%</td>
                </tr>
                <tr>
                   <td>Gorduras <i>Trans</i></td>
                   <td>0g</td>
                   <td>**</td>
                </tr>
                <tr>
                   <td>Ácido Linoleico</td>
                   <td>1,3g</td>
                   <td>**</td>
                </tr>
                <tr>
                   <td>Ácido α-linolênico</td>
                   <td>139mg</td>
                   <td>**</td>
                </tr>
                <tr>
                   <td>Fibra alimentar</td>
                   <td>1,0g</td>
                   <td>4%</td>
                </tr>
                <tr>
                   <td>Sódio</td>
                   <td>68mg</td>
                   <td>3%</td>
                </tr>
                <tr>
                   <td>Cálcio</td>
                   <td>409mg</td>
                   <td>41%</td>
                </tr>
                <tr>
                   <td>Ferro</td>
                   <td>6,3mg</td>
                   <td>45%</td>
                </tr>
                <tr>
                   <td>Fósforo</td>
                   <td>126mg</td>
                   <td>18%</td>
                </tr>
                <tr>
                   <td>Magnésio</td>
                   <td>15mg</td>
                   <td>6%</td>
                </tr>
                <tr>
                   <td>Selênio</td>
                   <td>7,9µg</td>
                   <td>24%</td>
                </tr>
                <tr>
                   <td>Zinco</td>
                   <td>2,1mg</td>
                   <td>30%</td>
                </tr>
                <tr>
                   <td>Vitamina A</td>
                   <td>157 µg RE</td>
                   <td>26%</td>
                </tr>
                <tr>
                   <td>Vitamina D</td>
                   <td>3,8µg</td>
                   <td>76%</td>
                </tr>
                <tr>
                   <td>Vitamina E</td>
                   <td>2,8mg α-TE</td>
                   <td>28%</td>
                </tr>
                <tr>
                   <td>Vitamina K</td>
                   <td>17µg</td>
                   <td>26%</td>
                </tr>
                <tr>
                   <td>Vitamina C</td>
                   <td>31mg</td>
                   <td>69%</td>
                </tr>
                <tr>
                   <td>Vitamina B1</td>
                   <td>0,35mg</td>
                   <td>29%</td>
                </tr>
                <tr>
                   <td>Vitamina B2</td>
                   <td>0,36mg</td>
                   <td>28%</td>
                </tr>
                <tr>
                   <td>Niacina (Vitamina B3)</td>
                   <td>2,6mg</td>
                   <td>16%</td>
                </tr>
                <tr>
                   <td>Vitamina B6</td>
                   <td>0,26mg</td>
                   <td>20%</td>
                </tr>
                <tr>
                   <td>Vitamina B12</td>
                   <td>0,60µg</td>
                   <td>25%</td>
                </tr>
                <tr>
                   <td>Ácido Fólico (Vitamina B9)</td>
                   <td>43µg</td>
                   <td>18%</td>
                </tr>
                <tr>
                   <td>Ácido Pantotênico (Vitamina B5)</td>
                   <td>1,8 mg</td>
                   <td>36%</td>
                </tr>
                <tr>
                   <td>Biotina (Vitamina B7)</td>
                   <td>13µg</td>
                   <td>43%</td>
                </tr>
                <tr>
                   <td colspan="3">*% Valores Diários de referência com base em uma diea de 2.000 kcal ou 8.400 kj. Seus valores diários podem ser maiores ou menores dependendo de suas necessidades energéticas. **VD não estabelecido.***Fração suficiente para o preparo de 200 ml.</td>
                </tr>
             </tbody>
          </table>
        </div>
        <div class="product-detail-body-composition">
          <p>Ingredientes: leite parcialmente desnatado, soro de leite desproteinizado desmineralizado, maltodextrina, soro de leite em pó, lactose, óleo de milho, óleo de canola com baixo teor erúcico, oleína de palma, fruto-oligossacarídeos, cálcio (carbonato de cálcio), inulina, vitamina C (ácido L-ascórbico), ferro (sulfato ferroso), zinco (sulfato de zinco), vitamina E (acetato de DL-α-tocoferila), niacina (nicotinamida), ácido pantotênico (D-pantotênico), vitamina B1 (tiamina mononitrato), vitamina B6 (cloridrato de piridoxina), vitamina A (acetato de retinila), vitamina B2 (riboflavina), selênio (selenito de sódio), ácido fólico (ácido N-pteroil-L-glutâmico), vitamina K (fitomenadiona), biotina (D-biotina), vitamina D (colecalciferol), vitamina B12 (cianocobalamina), emulsificante lecitina de soja e regulador de acidez hidróxido de potássio. ALÉRGICOS: CONTÉM LEITE E DERIVADOS E DERIVADOS DE SOJA. CONTÉM LACTOSE. NÃO CONTÉM GLÚTEN. ESTE PRODUTO NÃO É LEITE EM PÓ.
          Este produto não possui adição de açúcar, apenas açúcares naturalmente presentes no leite.</p>
        </div>
        <div class="product-detail-body-more">
          <p>Guardar a lata bem tampada em lugar fresco e seco. Este produto é sensível à umidade, mantenha sempre mãos e colher-medida secas. Após aberta a lata, o produto conserva-se bom para o consumo até o prazo máximo de 30 dias. Data de validade indicada no fundo da lata.</p>
        </div>
      </div>
    </div>
  </div>      
</article>

<footer>
  <div class="footer-tags">
    <h2>O que você está procurando?</h2>
    <!-- opened_tag_cloud -->
    <ul class="items">
      {% for tag in page.footer.visible_tags %}
        
        <li><a href="{{ tag['#url'] }}">{{ tag['#label'] }}</a></li>

      {% endfor %}
    </ul>
    <!-- opened_tag_cloud -->
  </div>
  <div class="signature">
    <p>Feito com carinho por:</p>
    <a href="https://ninho.com.br"></a>
  </div>
  {{ page.footer }}
</footer>