{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<header>
  {{ page.header }}

  {% if logged_in %}
    <div class="hello logged">
      <div>
        <div>
          Olá, {{ cut_username }}
          <ul class="options">
            <li>
              <a href="{{ url('<front>') }}user/basico">
                Meu cadastro
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/conteudos-lidos">
                Conteúdos já lidos
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/favoritos">
                Conteúdos salvos
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/logout">
                Sair
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% else %}
    <div class="hello unlogged">
      <div>
        <div class="btn-login">
          <a href="{{ url('<front>') }}user/entrar">Fazer login</a>
        </div>
        <div>
          <a href="{{ url('<front>') }}user/registrar">
            <button class="register">Criar conta</button>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="parents">
    <div>
      <a href="{{ url('<front>') }}">
        
      </a>
    </div>
    <div>Para mães e pais&nbsp;<br/>em fase de crescimento.</div>
    <div>
      
    </div>
  </div>
  <div class="menu-mobile">
    <div class="menu-icon">
      <label>Fases</label>
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="search-icon">
      <div></div>
    </div>
  </div>
</header>

<div class="menu_and_search">
  <div class="label_menu">
    Em que fase vocês estão?
  </div>
  {{ page.primary_menu }}
</div>
<article id="conteudo">
  <div class="highlighted">
    <aside class="layout-container section clearfix" role="complementary">
      {{ page.highlighted }}
    </aside>
  </div>
  <div class="content_index">
    <div class="product-header">
      <h1 class="page-title">
        NINHO® Forti+ Levinho
      </h1>
    </div>
    <div class="product-intro">
      <div class="product-intro-image">
        <img src="https://res.cloudinary.com/meeg/image/upload/v1619466578/NDB/ninho-levinho_e706ke.png" alt="NINHO® Forti+ Levinho" />
      </div>
      <div class="product-intro-infos">
        <p>NINHO® Forti+ Levinho é rico em cálcio, ferro, zinco e vitaminas A, D, C e E, essenciais para as defesas naturais do corpo. Tem a nutrição e o sabor delicioso que todo mundo ama e 50% menos gorduras e zero adição de açúcares.</p>
        <div></div>
        <a class="button buy" href="https://ninho-site.2b.uy?c=s8b7H804G2qZuKC6-46038" data-tobuy-modal="open" data-tobuy-hash="s8b7H804G2qZuKC6-46038">Comprar agora</a>
      </div>
    </div>
    <div class="product-how">
      <h2>Modo de preparo:</h2>
      <div class="product-how-steps">
        <div class="product-how-steps-step">
          <span>2</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619133758/preparo-02_hsafmy.png" />
          <p>Um copo de água morna (180ml)</p>
        </div>
        <div class="product-how-steps-step">
          <span>1</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619133758/preparo-01_ghmcjp.png" />
          <p>2 colheres de sopa (22 g) de NINHO® Levinho</p>
        </div>
        <div class="product-how-steps-step">
          <span>3</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619133758/preparo-03_gclzuw.png" />
          <p>Misture bem e está pronto!</p>
        </div>
      </div>
      <div class="product-how-warning">
        *Utilizar somente água previamente fervida ou filtrada.
      </div>
    </div>
    <div class="product-detail">
      <div class="product-detail-header">
        <div class="product-detail-header-nutritional active">
          Informação nutricional
        </div>
        <div class="product-detail-header-composition">
          Ingredientes
        </div>
        <div class="product-detail-header-more">
          Outras informações
        </div>
      </div>
      <div class="product-detail-body">
        <div class="product-detail-body-nutritional active">
          <table class="table-responsive">
              <thead>
                  <tr>
                      <th>Produto</th>
                      <th>NINHO® LEVINHO</th>
                      <th>%VD(*)</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th colspan="3">Porção de 22 g</th>
                  </tr>
                  <tr>
                      <td>Valor Energético</td>
                      <td class="text-center">94 kcal</td>
                      <td>5%</td>
                  </tr>
                  <tr>
                      <td>Carboidratos</td>
                      <td class="text-center">10 g</td>
                      <td>3%</td>
                  </tr>
                  <tr>
                      <td class="pl-5">Açúcares****</td>
                      <td class="text-center">10 g</td>
                      <td>**</td>
                  </tr>
                  <tr>
                      <td>Proteínas</td>
                      <td class="text-center">6,4 g</td>
                      <td>9%</td>
                  </tr>
                  <tr>
                      <td>Gorduras totais</td>
                      <td class="text-center">3,0 g</td>
                      <td>6%</td>
                  </tr>
                  <tr>
                      <td>Gorduras saturadas</td>
                      <td class="text-center">2,2 g</td>
                      <td>10%</td>
                  </tr>
                  <tr>
                      <td>Gorduras <span class="italic">trans</span></td>
                      <td class="text-center">0 g</td>
                      <td>**</td>
                  </tr>
                  <tr>
                      <td> Gorduras monoinsaturadas</td>
                      <td class="text-center">0,6 g</td>
                      <td>**</td>
                  </tr>
                  <tr>
                      <td> Gorduras poli-insaturadas</td>
                      <td class="text-center">0,1 g</td>
                      <td>**</td>
                  </tr>
                  <tr>
                      <td>Colesterol</td>
                      <td class="text-center">12 mg</td>
                      <td>4%</td>
                  </tr>
                  <tr>
                      <td>Fibra alimentar</td>
                      <td class="text-center">0 g</td>
                      <td>0%</td>
                  </tr>
                  <tr>
                      <td>Sódio</td>
                      <td class="text-center">101 mg</td>
                      <td>4%</td>
                  </tr>
                  <tr>
                      <td>Cálcio</td>
                      <td class="text-center">380 mg</td>
                      <td>38%</td>
                  </tr>
                  <tr>
                      <td>Ferro</td>
                      <td class="text-center">5,4 mg</td>
                      <td>39%</td>
                  </tr>
                  <tr>
                      <td>Zinco</td>
                      <td class="text-center">2,1 mg</td>
                      <td>30%</td>
                  </tr>
                  <tr>
                      <td>Vitamina A</td>
                      <td class="text-center">180 µg RE</td>
                      <td>30%</td>
                  </tr>
                  <tr>
                      <td>Vitamina D</td>
                      <td class="text-center">1,9 µg</td>
                      <td>38%</td>
                  </tr>
                  <tr>
                      <td>Vitamina E</td>
                      <td class="text-center">3,8 mg a - TE</td>
                      <td>38%</td>
                  </tr>
                  <tr>
                      <td>Vitamina C</td>
                      <td class="text-center">17 mg</td>
                      <td>38%</td>
                  </tr>
                  <tr>
                      <td colspan="3">% Valores Diários de referência com base em uma dieta de 2.000 kcal ou 8.400 kJ. Seus
                          valores diários podem ser maiores ou menores dependendo de suas necessidades energéticas. **VD não
                          estabelecido. ***Quantidade suficiente para preparo de 200 Ml **** Açúcares naturalmente presentes no
                          leite. <strong>Este produto não possui adição de açúcar, apenas açúcares naturalmente presentes no leite.</strong></td>
                  </tr>
              </tbody>
          </table>
        </div>
        <div class="product-detail-body-composition">
          <p>Leite semidesnatado com 14% de gordura, minerais [cálcio (carbonato de cálcio), ferro (pirofosfato férrico) e zinco (sulfato de zinco)], vitaminas [vitamina C (ascorbato de sódio), vitamina E (acetato de DL-alfa-tocoferila), vitamina A (acetato de retinila) e vitamina D (colecalciferol)] e emulsificante lecitina de soja. CONTÉM LEITE E DERIVADOS DE SOJA. CONTÉM LACTOSE. NÃO CONTÉM GLÚTEN. Este produto não possui adição de açúcar, apenas açúcares naturalmente presentes no leite.</p>
        </div>
        <div class="product-detail-body-more">
          <p>Guardar a lata em local fresco e seco. Após a abertura da lata, o produto conserva-se bom para o consumo até o prazo máximo de 30 dias.</p>
        </div>
      </div>
    </div>
  </div>      
</article>

<footer>
  <div class="footer-tags">
    <h2>O que você está procurando?</h2>
    <!-- opened_tag_cloud -->
    <ul class="items">
      {% for tag in page.footer.visible_tags %}
        
        <li><a href="{{ tag['#url'] }}">{{ tag['#label'] }}</a></li>

      {% endfor %}
    </ul>
    <!-- opened_tag_cloud -->
  </div>
  <div class="signature">
    <p>Feito com carinho por:</p>
    <a href="https://ninho.com.br"></a>
  </div>
  {{ page.footer }}
</footer>