{#
/**
 * @file
 * Bartik's theme implementation for a page title.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
{%
  set classes = [
    'title',
    'page-title',
  ]
%}

{{ title_prefix }}
{% if title %}
  <h1{{ title_attributes.addClass(classes) }}>{{ title }}</h1>
  {% if subtitle %}
  	<p>{{ subtitle|raw}}</p>
  {% endif %}
  {% if amb %}
  	{% if amb == 'monique-goncalves' %}
  		<div class="author-id"> <div class="author-id-photo"> <img src="https://www.ninhosdobrasil.com.br/sites/default/files/styles/media_library/public/pictures/2021-05/monique-goncalves.png" alt="{{ title }}" title="{{ title }}" /> </div> <div class="author-id-text"> <div> <p>Formada em pedagogia, psicopedagogia e especialista em literatura infantil, Monique atua há quase 20 anos na educação como professora. Também é idealizadora da revista Criança em Foco.</p> <p>Hoje, também trabalha como criadora de conteúdo digital, produzindo conteúdos pedagógicos no Instagram.</p> <p>No Ninhos do Brasil, ela fala sobre questões comportamentais das crianças e suas fases de desenvolvimento.</p> <p>Visite o trabalho da Monique nas redes: <a href="https://www.instagram.com/monique.psicopedagoga/" target="_blank">Instagram</a> | <a href="https://www.facebook.com/psicopedagogamonique/" target="_blank">Facebook</a> | <a href="https://criancaemfoco.wixsite.com/revista?fbclid=IwAR3gfLIPBJBkunGwBrEOPBSBGTtaCfnwsRJzrYATAiHKnq_zBJeY0JP1Efg" target="_blank">Site</a></p> </div> <span> <em>Ver mais</em> <em>Ver menos</em> </span> </div> </div> <h4 class="amb-intro">Últimos conteúdos em Ninhos do Brasil</h4>
  	{% elseif amb == 'negra-li' %}
  		<div class="author-id"> <div class="author-id-photo"> <img src="https://www.ninhosdobrasil.com.br/sites/default/files/styles/media_library/public/2021-05/negra-li-ndb.png" alt="{{ title }}" title="{{ title }}" /> </div> <div class="author-id-text"> <div> <p>Mais uma mamãe por aqui! Cantora e atriz, Negra Li compartilha nas redes e no trabalho toda a sua experiência durante o processo de maternidade.</p> <p>No Ninhos do Brasil, ela compartilha dicas sobre criação e educação dos filhos.</p> <p>Visite o trabalho da Negra Li nas redes: <a href="https://www.instagram.com/negrali/?hl=pt-br" target="_blank">Instagram</a> | <a href="https://www.facebook.com/negralioficial" target="_blank">Facebook</a></p> </div> <span> <em>Ver mais</em> <em>Ver menos</em> </span> </div> </div> <h4 class="amb-intro">Últimos conteúdos em Ninhos do Brasil</h4>
  	{% elseif amb == 'flavia-scherner' %}
  		<div class="author-id"> <div class="author-id-photo"> <img src="https://www.ninhosdobrasil.com.br/sites/default/files/styles/media_library/public/pictures/2021-05/flavia-scherner.png" alt="{{ title }}" title="{{ title }}" /> </div> <div class="author-id-text"> <div> <p>Ex-apresentadora do programa Zoom na TV Cultura, a atriz Flávia Scherner é a criadora do canal do Youtube "Fafá Conta Histórias", que se tornou referência em contação de histórias e literatura infantil.</p> <p>No Ninhos do Brasil, Fafá compartilha descobertas e reflexões para estimular hábitos de leitura entre as crianças.</p> <p>Visite o trabalho da Fafá nas redes: <a href="https://www.instagram.com/fafaconta/?hl=pt-br" target="_blank">Instagram</a> | <a href="https://www.youtube.com/channel/UC9fxSdFjcz5QWDEhYCk" target="_blank">Youtube</a> | <a href="https://www.facebook.com/fafaconta_k1w" target="_blank">Facebook</a> | <a href="https://fafaconta.com.br/" target="_blank">Site</a></p> </div> <span> <em>Ver mais</em> <em>Ver menos</em> </span> </div> </div> <h4 class="amb-intro">Últimos conteúdos em Ninhos do Brasil</h4>
  	{% elseif amb == 'elaine-de-padua' %}
  		<div class="author-id"> <div class="author-id-photo"> <img src="https://www.ninhosdobrasil.com.br/sites/default/files/styles/media_library/public/pictures/2021-05/elaine-de-padua.png" alt="{{ title }}" title="{{ title }}" /> </div> <div class="author-id-text"> <div> <p>Elaine é Mestre em Nutrição, Mestre em Ciências da Saúde e Especialista em Adolescência pela UNIFESP, pós-graduada em Doenças Crônico-Degenerativas pelo Instituto de Pesquisa e Ensino do Hospital Israelita Albert Einstein e autora do livro <em>"O que tem no prato do seu filho? - Um guia prático de nutrição para os pais"</em>.</p> <p>No Ninhos do Brasil, ela ensina pontos importantes sobre nutrição e alimentação infantil.</p><p>Visite o trabalho da Elaine nas redes: <a href="https://www.instagram.com/draelainepadua/?hl=pt-br" target="_blank">Instagram</a> | <a href="https://paisefilhos.uol.com.br/blogs-e-colunistas/dra-elaine-de-padua/" target="_blank">Pais & Filhos</a> | <a href="https://www.facebook.com/dnanutri" target="_blank">Facebook</a> | <a href="https://www.elainepadua.com.br/" target="_blank">Site</a></p></div> <span> <em>Ver mais</em> <em>Ver menos</em> </span> </div> </div> <h4 class="amb-intro">Últimos conteúdos em Ninhos do Brasil</h4>
  	{% elseif amb == 'flavia-valadares' %}
      <div class="author-id"> <div class="author-id-photo"> <img src="https://www.ninhosdobrasil.com.br/sites/default/files/styles/media_library/public/pictures/2021-05/flavia-valadares.png" alt="{{ title }}" title="{{ title }}" /> </div> <div class="author-id-text"> <div> <p>Flávia é educadora, psicopedagoga, neuropsicóloga e pesquisadora. Também fundou as escolas PraticaMente e PedagogicaMente, onde ajuda pais, mães e educadores a colocarem em prática os conceitos da educação neuroafetiva.</p>
      <p>Visite o trabalho da Flávia nas redes: <a target="_blank" href="https://www.instagram.com/pedagogica.mente/">Instagram</a> | <a target="_blank" href="https://www.youtube.com/channel/UCvV-HjkMu-bx-5biyWnDFiw">Youtube</a> | <a target="_blank" href="https://www.facebook.com/Pedagogica.Mente.FlaviaValadares/">Facebook</a> | <a target="_blank" href="https://www.escolapedagogicamente.com.br/">Site</a></p> </div> <span> <em>Ver mais</em> <em>Ver menos</em> </span> </div> </div> <h4 class="amb-intro">Últimos conteúdos em Ninhos do Brasil</h4>
    {% elseif amb == 'baby-and-me' %}
      <div class="author-id"> <div class="author-id-photo"> <img src="https://www.ninhosdobrasil.com.br/sites/default/files/2021-05/baby-and-me.png" alt="{{ title }}" title="{{ title }}" /> </div> <div class="author-id-text"> <div> <p>Nestlé Baby & Me é uma plataforma de relacionamento e informação sobre nutrição e desenvolvimento dos bebês nos primeiros 1.000 dias de vida. Sempre com informações baseadas em evidências científicas, Nestlé Baby & Me é uma rede de acolhimento para que pais e mães possam se sentir mais confiantes na linda tarefa de cuidar de um bebê.</p>
      <p>Conheça mais no <a href="https://www.nestlebabyandme.com.br/" target="_blank">site oficial da plataforma</a>.</p></div> <span> <em>Ver mais</em> <em>Ver menos</em> </span> </div> </div> <h4 class="amb-intro">Últimos conteúdos em Ninhos do Brasil</h4>
    {% elseif amb == 'nestle-por-criancas-mais-saudaveis' %}
      <div class="author-id"> <div class="author-id-photo"> <img src="https://www.ninhosdobrasil.com.br/sites/default/files/styles/media_library/public/2021-05/criancas-saudaveis.png" alt="{{ title }}" title="{{ title }}" /> </div> <div class="author-id-text"> <div> <p>O Programa Nestlé por Crianças Mais Saudáveis é uma iniciativa global da Nestlé, que assumiu o compromisso de ajudar 50 milhões de crianças a serem mais saudáveis até 2030 no mundo todo. Até 2021 foram impactadas mais de 3 milhões de crianças no Brasil.</p><p>Com o lema “muda que elas mudam”, a partir de uma plataforma de conteúdo, o programa estimula famílias a adotarem hábitos mais saudáveis e ainda promove um prêmio nacional que ajuda a transformar a realidade de 10 escolas públicas por ano.</p> <p>Conheça mais no <a href="https://criancasmaissaudaveis.com.br/" target="_blank">site do programa.</a></p></div> <span> <em>Ver mais</em> <em>Ver menos</em> </span> </div> </div> <h4 class="amb-intro">Últimos conteúdos em Ninhos do Brasil</h4>
    {% endif %}
  {% endif %}
{% endif %}
{{ title_suffix }}
