{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<header>
  {{ page.header }}

  {% if logged_in %}
    <div class="hello logged">
      <div>
        <div>
          Olá, {{ cut_username }}
          <ul class="options">
            <li>
              <a href="{{ url('<front>') }}user/basico">
                Meu cadastro
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/conteudos-lidos">
                Conteúdos já lidos
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/favoritos">
                Conteúdos salvos
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/logout">
                Sair
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% else %}
    <div class="hello unlogged">
      <div>
        <div class="btn-login">
          <a href="{{ url('<front>') }}user/entrar">Fazer login</a>
        </div>
        <div>
          <a href="{{ url('<front>') }}user/registrar">
            <button class="register">Criar conta</button>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="parents">
    <div>
      <a href="{{ url('<front>') }}">
        
      </a>
    </div>
    <div>Para mães e pais&nbsp;<br/>em fase de crescimento.</div>
    <div>
      
    </div>
  </div>
  <div class="menu-mobile">
    <div class="menu-icon">
      <label>Fases</label>
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="search-icon">
      <div></div>
    </div>
  </div>
</header>

<div class="menu_and_search">
  <div class="label_menu">
    Em que fase vocês estão?
  </div>
  {{ page.primary_menu }}
</div>
<article id="conteudo">
  <div class="highlighted">
    <aside class="layout-container section clearfix" role="complementary">
      {{ page.highlighted }}
    </aside>
  </div>
  <div class="content_index">
    <div class="product-header">
      <h1 class="page-title">
        NINHO® Fruti
      </h1>
    </div>
    <div class="product-intro">
      <div class="product-intro-image">
        <img src="https://res.cloudinary.com/meeg/image/upload/v1620856705/ninho-nutri_qtddvk.png" alt="NINHO® Fruti" />
      </div>
      <div class="product-intro-infos">
        <p>NINHO® Fruti é uma combinação de vitaminas, minerais e cálcio. O melhor do leite NINHO® com polpa de morango e de banana, em uma forma prática para levar na lancheira.</p>
        <div></div>
        <a class="button buy" href="https://ninho-site.2b.uy?c=s8b7H804G2qZuKC6-47290" data-tobuy-modal="open" data-tobuy-hash="s8b7H804G2qZuKC6-47290">Comprar agora</a>
      </div>
    </div>
    <div class="product-detail">
      <div class="product-detail-header">
        <div class="product-detail-header-nutritional active">
          Informação nutricional
        </div>
        <div class="product-detail-header-composition">
          Ingredientes
        </div>
        <div class="product-detail-header-more">
          Outras informações
        </div>
      </div>
      <div class="product-detail-body">
        <div class="product-detail-body-nutritional active">
          <div class="table-wrap">
             <table>
                <thead>
                   <tr>
                      <th>Produto</th>
                      <th colspan="2">NINHO® Fruti</th>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                      <th colspan="2">Porção de 200ml (1 unidade)</th>
                      <th>%VD(*)</th>
                   </tr>
                   <tr>
                      <td>Valor Energético</td>
                      <td>134 kcal = 563 kJ</td>
                      <td>7%</td>
                   </tr>
                   <tr>
                      <td>Carboidratos</td>
                      <td>22g</td>
                      <td>7%</td>
                   </tr>
                   <tr>
                      <td>Açúcares</td>
                      <td>**</td>
                      <td>**</td>
                   </tr>
                   <tr>
                      <td>Proteínas</td>
                      <td>3,9g</td>
                      <td>5%</td>
                   </tr>
                   <tr>
                      <td>Gorduras totais</td>
                      <td>3,4g</td>
                      <td>6%</td>
                   </tr>
                   <tr>
                      <td>Gorduras Saturada</td>
                      <td>2,1g</td>
                      <td>10%</td>
                   </tr>
                   <tr>
                      <td>Gorduras <i>Trans</i></td>
                      <td>0g</td>
                      <td>**</td>
                   </tr>
                   <tr>
                      <td>Gorduras Monoinsaturadas</td>
                      <td>**</td>
                      <td>**</td>
                   </tr>
                   <tr>
                      <td>Gorduras poli-insaturadas</td>
                      <td>**</td>
                      <td>**</td>
                   </tr>
                   <tr>
                      <td>Ácido docosahexaenóico (DHA)</td>
                      <td>**</td>
                      <td>**</td>
                   </tr>
                   <tr>
                      <td>Ácido eicosapentaenoico (EPA)</td>
                      <td>**</td>
                      <td>**</td>
                   </tr>
                   <tr>
                      <td>Colesterol</td>
                      <td>**</td>
                      <td>**</td>
                   </tr>
                   <tr>
                      <td>Fibra alimentar</td>
                      <td>0g</td>
                      <td>0%</td>
                   </tr>
                   <tr>
                      <td>Sódio</td>
                      <td>140mg</td>
                      <td>6%</td>
                   </tr>
                   <tr>
                      <td>Cálcio</td>
                      <td>252mg</td>
                      <td>25%</td>
                   </tr>
                   <tr>
                      <td>Ferro</td>
                      <td>4,2mg</td>
                      <td>30%</td>
                   </tr>
                   <tr>
                      <td>Zinco</td>
                      <td>**</td>
                      <td>**</td>
                   </tr>
                   <tr>
                      <td>Vitamina A</td>
                      <td>192 µg RE</td>
                      <td>32%</td>
                   </tr>
                   <tr>
                      <td>Vitamina D</td>
                      <td>2,0 µg</td>
                      <td>40%</td>
                   </tr>
                   <tr>
                      <td>Vitamina E</td>
                      <td>**</td>
                      <td>**</td>
                   </tr>
                   <tr>
                      <td>Vitamina C</td>
                      <td>14mg</td>
                      <td>31%</td>
                   </tr>
                   <tr>
                      <td colspan="3">% Valores Diários de referência com base em uma dieta de 2.000 kcal ou 8.400 kJ. Seus valores diários podem ser maiores ou menores dependendo de suas necessidades energéticas. **VD não estabelecido. ***Quantidade suficiente para preparo de 200ml.</td>
                   </tr>
                </tbody>
             </table>
          </div>
        </div>
        <div class="product-detail-body-composition">
          <p>Leite e/ou leite reconstituído, preparado de morando e banana (água, açúcar, amido modificado, polpa de morango, polpa de banana, aromatizantes e corante natural carmim), soro de leite, fosfato tricálcico, vitaminas [C (ácido ascórbico), A (acetato de retinila) e D (colecalciferol)] pirofosfato férrico e estabilizantes celulose microcristalina, carboximetilcelulose sódica, carragena e citrato de sódio. Contém leite e derivados e derivados de soja. Contém lactose. Não contém glúten.</p>
        </div>
        <div class="product-detail-body-more">
          <p>Mantenha em temperatura ambiente. Após aberto, consumir imediatamente.</p>
        </div>
      </div>
    </div>
  </div>      
</article>

<footer>
  <div class="footer-tags">
    <h2>O que você está procurando?</h2>
    <!-- opened_tag_cloud -->
    <ul class="items">
      {% for tag in page.footer.visible_tags %}
        
        <li><a href="{{ tag['#url'] }}">{{ tag['#label'] }}</a></li>

      {% endfor %}
    </ul>
    <!-- opened_tag_cloud -->
  </div>
  <div class="signature">
    <p>Feito com carinho por:</p>
    <a href="https://ninho.com.br"></a>
  </div>
  {{ page.footer }}
</footer>