{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<header>
  {{ page.header }}
  {% if logged_in %}
    <div class="hello logged">
      <div>
        <div>
          Olá, {{ cut_username }}
          <ul class="options">
            <li>
              <a href="{{ url('<front>') }}user/basico">
                Meu cadastro
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/conteudos-lidos">
                Conteúdos já lidos
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/favoritos">
                Conteúdos salvos
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/logout">
                Sair
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% else %}
    <div class="hello unlogged">
      <div>
        <div class="btn-login">
          <a href="{{ url('<front>') }}user/entrar?destination={{ node_url }}">Fazer login</a>
        </div>
        <div>
          <a href="{{ url('<front>') }}user/registrar?destination={{ node_url }}">
            <button class="register">Criar conta</button>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="parents">
    <div>
      <a href="{{ url('<front>') }}"></a>
    </div>
    <div>Para mães e pais&nbsp;<br/>em fase de crescimento.</div>
    <div class="top-image">
      
    </div>
  </div>
  <div class="menu-mobile">
    <div class="menu-icon">
      <label>Fases</label>
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="search-icon">
      <div></div>
    </div>
  </div>
</header>

<div class="menu_and_search">
  <div class="label_menu">
    Em que fase vocês estão?
  </div>
  {{ page.primary_menu }}
</div>
<div class="right-floating-blocks">{{ page.sidebar_second }}</div>
<article id="conteudo">
  {% if is_front %}
  {% if page.highlighted %}
  <div class="highlighted">
    <aside class="layout-container section clearfix" role="complementary">
      {{ page.highlighted }}
    </aside>
  </div>
  {% endif %}
    {{ page.content }}    
  {% else %}
    <section class="content_index">
      {% if page.highlighted %}
      <div class="highlighted">
        <aside class="layout-container section clearfix" role="complementary">
          {{ page.highlighted }}
        </aside>
      </div>
      {% endif %}
      {{ page.content }}
    </section>  
  {% endif %}

  {{ page.sidebar_first }}


</article>

<footer>
  <div class="footer-tags">
    <h2>O que você está procurando?</h2>
    <!-- opened_tag_cloud -->
    <ul class="items">
      {% for tag in page.footer.visible_tags %}
        
        <li><a href="{{ tag['#url'] }}">{{ tag['#label'] }}</a></li>

      {% endfor %}
    </ul>
    <!-- opened_tag_cloud -->
  </div>
  <div class="signature">
    <p>Feito com carinho por:</p>
    <a href="https://ninho.com.br"></a>
  </div>
  {{ page.footer }}
</footer>