{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<header>
  {{ page.header }}

  {% if logged_in %}
    <div class="hello logged">
      <div>
        <div>
          Olá, {{ cut_username }}
          <ul class="options">
            <li>
              <a href="{{ url('<front>') }}user/basico">
                Meu cadastro
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/conteudos-lidos">
                Conteúdos já lidos
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/favoritos">
                Conteúdos salvos
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/logout">
                Sair
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% else %}
    <div class="hello unlogged">
      <div>
        <div class="btn-login">
          <a href="{{ url('<front>') }}user/entrar">Fazer login</a>
        </div>
        <div>
          <a href="{{ url('<front>') }}user/registrar">
            <button class="register">Criar conta</button>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="parents">
    <div>
      <a href="{{ url('<front>') }}">
        
      </a>
    </div>
    <div>Para mães e pais&nbsp;<br/>em fase de crescimento.</div>
    <div>
      
    </div>
  </div>
  <div class="menu-mobile">
    <div class="menu-icon">
      <label>Fases</label>
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="search-icon">
      <div></div>
    </div>
  </div>
</header>

<div class="menu_and_search">
  <div class="label_menu">
    Em que fase vocês estão?
  </div>
  {{ page.primary_menu }}
</div>
<article id="conteudo">
  <div class="highlighted">
    <aside class="layout-container section clearfix" role="complementary">
      {{ page.highlighted }}
    </aside>
  </div>
  <div class="content_index">
    <div class="product-header">
      <h1 class="page-title">
        NINHO® Fases 1+
      </h1>
    </div>
    <div class="product-intro">
      <div class="product-intro-image-large">
        <img src="https://res.cloudinary.com/meeg/image/upload/v1620218337/ninho_fases-01-pack_pgs4cb.png" alt="NINHO® Fases 1+" />
      </div>
      <div class="product-intro-infos">
        <p>NINHO® Fases 1+ é desenvolvido especialmente para crianças de 1 a 3 anos, que estão em uma fase de rápido desenvolvimento e autodescoberta. Ele é uma fórmula infantil de primeira infância, com teor específico de proteínas*, assim como a adição de vitaminas e minerais* e prebióticos, recomendados para essa faixa etária.</p>
        <p>*Assim como toda fórmula infantil de seguimento para crianças de primeira infância.</p>
        <p class="product-intro-infos-warning">
          "O Ministério da Saúde informa: o aleitamento materno evita infecções e alergias e é recomendado até os 2 (dois) anos de idade ou mais". 
        </p>
        <a class="button buy" href="https://ninho-fases-1-site.2b.uy?c=1nK3qD6KylDXkCmS" data-tobuy-modal="open" data-tobuy-hash="1nK3qD6KylDXkCmS">Comprar agora</a>
      </div>
    </div>
    <div class="product-how">
      <h2>Modo de preparo</h2>
      <div class="product-how-steps">
        <div class="product-how-steps-step">
          <span>1</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619046751/NDB/preparo-01_yapd1r.png" />
          <p>Lave bem as mãos, o copo de transição e higienize a superfície de preparo.</p>
        </div>
        <div class="product-how-steps-step">
          <span>2</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619046751/NDB/preparo-02_zlegof.png" />
          <p>Ferva o copo de transição durante 5 minutos ou use um esterilizador adequado.</p>
        </div>
        <div class="product-how-steps-step">
          <span>3</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619047010/NDB/preparo-04_ftzact.png" />
          <p>Ferva a água potável durante 5 minutos. Aguarde 15 minutos até que a água esteja a 70 graus e despeje dentro do copo de transição.</p>
        </div>
        <div class="product-how-steps-step">
          <span>4</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619046751/NDB/preparo-03_zbmklw.png" />
          <p>Adicione o número de medidas nivelandp-a, conforme instruções de uso e agite bem o copo de transição.</p>
        </div>
        <div class="product-how-steps-step">
          <span>5</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619046751/NDB/preparo-05_ecvl3e.png" />
          <p>Aguarde o copo de transição esfriar e verifique a temperatura da fórmula no punho antes de oferecer à criança.</p>
        </div>
        <div class="product-how-steps-step">
          <span>6</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619046751/NDB/preparo-06_emsoqm.png" />
          <p>Feche bem a embalagem após o uso.</p>
        </div>
      </div>
      <div class="product-how-warning">
        Recomendação: até 3 (três) copos por dia.
      </div>
    </div>
    <div class="product-detail">
      <div class="product-detail-header">
        <div class="product-detail-header-nutritional active">
          Informação nutricional
        </div>
        <div class="product-detail-header-composition">
          Ingredientes
        </div>
        <div class="product-detail-header-more">
          Outras informações
        </div>
      </div>
      <div class="product-detail-body">
        <div class="product-detail-body-nutritional active">
          <table class="table-responsive">
            <thead>
              <tr>
                 <th>Produto</th>
                 <th colspan="2">NINHO® Fases 1+</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                 <td></td>
                 <td>Por 100 g de pó</td>
                 <td>Por 100 ml de fórmula reconstituída</td>
              </tr>
              <tr>
                 <td>Valor Energético</td>
                 <td>465 kcal = 1.953 kj</td>
                 <td>67 kcal = 281 kj</td>
              </tr>
              <tr>
                 <td>Carboidratos</td>
                 <td>56 g, dos quais:</td>
                 <td>8,1 g, dos quais:</td>
              </tr>
              <tr>
                 <td>Lactose</td>
                 <td>41 g</td>
                 <td>6,0 g</td>
              </tr>
              <tr>
                 <td>Proteínas</td>
                 <td>13 g</td>
                 <td>1,9 g</td>
              </tr>
              <tr>
                 <td>Gorduras totais</td>
                 <td>21 g, dos quais:</td>
                 <td>3,1 g, dos quais:</td>
              </tr>
              <tr>
                 <td>Gorduras saturadas</td>
                 <td>6,1 g</td>
                 <td>0,9 g</td>
              </tr>
              <tr>
                 <td>Gorduras <i>trans</i></td>
                 <td>0 g</td>
                 <td>0 g</td>
              </tr>
              <tr>
                 <td>Ácido Linoleico</td>
                 <td>3.120 mg</td>
                 <td>450 mg</td>
              </tr>
              <tr>
                 <td>Ácido a-linolênico</td>
                 <td>400 mg</td>
                 <td>58 mg</td>
              </tr>
              <tr>
                 <td>Fibra alimentar</td>
                 <td>2,9 g, dos quais:</td>
                 <td>0,4 g, dos quais:</td>
              </tr>
              <tr>
                 <td>Fruto-oligossacarídeos (FOS)*</td>
                 <td>0,3 g</td>
                 <td>0,04 g</td>
              </tr>
              <tr>
                 <td>Galacto-oligossacarídeos (GOS)*</td>
                 <td>2,6 g</td>
                 <td>0,38 g</td>
              </tr>
              <tr>
                 <td>Sódio</td>
                 <td>186 mg</td>
                 <td>27 mg</td>
              </tr>
              <tr>
                 <td>Cálcio</td>
                 <td>525 mg</td>
                 <td>76 mg</td>
              </tr>
              <tr>
                 <td>Ferro</td>
                 <td>7,4 mg</td>
                 <td>1,1 mg</td>
              </tr>
              <tr>
                 <td>Potássio</td>
                 <td>640 mg</td>
                 <td>93 mg</td>
              </tr>
              <tr>
                 <td>Cloreto</td>
                 <td>297 mg</td>
                 <td>43 mg</td>
              </tr>
              <tr>
                 <td>Fósforo</td>
                 <td>284 mg</td>
                 <td>41 mg</td>
              </tr>
              <tr>
                 <td>Magnésio</td>
                 <td>42 mg</td>
                 <td>6,1 mg</td>
              </tr>
              <tr>
                 <td>Iodo</td>
                 <td>140 µg</td>
                 <td>20 µg</td>
              </tr>
              <tr>
                 <td>Cobre</td>
                 <td>380 µg</td>
                 <td>60 µg</td>
              </tr>
              <tr>
                 <td>Zinco</td>
                 <td>5,5 mg</td>
                 <td>0,79 mg</td>
              </tr>
              <tr>
                 <td>Selênio</td>
                 <td>12 µg</td>
                 <td>1,7 µg</td>
              </tr>
              <tr>
                 <td>Manganês</td>
                 <td>38 µg</td>
                 <td>5,5 µg</td>
              </tr>
              <tr>
                 <td>Vitamina A</td>
                 <td>563 µg RE</td>
                 <td>83 µg RE</td>
              </tr>
              <tr>
                 <td>Vitamina D</td>
                 <td>9,7 µg</td>
                 <td>1,4 µg</td>
              </tr>
              <tr>
                 <td>Vitamina E</td>
                 <td>10 mg a-TE</td>
                 <td>1,5 mg a-TE</td>
              </tr>
              <tr>
                 <td>Vitamina K</td>
                 <td>46 µg</td>
                 <td>6,7 µg</td>
              </tr>
              <tr>
                 <td>Vitamina C</td>
                 <td>80 mg</td>
                 <td>12 mg</td>
              </tr>
              <tr>
                 <td>Vitamina B1</td>
                 <td>0,9 mg</td>
                 <td>0,13 mg</td>
              </tr>
              <tr>
                 <td>Vitamina B2</td>
                 <td>1,3 mg</td>
                 <td>0,19 mg</td>
              </tr>
              <tr>
                 <td>Niacina</td>
                 <td>4,3 mg</td>
                 <td>0,62 mg</td>
              </tr>
              <tr>
                 <td>Vitamina B6</td>
                 <td>0,52 mg</td>
                 <td>0,08 mg</td>
              </tr>
              <tr>
                 <td>Ácido Fólico</td>
                 <td>122 µg</td>
                 <td>18 µg</td>
              </tr>
              <tr>
                 <td>Ácido Pantotênico</td>
                 <td>6,1 mg</td>
                 <td>0,88 mg</td>
              </tr>
              <tr>
                 <td>Vitamina B12</td>
                 <td>1,9 µg</td>
                 <td>0,28 µg</td>
              </tr>
              <tr>
                 <td>Biotina</td>
                 <td>30 µg</td>
                 <td>4,4 µg</td>
              </tr>
              <tr>
                 <td>Colina</td>
                 <td>76 mg</td>
                 <td>11 mg</td>
              </tr>
              <tr>
                 <td>Inositol</td>
                 <td>41 mg</td>
                 <td>5,9 mg</td>
              </tr>
              <tr>
                 <td colspan="3"><strong>Reconstituição com 13,8g de pó e 86 ml de água = 100 ml</strong></td>
              </tr>
              <tr>
                 <td colspan="3"><strong>Capacidade da colher medida 4,6g. *FOS e GOS são prebióticos.</strong></td>
              </tr>
            </tbody>
            </table>
        </div>
        <div class="product-detail-body-composition">
          <p>Leite parcialmente desnatado*, soro de leite desmineralizado*, maltodextrina, galacto-oligossacarídeo, lactose, soro de leite*, óleo de canola, oleína da palma, concentrado proteico de soro de leite*, Cálcio (carbonato de cálcio), fruto-oligossacarídeo, Vitamina C (L-ascorbato de sódio), Ferro (sulfato ferroso), Potássio (cloreto de potássio), Zinco (sulfato de zinco), Vitamina E (acetato de DL-a-tocoferila), Ácido Pantotênico [Vitamina B5] (D-pantotenato de cálcio), Niacina (nicotinamida), Cobre (sulfato de cobre), Vitamina B1 (tiamina mononitrato), Vitamina A (acetato de retinila), Vitamina B6 (cloridrato de piridoxina), Vitamina B2 (riboflavina), Ácido Fólico [Vitamina B9] (ácido N-pteroil-L-glutâmico), Iodo (iodeto de potássio), Vitamina K (fitomenadiona), Biotina (D-biotina), Vitamina D (colecalciferol), Selênio (selenato de sódio), Vitamina B12 (cianocobalamina), emulsificante lecitina de soja e regulador de acidez hidróxido de potássio. ALÉRGICOS: CONTÉM LEITE E DERIVADOS E DERIVADOS DE SOJA. CONTÉM LACTOSE. NÃO CONTÉM GLÚTEN. *fontes proteicas</p>
        </div>
        <div class="product-detail-body-more">
          <p>Conservar a lata bem tampada sempre em local seco, fresco e arejado. Após aberta a embalagem, recomenda-se o consumo do conteúdo em até 30 dias. Este produto é sensível à umidade, mantenha sempre mãos e colher medida secas. Durante o transporte, este produto pode se compactar. Seu volume, contudo, corresponde ao peso líquido indicado. Data de validade indicada no fundo da lata.</p>
        </div>
      </div>
    </div>
  </div>      
</article>

<footer>
  <div class="footer-tags">
    <h2>O que você está procurando?</h2>
    <!-- opened_tag_cloud -->
    <ul class="items">
      {% for tag in page.footer.visible_tags %}
        
        <li><a href="{{ tag['#url'] }}">{{ tag['#label'] }}</a></li>

      {% endfor %}
    </ul>
    <!-- opened_tag_cloud -->
  </div>
  <div class="signature">
    <p>Feito com carinho por:</p>
    <a href="https://ninho.com.br"></a>
  </div>
  {{ page.footer }}
</footer>