{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<header>
  {{ page.header }}

  {% if logged_in %}
    <div class="hello logged">
      <div>
        <div>
          Olá, {{ cut_username }}
          <ul class="options">
            <li>
              <a href="{{ url('<front>') }}user/basico">
                Meu cadastro
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/conteudos-lidos">
                Conteúdos já lidos
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/favoritos">
                Conteúdos salvos
              </a>
            </li>
            <li>
              <a href="{{ url('<front>') }}user/logout">
                Sair
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% else %}
    <div class="hello unlogged">
      <div>
        <div class="btn-login">
          <a href="{{ url('<front>') }}user/entrar">Fazer login</a>
        </div>
        <div>
          <a href="{{ url('<front>') }}user/registrar">
            <button class="register">Criar conta</button>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="parents">
    <div>
      <a href="{{ url('<front>') }}">
        
      </a>
    </div>
    <div>Para mães e pais&nbsp;<br/>em fase de crescimento.</div>
    <div>
      
    </div>
  </div>
  <div class="menu-mobile">
    <div class="menu-icon">
      <label>Fases</label>
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="search-icon">
      <div></div>
    </div>
  </div>
</header>

<div class="menu_and_search">
  <div class="label_menu">
    Em que fase vocês estão?
  </div>
  {{ page.primary_menu }}
</div>
<article id="conteudo">
  <div class="highlighted">
    <aside class="layout-container section clearfix" role="complementary">
      {{ page.highlighted }}
    </aside>
  </div>
  <div class="content_index">
    <div class="product-header">
      <h1 class="page-title">
        NINHO® Nutrigold
      </h1>
    </div>
    <div class="product-intro">
      <div class="product-intro-image">
        <img src="https://res.cloudinary.com/meeg/image/upload/v1619466634/NDB/ninho-nutrigold_oha8s8.png" alt="NINHO® Nutrigold" />
      </div>
      <div class="product-intro-infos">
        <p>NINHO® Nutrigold é uma fórmula infantil de primeira infância desenvolvida especialmente para crianças a partir de 1 ano. Além de prebióticos e importantes vitaminas e minerais recomendados para essa faixa etária, sua fórmula também contém DHA e ARA.</p>
        <p class="product-intro-infos-warning">
          "O Ministério da Saúde informa: o aleitamento materno evita infecções e alergias e é recomendado até os 2 (dois) anos de idade ou mais". 
        </p>
        <a class="button buy" href="https://ninho-site.2b.uy?c=s8b7H804G2qZuKC6-33954" data-tobuy-modal="open" data-tobuy-hash="s8b7H804G2qZuKC6-33954">Comprar agora</a>
      </div>
    </div>
    <div class="product-how">
      <h2>Modo de preparo</h2>
      <div class="product-how-steps">
        <div class="product-how-steps-step">
          <span>1</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619130238/NDB/preparo-01_eb1yh0.png" />
          <p>Lave bem as mãos, o copo de transição e higienize a superfície de preparo.</p>
        </div>
        <div class="product-how-steps-step">
          <span>2</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619130238/NDB/preparo-02_g9rvzm.png" />
          <p>Ferva o copo de transição durante 5 minutos ou use um esterilizador adequado.</p>
        </div>
        <div class="product-how-steps-step">
          <span>3</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619130238/NDB/preparo-03_xebfxq.png" />
          <p>Ferva água potável durante 5 minutos. Aguarde aproximadamente 15 minutos, até que a água atinja a temperatura de 70ºC.</p>
        </div>
        <div class="product-how-steps-step">
          <span>4</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619130238/NDB/preparo-04_il1nkr.png" />
          <p>Despeje dentro do copo de transição a quantidade de água, a 70ºC, indicada nas instruções de uso.</p>
        </div>
        <div class="product-how-steps-step">
          <span>5</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619130238/NDB/preparo-05_qvtxak.png" />
          <p>Encha a colher medida que está no interior da lata e retire o excesso de pó, nivelando-o.</p>
        </div>
        <div class="product-how-steps-step">
          <span>6</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1622494741/NDB/Ninho%20Gold/preparo-06_wy9zny.png" />
          <p>Adicione 7 colheres medidas para 210 ml de água, conforme instruções de uso.</p>
        </div>
        <div class="product-how-steps-step">
          <span>7</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619130238/NDB/preparo-07_bjwwqm.png" />
          <p>Agite bem o copo de transição para melhorar a diluição do produto.</p>
        </div>
        <div class="product-how-steps-step">
          <span>8</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619130238/NDB/preparo-08_mxnljf.png" />
          <p>Aguarde o copo de transição esfriar e verifique a temperatura da fórmula no punho antes de oferecer à criança (aproximadamente 40ºC).</p>
        </div>
        <div class="product-how-steps-step">
          <span>9</span>
          <img src="https://res.cloudinary.com/meeg/image/upload/v1619130238/NDB/preparo-09_cnqxmv.png" />
          <p>Após o uso, armazene a colher em suspensão dentro da lata, como mostrado. Feche bem a lata após o uso.</p>
        </div>
      </div>
      <div class="product-how-warning">
        *Utilizar somente água previamente fervida ou filtrada.</br>
        **Rendimento: 380g * 2.9litros (14 copos).
      </div>
    </div>
    <div class="product-detail">
      <div class="product-detail-header">
        <div class="product-detail-header-nutritional active">
          Informação nutricional
        </div>
        <div class="product-detail-header-composition">
          Ingredientes
        </div>
        <div class="product-detail-header-more">
          Outras informações
        </div>
      </div>
      <div class="product-detail-body">
        <div class="product-detail-body-nutritional active">
          <table class="table-responsive">
            <thead>
              <tr>
                 <th>Produto</th>
                 <th colspan="2">NINHO® Nutrigold</th>
              </tr>
            </thead>
              <tbody>
                    <tr>
                        <th colspan="2">Quantidade de porção (100g do pó)</th>
                    </tr>
                    <tr>
                        <td> Valor energético </td>
                        <td> 471kcal </td>
                    </tr>
                    <tr>
                        <td> Valor energético </td>
                        <td> 1978kJ </td>
                    </tr>
                    <tr>
                        <td> Carboidratos </td>
                        <td> 61g </td>
                    </tr>
                    <tr>
                        <td> Proteínas </td>
                        <td> 14g </td>
                    </tr>
                    <tr>
                        <td> Gorduras totais </td>
                        <td> 19g </td>
                    </tr>
                    <tr>
                        <td> Gorduras saturadas </td>
                        <td> 5,5g </td>
                    </tr>
                    <tr>
                        <td> Gorduras trans </td>
                        <td> 0g </td>
                    </tr>
                    <tr>
                        <td> Ácido linoleico </td>
                        <td> 3,8g </td>
                    </tr>
                    <tr>
                        <td> Ácido α- linolênico </td>
                        <td> 450mg </td>
                    </tr>
                    <tr>
                        <td> Ácido docosahexaenóico (DHA) </td>
                        <td> 45mg </td>
                    </tr>
                    <tr>
                        <td> Ácido araquidônico (ARA) </td>
                        <td> 45mg </td>
                    </tr>
                    <tr>
                        <td> Fibra alimentar, da qual </td>
                        <td> 2,9g </td>
                    </tr>
                    <tr>
                        <td> Galactooligossacarídeos (GOS) </td>
                        <td> 2,6g </td>
                    </tr>
                    <tr>
                        <td> Frutooligossacarídeos (FOS) </td>
                        <td> 0,3g </td>
                    </tr>
                    <tr>
                        <td> Sódio </td>
                        <td> 230mg </td>
                    </tr>
                    <tr>
                        <td> Cálcio </td>
                        <td> 600mg </td>
                    </tr>
                    <tr>
                        <td> Ferro </td>
                        <td> 7,7mg </td>
                    </tr>
                    <tr>
                        <td> Potássio </td>
                        <td> 670mg </td>
                    </tr>
                    <tr>
                        <td> Cloreto </td>
                        <td> 300mg </td>
                    </tr>
                    <tr>
                        <td> Fósforo </td>
                        <td> 350mg </td>
                    </tr>
                    <tr>
                        <td> Magnésio </td>
                        <td> 50mg </td>
                    </tr>
                    <tr>
                        <td> Iodo </td>
                        <td> 155µg </td>
                    </tr>
                    <tr>
                        <td> Cobre </td>
                        <td> 400µg </td>
                    </tr>
                    <tr>
                        <td> Zinco </td>
                        <td> 5,8mg </td>
                    </tr>
                    <tr>
                        <td> Selênio </td>
                        <td> 9,3µg </td>
                    </tr>
                    <tr>
                        <td> Manganês </td>
                        <td> 40µg </td>
                    </tr>
                    <tr>
                        <td> Vitamina A </td>
                        <td> 530µg RE </td>
                    </tr>
                    <tr>
                        <td> Vitamina D </td>
                        <td> 11µg </td>
                    </tr>
                    <tr>
                        <td> Vitamina E </td>
                        <td> 10mg α TE </td>
                    </tr>
                    <tr>
                        <td> Vitamina K </td>
                        <td> 50µg </td>
                    </tr>
                    <tr>
                        <td> Vitamina C </td>
                        <td> 85mg </td>
                    </tr>
                    <tr>
                        <td> Vitamina B1 </td>
                        <td> 1,1mg </td>
                    </tr>
                    <tr>
                        <td> Vitamina B2 </td>
                        <td> 1,3mg </td>
                    </tr>
                    <tr>
                        <td> Niacina </td>
                        <td> 4,5mg </td>
                    </tr>
                    <tr>
                        <td> Vitamina B6 </td>
                        <td> 0,6mg </td>
                    </tr>
                    <tr>
                        <td> Ácido fólico </td>
                        <td> 150µg </td>
                    </tr>
                    <tr>
                        <td> Ácido pantotênico </td>
                        <td> 5,5mg </td>
                    </tr>
                    <tr>
                        <td> Vitamina B12 </td>
                        <td> 1,3µg </td>
                    </tr>
                    <tr>
                        <td> Biotina </td>
                        <td> 20µg </td>
                    </tr>
                    <tr>
                        <td> Colina </td>
                        <td> 63mg </td>
                    </tr>
                    <tr>
                        <td> Inositol </td>
                        <td> 36mg </td>
                    </tr>
                    <tr>
                        <td colspan="2"> Reconstituição com 14,2 g de pó e 90 ml de água = 100 ml </td>
                    </tr>
                    <tr>
                        <td colspan="2"> Capacidade da colher medida: 4,74 g. Produto não acidificado. </td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Este produto não possui adição de açúcar, apenas açúcares naturalmente presentes no leite.</strong></td>
                    </tr>
                  </tbody>
            </table>
        </div>
        <div class="product-detail-body-composition">
          <p>Ingredientes: soro de leite desmineralizado*, leite desnatado*, maltodextrina, lactose, oleína de palma, galactooligossacarídeos, óleo de canola com baixo teor erúcico, óleo de girassol, sais minerais (citrato de cálcio, fosfato de potássio, fosfato de sódio, cloreto de magnésio, sulfato ferroso, sulfato de zinco, sulfato de cobre, iodeto de potássio e selenato de sódio), frutooligossacarídeos, óleo de peixe, vitaminas (L-ascorbato de sódio, acetato de DL-α-tocoferila, D-pantotenato de cálcio, nicotinamida, tiamina mononitrato, acetato de retinila, cloridrato de piridoxina, riboflavina, ácido N-pteroil-L-glutâmico, filoquinona, D-biotina, colecalciferol, cianocobalamina), óleo de Mortierella alpina, emulsificante lecitina de soja e acidulantes hidróxido de potássio e ácido cítrico. NÃO CONTÉM GLÚTEN. ALÉRGICOS: CONTÉM LEITE E DERIVADOS E DERIVADOS DE PEIXE E SOJA. *Fonte protéica. Este produto não possui adição de açúcar, apenas açúcares naturalmente presentes no leite.</p>
        </div>
        <div class="product-detail-body-more">
          <p>Ofereça apenas o produto preparado no momento do consumo. Contudo, quando for absolutamente necessário, o produto reconstituído deve ser refrigerado a temperatura inferior a 5°C, por no máximo 24 horas. Após aberta a embalagem, recomenda-se o consumo do conteúdo em até 30 dias. Conservar a lata sempre em local fresco e arejado.</p>
        </div>
      </div>
    </div>
  </div>      
</article>

<footer>
  <div class="footer-tags">
    <h2>O que você está procurando?</h2>
    <!-- opened_tag_cloud -->
    <ul class="items">
      {% for tag in page.footer.visible_tags %}
        
        <li><a href="{{ tag['#url'] }}">{{ tag['#label'] }}</a></li>

      {% endfor %}
    </ul>
    <!-- opened_tag_cloud -->
  </div>
  <div class="signature">
    <p>Feito com carinho por:</p>
    <a href="https://ninho.com.br"></a>
  </div>
  {{ page.footer }}
</footer>