{% if not isUserView %}
<section class="today_contents" id="embaixadores">
	<div class="section_guide">
		<div>
			<div class="ambassador_allegory"></div>
			<h2>Nossos Embaixadores</h2>
			<p>Pessoas que estão com a gente para trazer apoio e informação para você</p>
		</div>
	</div>
	<div class="owl-carousel owl-carousel3 owl-theme section_content"> 
	    {% for user in users %}
	        <a href="{{ user.lastPostUrl }}" class="section_content_item ambassador_item age_{{ user.lastPostTag|replace({'-': '_', ' ': ''}) }}">
				<div class="line_03">
					<div class="line_03_header">
						<figure>
							<img src="{{ user.picture }}" alt="{{ user.name }}">
						</figure>
						<label>{{ user.name }}</label>
					</div>
					<h3>{{ user.lastPostTitle }}</h3>
				</div>
			</a>
	    {% endfor %}
	    <!-- aqui, sempre teremos o botão de ver tudo :) -->
		<a class="more-items" href="{{ url('<front>') }}lista/embaixadores">
			<span>Ver todos</span>
		</a>
    </div>
</div>
{% else %}
 	{% for user in users %}
 		<div class="author_information_block"> 
 			<div class="picture_author">
				<figure>
					<img src="{{ user.picture }}" alt="{{ user.name }}">
				</figure>
			</div>
			<div class="name_posttitle_athor">
				<label>
					{{ user.name }}
					<span>|</span>
					{% if user.name == 'Negra Li' %}
						<a href="/embaixadores/negra-li">Ver Mais</a>
					{% elseif user.name == 'Monique Gonçalves' %}
						<a href="/embaixadores/monique-goncalves">Ver Mais</a>
					{% elseif user.name == 'Flávia Scherner' %}
						<a href="/embaixadores/flavia-scherner">Ver Mais</a>
					{% elseif user.name == 'Elaine de Pádua' %}
						<a href="/embaixadores/elaine-de-padua">Ver Mais</a>
					{% elseif user.name == 'Flávia Valadares' %}
						<a href="/embaixadores/flavia-valadares">Ver Mais</a>
					{% elseif user.name == 'Nestlé por Crianças mais Saudáveis' %}
						<a href="/embaixadores/nestle-por-criancas-mais-saudaveis">Ver Mais</a>
					{% elseif user.name == 'Baby and Me' %}
						<a href="/embaixadores/baby-and-me">Ver Mais</a>
					{% endif %}
				</label>
				<a href="{{ user.lastPostUrl }}" class="posttitle_author_title">{{ user.lastPostTitle }}</a>
			</div>
 		</div>
	{% endfor %}
{% endif %}