

<ul>
    {% for upload in data %}
    {% set campaignImage = file_url(upload.image.entity.uri.value) %}
        <li>Descrição: {{ upload.description.value }}</li>
        <li>Autor: {{ upload.user_id.entity.name.value }}</li>
        <li>Categoria: {{ upload.category.value }}</li>
        <li>

        <div class="image">
            <img  src="{{ campaignImage }}"/>
        </div>
        </li>
        <hr>
    {% endfor %}

</ul>

