<!-- Se é um node -->
{% if isFrontPage %}

    <a href="{{ ad.link.url }}" class="nodefloat_ads {% if activeRange %}range_{{ activeRange|lower|replace({'-': '_', ' ': '', '+': ''}) }}{% endif %}">
        <strong>{{ ad.title }}</strong>
        <label>{{ ad.link.text }}</label>
        <span><img src="{{ ad.image.url }}"></span>
    </a>

<!-- Se NÃO é um node -->
{% else %}
    {% if fixedAd %}
        <section class="announcement default-ad">
            <div class="title_announcement">
               Cada mãe, um carinho. Cada filho, um NINHO ®
            </div>
            <div class="end">
                <div class="foto">
                    <img src="https://res.cloudinary.com/mais-shows/image/upload/v1620856454/ninho/produtos/product_default_p0dgr3.png" alt="Cada mãe, um carinho. Cada filho, um NINHO ®" title="Cada mãe, um carinho. Cada filho, um NINHO ®" />
                </div>
                <p>NINHO ® oferece uma linha completa de produtos para oferecer a melhor nutrição e ajudar no desenvolvimento do seu filho ou da sua filha.<br/><br/></p>
                <p>Para os pequenos exploradores: NINHO ® Fases 1+ e 3+. Para os mais crescidinhos: o NINHO ® Forti+ Instantâneo ou Integral. E, para necessidades específicas, as linhas especiais NINHO ® Forti+ Levinho, NINHO ® Forti+ Zero Lactose, NINHO ® Origem Vegetal e NINHO ® Orgânico.<br/><br/></p>
                <p>Todos os produtos são desenvolvidos para atender as necessidades nutricionais de cada fase e garantir o crescimento saudável dos brasileirinhos.</p>
                <a href="https://ninho-site.2b.uy?c=s8b7H804G2qZuKC6" data-tobuy-modal="open" data-tobuy-hash="s8b7H804G2qZuKC6">
                    <button>
                        <div class="more">Ver ofertas</div>    
                        <div class="logo_external_white"></div>
                    </button>
                </a>
            </div>
        </section>
    {% else %}
        <section class="announcement {% for key, values in ad.tags %}{% for value in values %}ad-{{ value.name|replace({'-': '_', ' ': '', '+': ''}) }} {% endfor %}{% endfor %} {% if activeRange %}range_{{ activeRange|lower|replace({'-': '_', ' ': '', '+': ''})  }}{% endif %}">
            <div class="title_announcement">
                {{ ad.title }}
            </div>
            <div class="foto">
                <img src="{{ ad.image.url }}">
            </div>
            <div class="end">
                {{ ad.body|raw }}
                <span>"O Ministério da Saúde informa: o aleitamento materno evita infecções e alergias e é recomendado até os 2 (dois) anos de idade ou mais".</span>
                <a href="{{ ad.link.url }}">
                    <button>
                        <div class="more">{{ ad.link.text }}</div>    
                        <div class="logo_external_white"></div>
                    </button>
                </a>
            </div>
            <div class="ad_fixed_image">
        </section>
    {% endif %}
{% endif %}
