{{ attach_library('block_content/forms') }}

<div class="new_overlay popup_interests"></div>
<div class="content_new_overlay popup_interests">
  <section class="interests">
    <div class="intro_popup">
      <div>
        <span class="close_config"></span>
      </div>
      <h2>Seus Interesses</h2>
      <p>Escolha aqui os conteúdos que você verá na sua home.</p> 
    </div>
    <div class="age_filter">
      <legend>
        <!-- <span class="fieldset-legend">Filtro de idade</span> -->
      </legend>
      {{ forms.faixaetaria }}
    </div>
  </section>
</div>
