{% if not fixedAd or ad != [] %}
    <div class="horizontal_banner item_{{ ad.id }}">
    	<div class="horizontal_banner_close"></div>
	    <a href="{{ ad.link.url }}" class="nodefloat_ads {% if activeRange %}range_{{ activeRange|lower|replace({'-': '_', ' ': '', '+': ''}) }}{% endif %}">
	    	<span><img src="{{ ad.image.url }}"></span>
	        <strong>{{ ad.title }}</strong>
	        <label>{{ ad.link.text }}</label>
	    </a>
	</div>
{% else %}
    <!-- default ad -->
    <style type="text/css">#block-floatingad{display: none;}</style>
{% endif %}
