{% if not nodes == [] %} 
    <section class="today_contents" id="articles">
        <h3>Outros conteúdos que podem lhe ajudar:</h3>
        <div class="related_list">
            {% for node in nodes %}
                <a href="{{ node.url }}" class="section_content_item default-block age_{{ node.tags.faixa_etaria.0.name|lower|replace({'-': '_', ' ': ''}) }}">
                <div class="line_01_up">
                    {% if node.read %}
                        <strong>Já lido</strong>
                    {% endif %}
                    <img src="{{ node.picture }}">
                </div>
                <div class="line_01_down">
                    <h2>
                    {{ node.title }}
                    </h2>
                    <!-- <label> -->
                    <!-- Leitura de 2 minutos -->
                    <!-- </label> -->
                    <div class="metatags">
                    <!--<span class="type">
                        {{ node.type }}
                    </span>-->
                    <!-- Se tiver multiplas tags -->
                    {% if node.tags.interesses|length > 1 %}
                    <span class="tag">
                        {{ node.tags.interesses[0].name }} 
                    </span>
                    <strong>
                        +{{ node.tags.interesses|length - 1 }}
                    </strong>
                    <!-- Se tiver apenas uma tag -->
                    {% else %}
                        <span class="tag">
                        {{ node.tags.interesses[0].name }}
                        </span>
                    {% endif %}
                    </div>
                </div>
                </a>
            {% endfor %}
            {% if showMore %}
                <a class="more-items" href="{{ url('<front>') }}lista/conteudos">
                <span>Ver tudo</span>
                </a>
            {% endif %}
        </div>
    </section>
{% endif %}