<a href="{{ topic.url }}" class="section_content_item topic_item age_{{ topic.ageRange|lower|replace({'-': '_', ' ': '', '+': ''}) }}">
  <div class="line_02">
    <h2>{{ topic.title }}</h2>
    <div class="author">{{ topic.author }} 
      {% if topic.location %}
        de {{ topic.location }}
      {% endif %}
    </div>
    <label>{{ topic.commentsCount }} comentário(s)</label>
  </div>
</a>