{% if (mainPage and not logged_in) or (mainPage and ageRange == []) %}
  <div class="block_todas block_home your_phase_show active">
    <div class="img_phase_show">
      <span>
        <div></div>
        <label>Vamos crescer juntos?</label>
      </span>
    </div> 
    <div class="your_phase_description_show"> 
      <div class="your_phase_age_show">
        Olá. Você está vendo conteúdo de todas as fases.
      </div>
      <p>Cada criança é única, e cada família também. A cada ano, são novos desafios que se apresentam. Mas uma coisa não muda: enquanto nossos filhos crescem, a gente cresce junto – como mães, como pais, como seres humanos, enfim. Vamos juntos? Que bom que você está aqui 💛</p>
      <div class="down_phase_show"></div>
    </div> 
  </div> 
{% else %}
  {% if ageRange.label == '1 - 2' %}
    <div class="block_12 your_phase_show active">
  {% elseif ageRange.label == '3 - 4' %}
    <div class="block_34 your_phase_show active">
  {% elseif ageRange.label == '5 - 6' %}
    <div class="block_56 your_phase_show active">
  {% elseif ageRange.label == '7 - 8' %}
    <div class="block_78 your_phase_show active">
  {% elseif ageRange.label == '9+' %}
    <div class="block_9 your_phase_show active">
  {% elseif ageRange.label == 'Todas as fases' %}
    <div class="block_todas your_phase_show active">
  {% else %}
    <div class="your_phase_show active">
  {% endif %}
    <div class="img_phase_show">
      <span>
        <div></div>
        <label>Vamos crescer juntos?</label>
      </span>
    </div> 
    <div class="your_phase_description_show"> 
      <div class="your_phase_age_show">
        {% if ageRange.label == 'Todas as fases' %}
          {% if logged_in %}
            {% set filteredName = user.getUsername|split('-') %}
            {% set filteredName =  filteredName[0] %}
            Olá, {{ filteredName }}. Você está vendo conteúdo de todas as fases.
          {% else %}
            Olá. Você está vendo conteúdo de todas as fases.
          {% endif %}
        {% else %}
          {% if logged_in %}
            {% set filteredName = user.getUsername|split('-') %}
            {% set filteredName =  filteredName[0] %}
            Olá, {{ filteredName }}. Você está na fase dos {{ ageRange.label }} anos.
          {% else %}
            Olá. Você está na fase dos {{ ageRange.label }} anos.
          {% endif %}
        {% endif %}
      </div>
      {% if ageRange.label == '1 - 2' %}
        <p>Eles aprendem a falar, e a gente a decifrar o que eles querem dizer. Eles aprendem a andar, e a gente aprende a confiar nos passos deles (e a fazer curativos também). Seu bebê está virando uma criança! Parabéns a você que está aprendendo e crescendo junto. Esta linda jornada ainda está no início, e que bom que estamos juntos! 💛</p>
      {% elseif ageRange.label == '3 - 4' %}
        <p>Tem criança pequena mostrando personalidade por aí? Aos poucos, eles aprendem sobre os limites, enquanto a gente descobre os nossos. Eles descobrem suas individualidades, e a gente começa a redescobrir a nossa. Eles estão crescendo, e nós também. Vamos conversar sobre os desafios e delícias dessa fase? É só entrar e explorar 💛</p>
      {% elseif ageRange.label == '5 - 6' %}
        <p>Seu filho não para de te surpreender? No período dos 5 aos 6 anos faltam explicações para tantas perguntas, não é? Mas, no final, buscar as respostas faz a gente aprender também. Bem-vinda, bem-vindo à fase dos porquês! Vem crescer com a gente 💛</p>
      {% elseif ageRange.label == '7 - 8' %}
        <p>Seu filho é oficialmente uma criança grande, e começa a enfrentar suas primeiras responsabilidades. Que momento para toda a família! As perguntas são muitas, e cada vez mais complexas – e não são só eles que têm dúvidas. Estamos todos descobrindo e crescendo juntos, sempre. Este espaço é justamente para isso 💛</p>
      {% elseif ageRange.label == '9+' %}
        <p>Crianças ou pré-adolescentes? Bora dar as mãos para nos prepararmos para o que vem por aí? Novas dificuldades, muitos enfrentamentos, mas também novos parceiros para a vida: que apresentam as novidades da música, da moda ou da tecnologia. Vamos conversar mais sobre isso? Explore os conteúdos, sugira assuntos, participe! 💛</p>
      {% elseif ageRange.label == 'Todas as fases' %}
        <p>Cada criança é única, e cada família também. A cada ano, são novos desafios que se apresentam. Mas uma coisa não muda: enquanto nossos filhos crescem, a gente cresce junto – como mães, como pais, como seres humanos, enfim. Vamos juntos? Que bom que você está aqui 💛</p>
      {% endif %}
      {% if mainPage %}
        <p>Você está vendo conteúdos desta faixa porque registrou uma criança desta idade. <a href="#" class="open_interests">Alterar Fase</a></p>        
      {% endif %}
      <div class="down_phase_show"></div>
    </div> 
  </div>
{% endif %}