{% if not nodes == [] %}
    <section class="related_contents" id="rede">
        <h3>Outros conteúdos que podem lhe ajudar:</h3>
        <div class="related_list">
            {% for node in nodes %}
            <a href="{{ node.url }}" class="section_content_item topic_item age_{{ node.tags.faixa_etaria.0.name|lower|replace({'-': '_', ' ': '', '+': ''}) }}">
                <div class="line_02">
                <h2>{{ node.title }}</h2>
                <div class="author">
                    {{ node.author }} 
                    {% if node.location %}
                        de {{ node.location }}
                    {% endif %}
                </div>
                <label>{{ node.commentsCount }} comentário(s)</label>
                </div>
            </a>
            {% endfor %}
            {% if showMore %}
            <a class="more-items" href="{{ url('<front>') }}forum">
                <span>Ver tudo</span>
            </a>
            {% endif %}
        </div>
    </section>
{% endif %}