<section class="today_contents" id="rede">
    <div class="section_guide">
      <div>
        <div class="topics_allegory"></div>
        <h2>Rede de Carinho</h2>
        <p>Conecte-se às famílias que estão na mesma fase</p>
        <div class="guide_tags">
          {% if ageTags %}
          <div class="tag_age">
            {{ ageTags|replace('-', 'a') }} Anos
          </div>
          {% endif %}
        </div>

        {% if logged_in %}
            <a href="#rede" class="config open_interests">Clique aqui e escolha sobre o que você quer ler</a>
        {% else %}
            <a href="/user/entrar" class="config">Faça login e escolha o que você quer ler</a>
        {% endif %}
        
      </div>
    </div>
    <div class="owl-carousel owl-carousel3 owl-theme section_content">
        {% for node in nodes %}
          <a href="{{ node.url }}" class="section_content_item topic_item age_{{ node.tags.faixa_etaria.0.name|lower|replace({'-': '_', ' ': '', '+': ''}) }}">
            <div class="line_02">
              <h2>{{ node.title }}</h2>
              <span>{{ node.forum }}</span>
              <div class="author">{{ node.author }} 
                {% if node.location %}
                  de {{ node.location }}
                {% endif %}
              </div>
              <label>{{ node.commentsCount }} comentário(s)</label>
            </div>
          </a>
        {% endfor %}
        {% if forumAgeRangeId %}
        <a class="more-items" href="{{ url('<front>') }}forum/{{ forumAgeRangeId }}">
        {% else %}
        <a class="more-items" href="{{ url('<front>') }}forum">
        {% endif %}
          <span>Ver tudo</span>
        </a>
    </div>
</section>


    
    