{% if not isUserView %}
    {% if nodes != [] %}
    <section class="today_contents" id="conteudos-hoje">
        <div class="section_guide">
            <div>
            <h2>Reveja:</h2>
            <p>Estes conteúdos já foram vistos por você</p>
            </div>
        </div>
        <div class="owl-carousel owl-carousel4 owl-theme section_content">
            {% for node in nodes %}
                <a href="{{ node.url }}" class="section_content_item default_item age_{{ node.tags.faixa_etaria.0.name|lower|replace({'-': '_', ' ': '', '+': ''}) }}">
                    <div class="line_01_up">
                        <img src="{{ node.picture }}">
                    </div>
                    <div class="line_01_down">
                        <h2>
                            {{ node.title }}
                        </h2>
                        <!-- <label> -->
                            <!-- Leitura de 2 minutos -->
                        <!-- </label> -->
                        <div class="metatags">
                            <!--<span class="type">
                                {{ node.type }}
                            </span>-->
                            <!-- Se tiver multiplas tags -->
                            {% if node.tags.interesses|length > 1 %}
                                <span class="tag">
                                    {{ node.tags.interesses[0].name }} 
                                </span>
                                <strong>
                                    +{{ node.tags.interesses|length - 1 }}
                                </strong>
                            <!-- Se tiver apenas uma tag -->
                            {% else %}
                                <span class="tag">
                                    {{ node.tags.interesses[0].name }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
            {% if showMore %}
            <a class="more-items" href="{{ url('<front>') }}user/conteudos-lidos">
            <span>Ver tudo</span>
            </a>
            {% endif %}
        </div>
    </section>
    {% endif %}
{% else %}    
    {% if nodes != [] %}
        {% for node in nodes %}
        <a href="{{ node.url }}" class="block age_{{ node.tags.faixa_etaria.0.name|lower|replace({'-': '_', ' ': '', '+': ''}) }}">
            <div class="block_up">
            <div>
                <img src="{{ node.picture }}" alt="{{ node.title }}" title="{{ node.title }}">
            </div>
            <div class="read">Já Lido</div>
            </div>
            <div class="block_down">
                <h2>{{ node.title }}</h2>
                <!-- <div>Leitura de 2 minutos</div> -->
                <div class="text">
                    <p>{{ node.type }}</p>
                    <!-- Se tiver multiplas tags -->
                    {% if node.tags.interesses|length > 1 %}
                        <span class="tag">
                            {{ node.tags.interesses[0].name }} 
                        </span>
                        <strong>
                            +{{ node.tags.interesses|length - 1 }}
                        </strong>
                    <!-- Se tiver apenas uma tag -->
                    {% else %}
                        <span class="tag">
                            {{ node.tags.interesses[0].name }}
                        </span>
                    {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}
    {% else %}
        <strong class="content-empty">Você ainda não leu conteúdos.</strong>
    {% endif %}
{% endif %}