.paragraph--type--ln-c-cardgrid {
	.h1 {
		font-weight: 200;
		line-height: 1.25;
		margin: 0 0 1rem !important;
		-webkit-transition: font-size 250ms linear, opacity 250ms linear;
		transition: font-size 250ms linear, opacity 250ms linear;
	}
	.h2 {
		font-weight: 200;
		line-height: 1.25;
		margin: 0 0 1rem !important;
		-webkit-transition: font-size 250ms linear, opacity 250ms linear;
		transition: font-size 250ms linear, opacity 250ms linear;
	}
	.h3 {
		font-weight: 200;
		line-height: 1.25;
		margin: 0 0 1rem !important;
		-webkit-transition: font-size 250ms linear, opacity 250ms linear;
		transition: font-size 250ms linear, opacity 250ms linear;
	}
	.h4 {
		font-weight: 200;
		line-height: 1.25;
		margin: 0 0 1rem !important;
		-webkit-transition: font-size 250ms linear, opacity 250ms linear;
		transition: font-size 250ms linear, opacity 250ms linear;
	}
	.h5 {
		font-weight: 200;
		line-height: 1.25;
		margin: 0 0 1rem !important;
		-webkit-transition: font-size 250ms linear, opacity 250ms linear;
		transition: font-size 250ms linear, opacity 250ms linear;
	}
	.h6 {
		font-weight: 200;
		line-height: 1.25;
		margin: 0 0 1rem !important;
		-webkit-transition: font-size 250ms linear, opacity 250ms linear;
		transition: font-size 250ms linear, opacity 250ms linear;
	}
	h1 {
		font-weight: 200;
		line-height: 1.25;
		margin: 0 0 1rem !important;
		-webkit-transition: font-size 250ms linear, opacity 250ms linear;
		transition: font-size 250ms linear, opacity 250ms linear;
	}
	h2 {
		font-weight: 200;
		line-height: 1.25;
		margin: 0 0 1rem !important;
		-webkit-transition: font-size 250ms linear, opacity 250ms linear;
		transition: font-size 250ms linear, opacity 250ms linear;
	}
	h3 {
		font-weight: 200;
		line-height: 1.25;
		margin: 0 0 1rem !important;
		-webkit-transition: font-size 250ms linear, opacity 250ms linear;
		transition: font-size 250ms linear, opacity 250ms linear;
	}
	h4 {
		font-weight: 200;
		line-height: 1.25;
		margin: 0 0 1rem !important;
		-webkit-transition: font-size 250ms linear, opacity 250ms linear;
		transition: font-size 250ms linear, opacity 250ms linear;
	}
	h5 {
		font-weight: 200;
		line-height: 1.25;
		margin: 0 0 1rem !important;
		-webkit-transition: font-size 250ms linear, opacity 250ms linear;
		transition: font-size 250ms linear, opacity 250ms linear;
	}
	h6 {
		font-weight: 200;
		line-height: 1.25;
		margin: 0 0 1rem !important;
		-webkit-transition: font-size 250ms linear, opacity 250ms linear;
		transition: font-size 250ms linear, opacity 250ms linear;
	}
	[data-card-number-of-columns="1"] {
		.field__items {
			>.field__item {
				min-width: calc(100% / 1);
			}
		}
	}
	[data-card-number-of-columns="1"][data-card-style="ln_c_gridcard_basic_style_2"] {
		.field__items {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	[data-card-number-of-columns="1"][data-card-style="ln_c_gridcard_basic_style_3"] {
		.field__items {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	[data-card-number-of-columns="2"] {
		.field__items {
			>.field__item {
				min-width: calc(100% / 2);
			}
		}
	}
	[data-card-number-of-columns="2"][data-card-style="ln_c_gridcard_basic_style_2"] {
		.field__items {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	[data-card-number-of-columns="2"][data-card-style="ln_c_gridcard_basic_style_3"] {
		.field__items {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	[data-card-number-of-columns="3"] {
		.field__items {
			>.field__item {
				min-width: calc(100% / 3);
			}
		}
	}
	[data-card-number-of-columns="3"][data-card-style="ln_c_gridcard_basic_style_2"] {
		.field__items {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	[data-card-number-of-columns="3"][data-card-style="ln_c_gridcard_basic_style_3"] {
		.field__items {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	[data-card-number-of-columns="4"] {
		.field__items {
			>.field__item {
				min-width: calc(100% / 4);
			}
		}
	}
	[data-card-number-of-columns="4"][data-card-style="ln_c_gridcard_basic_style_2"] {
		.field__items {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	[data-card-number-of-columns="4"][data-card-style="ln_c_gridcard_basic_style_3"] {
		.field__items {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	[data-card-number-of-columns="5"] {
		.field__items {
			>.field__item {
				min-width: calc(100% / 5);
			}
		}
	}
	[data-card-number-of-columns="5"][data-card-style="ln_c_gridcard_basic_style_2"] {
		.field__items {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	[data-card-number-of-columns="5"][data-card-style="ln_c_gridcard_basic_style_3"] {
		.field__items {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	[data-card-style] {
		>.grid-card-title {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_basic_style_1"] {
		.field__items {
			>.field__item {
				padding: 10px 0;
			}
		}
	}
	>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_basic_style_2"] {
		.field__items {
			>.field__item {
				padding: 10px 30px;
				margin-bottom: 40px;
			}
		}
	}
	>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_basic_style_3"] {
		.field__items {
			>.field__item {
				padding: 10px 30px;
				margin-bottom: 40px;
			}
		}
	}
	>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_hover_box_1"] {
		.field__items {
			>.field__item {
				padding: 0 10px;
				margin-bottom: 10px;
			}
		}
	}
	>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_hover_box_2"] {
		.field__items {
			>.field__item {
				padding: 0 10px;
				margin-bottom: 10px;
			}
		}
	}
	>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_rollover"] {
		.field__items {
			>.field__item {
				padding: 0 10px;
				margin-bottom: 10px;
			}
		}
	}
	>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_quick_info_box"] {
		.field__items {
			>.field__item {
				padding: 0 10px;
				margin-bottom: 10px;
			}
		}
	}
	.field__items {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		>.field__item {
			padding-top: 10px;
			padding-bottom: 10px;
			width: auto;
			-webkit-box-flex: 1;
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;
			.paragraph--type--ln-c-grid-card-item {
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-webkit-box-flex: 1;
				-webkit-flex-grow: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
				height: 100%;
				.component-paragraph-field-item {
					height: inherit;
					>.field__item {
						height: inherit;
						.card-grid-item-wrapper {
							height: inherit;
							.card-bottom-wrapper {
								height: inherit;
								display: -webkit-box;
								display: -webkit-flex;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-orient: vertical;
								-webkit-box-direction: normal;
								-webkit-flex-direction: column;
								-ms-flex-direction: column;
								flex-direction: column;
								-webkit-box-flex: 1;
								-webkit-flex-grow: 1;
								-ms-flex-positive: 1;
								flex-grow: 1;
								text-decoration: none;
								>a {
									height: inherit;
									display: -webkit-box;
									display: -webkit-flex;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-orient: vertical;
									-webkit-box-direction: normal;
									-webkit-flex-direction: column;
									-ms-flex-direction: column;
									flex-direction: column;
									-webkit-box-flex: 1;
									-webkit-flex-grow: 1;
									-ms-flex-positive: 1;
									flex-grow: 1;
									text-decoration: none;
									.card-bottom-text {
										display: -webkit-box;
										display: -webkit-flex;
										display: -ms-flexbox;
										display: flex;
										-webkit-box-orient: vertical;
										-webkit-box-direction: normal;
										-webkit-flex-direction: column;
										-ms-flex-direction: column;
										flex-direction: column;
										-webkit-box-flex: 1;
										-webkit-flex-grow: 1;
										-ms-flex-positive: 1;
										flex-grow: 1;
									}
								}
								.card-bottom-text {
									display: -webkit-box;
									display: -webkit-flex;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-orient: vertical;
									-webkit-box-direction: normal;
									-webkit-flex-direction: column;
									-ms-flex-direction: column;
									flex-direction: column;
									-webkit-box-flex: 1;
									-webkit-flex-grow: 1;
									-ms-flex-positive: 1;
									flex-grow: 1;
								}
							}
							.card-title-below-image-wrapper {
								height: inherit;
								display: -webkit-box;
								display: -webkit-flex;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-orient: vertical;
								-webkit-box-direction: normal;
								-webkit-flex-direction: column;
								-ms-flex-direction: column;
								flex-direction: column;
								-webkit-box-flex: 1;
								-webkit-flex-grow: 1;
								-ms-flex-positive: 1;
								flex-grow: 1;
								text-decoration: none;
								>a {
									height: inherit;
									display: -webkit-box;
									display: -webkit-flex;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-orient: vertical;
									-webkit-box-direction: normal;
									-webkit-flex-direction: column;
									-ms-flex-direction: column;
									flex-direction: column;
									-webkit-box-flex: 1;
									-webkit-flex-grow: 1;
									-ms-flex-positive: 1;
									flex-grow: 1;
									text-decoration: none;
									.card-title-below-image-text {
										display: -webkit-box;
										display: -webkit-flex;
										display: -ms-flexbox;
										display: flex;
										-webkit-box-orient: vertical;
										-webkit-box-direction: normal;
										-webkit-flex-direction: column;
										-ms-flex-direction: column;
										flex-direction: column;
										-webkit-box-flex: 1;
										-webkit-flex-grow: 1;
										-ms-flex-positive: 1;
										flex-grow: 1;
									}
								}
								.card-title-below-image-text {
									display: -webkit-box;
									display: -webkit-flex;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-orient: vertical;
									-webkit-box-direction: normal;
									-webkit-flex-direction: column;
									-ms-flex-direction: column;
									flex-direction: column;
									-webkit-box-flex: 1;
									-webkit-flex-grow: 1;
									-ms-flex-positive: 1;
									flex-grow: 1;
								}
							}
							.card-title-on-image-wrapper {
								height: inherit;
								display: -webkit-box;
								display: -webkit-flex;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-orient: vertical;
								-webkit-box-direction: normal;
								-webkit-flex-direction: column;
								-ms-flex-direction: column;
								flex-direction: column;
								-webkit-box-flex: 1;
								-webkit-flex-grow: 1;
								-ms-flex-positive: 1;
								flex-grow: 1;
								text-decoration: none;
								>a {
									height: inherit;
									display: -webkit-box;
									display: -webkit-flex;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-orient: vertical;
									-webkit-box-direction: normal;
									-webkit-flex-direction: column;
									-ms-flex-direction: column;
									flex-direction: column;
									-webkit-box-flex: 1;
									-webkit-flex-grow: 1;
									-ms-flex-positive: 1;
									flex-grow: 1;
									text-decoration: none;
									.card-title-on-image-text {
										display: -webkit-box;
										display: -webkit-flex;
										display: -ms-flexbox;
										display: flex;
										-webkit-box-orient: vertical;
										-webkit-box-direction: normal;
										-webkit-flex-direction: column;
										-ms-flex-direction: column;
										flex-direction: column;
										-webkit-box-flex: 1;
										-webkit-flex-grow: 1;
										-ms-flex-positive: 1;
										flex-grow: 1;
									}
								}
								.card-title-on-image-text {
									display: -webkit-box;
									display: -webkit-flex;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-orient: vertical;
									-webkit-box-direction: normal;
									-webkit-flex-direction: column;
									-ms-flex-direction: column;
									flex-direction: column;
									-webkit-box-flex: 1;
									-webkit-flex-grow: 1;
									-ms-flex-positive: 1;
									flex-grow: 1;
								}
							}
							.card-rollover-wrapper {
								height: inherit;
								display: -webkit-box;
								display: -webkit-flex;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-orient: vertical;
								-webkit-box-direction: normal;
								-webkit-flex-direction: column;
								-ms-flex-direction: column;
								flex-direction: column;
								-webkit-box-flex: 1;
								-webkit-flex-grow: 1;
								-ms-flex-positive: 1;
								flex-grow: 1;
								text-decoration: none;
								overflow: hidden;
								position: relative;
								>a {
									height: inherit;
									display: -webkit-box;
									display: -webkit-flex;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-orient: vertical;
									-webkit-box-direction: normal;
									-webkit-flex-direction: column;
									-ms-flex-direction: column;
									flex-direction: column;
									-webkit-box-flex: 1;
									-webkit-flex-grow: 1;
									-ms-flex-positive: 1;
									flex-grow: 1;
									text-decoration: none;
									overflow: hidden;
									position: relative;
									&:focus-within {
										overflow: visible;
									}
									.hovercard-overlay {
										position: absolute;
										display: -webkit-box;
										display: -webkit-flex;
										display: -ms-flexbox;
										display: flex;
										-webkit-box-align: center;
										-webkit-align-items: center;
										-ms-flex-align: center;
										align-items: center;
										-webkit-box-pack: center;
										-webkit-justify-content: center;
										-ms-flex-pack: center;
										justify-content: center;
										-webkit-box-orient: vertical;
										-webkit-box-direction: normal;
										-webkit-flex-direction: column;
										-ms-flex-direction: column;
										flex-direction: column;
										-webkit-box-flex: 1;
										-webkit-flex-grow: 1;
										-ms-flex-positive: 1;
										flex-grow: 1;
										top: 0px;
										opacity: 0;
									}
								}
								.hoverBox {
									height: inherit;
									display: -webkit-box;
									display: -webkit-flex;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-orient: vertical;
									-webkit-box-direction: normal;
									-webkit-flex-direction: column;
									-ms-flex-direction: column;
									flex-direction: column;
									-webkit-box-flex: 1;
									-webkit-flex-grow: 1;
									-ms-flex-positive: 1;
									flex-grow: 1;
									text-decoration: none;
									overflow: hidden;
									position: relative;
									&:focus-within {
										overflow: visible;
									}
									.hovercard-overlay {
										position: absolute;
										display: -webkit-box;
										display: -webkit-flex;
										display: -ms-flexbox;
										display: flex;
										-webkit-box-align: center;
										-webkit-align-items: center;
										-ms-flex-align: center;
										align-items: center;
										-webkit-box-pack: center;
										-webkit-justify-content: center;
										-ms-flex-pack: center;
										justify-content: center;
										-webkit-box-orient: vertical;
										-webkit-box-direction: normal;
										-webkit-flex-direction: column;
										-ms-flex-direction: column;
										flex-direction: column;
										-webkit-box-flex: 1;
										-webkit-flex-grow: 1;
										-ms-flex-positive: 1;
										flex-grow: 1;
										top: 0px;
										opacity: 0;
									}
								}
								&:focus-within {
									overflow: visible;
								}
								.hovercard-overlay {
									position: absolute;
									display: -webkit-box;
									display: -webkit-flex;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-align: center;
									-webkit-align-items: center;
									-ms-flex-align: center;
									align-items: center;
									-webkit-box-pack: center;
									-webkit-justify-content: center;
									-ms-flex-pack: center;
									justify-content: center;
									-webkit-box-orient: vertical;
									-webkit-box-direction: normal;
									-webkit-flex-direction: column;
									-ms-flex-direction: column;
									flex-direction: column;
									-webkit-box-flex: 1;
									-webkit-flex-grow: 1;
									-ms-flex-positive: 1;
									flex-grow: 1;
									top: 0px;
									opacity: 0;
								}
							}
							.card-full-color-wrapper {
								height: inherit;
								display: -webkit-box;
								display: -webkit-flex;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-flex: 1;
								-webkit-flex-grow: 1;
								-ms-flex-positive: 1;
								flex-grow: 1;
								text-decoration: none;
								overflow: hidden;
								position: relative;
								a {
									height: inherit;
									display: -webkit-box;
									display: -webkit-flex;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-flex: 1;
									-webkit-flex-grow: 1;
									-ms-flex-positive: 1;
									flex-grow: 1;
									text-decoration: none;
									overflow: hidden;
									position: relative;
									&:focus-within {
										overflow: visible;
									}
								}
								.fullcolor-card {
									height: inherit;
									display: -webkit-box;
									display: -webkit-flex;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-flex: 1;
									-webkit-flex-grow: 1;
									-ms-flex-positive: 1;
									flex-grow: 1;
									text-decoration: none;
									overflow: hidden;
									position: relative;
									.card-content-wrapper {
										height: inherit;
										display: -webkit-box;
										display: -webkit-flex;
										display: -ms-flexbox;
										display: flex;
										-webkit-box-flex: 1;
										-webkit-flex-grow: 1;
										-ms-flex-positive: 1;
										flex-grow: 1;
										text-decoration: none;
										overflow: hidden;
										position: relative;
										&:focus-within {
											overflow: visible;
										}
									}
									&:focus-within {
										overflow: visible;
									}
								}
								&:focus-within {
									overflow: visible;
								}
							}
						}
					}
				}
			}
			[data-card="ln_c_gridcard_basic_style_1"] {
				img {
					height: 255px;
				}
				&:hover {
					img {
						border: 5px solid #2abc97;
					}
					.card-bottom-text {
						h1 {
							color: #16a87b;
						}
						h2 {
							color: #16a87b;
						}
						h3 {
							color: #16a87b;
						}
						h4 {
							color: #16a87b;
						}
						h5 {
							color: #16a87b;
						}
						h6 {
							color: #16a87b;
						}
						.card-bottom-text-title {
							color: #16a87b;
						}
					}
				}
				.card-bottom-text {
					background-color: #043225;
					padding: 30px;
					h1 {
						color: #FFF;
					}
					h2 {
						color: #FFF;
					}
					h3 {
						color: #FFF;
					}
					h4 {
						color: #FFF;
					}
					h5 {
						color: #FFF;
					}
					h6 {
						color: #FFF;
					}
					p {
						color: #FFF;
					}
					.card-bottom-text-body {
						color: #FFF;
					}
					.card-bottom-text-title {
						color: #FFF;
					}
				}
			}
			[data-card="ln_c_gridcard_basic_style_2"] {
				.field--type-image {
					border-radius: 5px;
					overflow: hidden;
					img {
						height: 190px;
					}
				}
				&:hover {
					img {
						border: 5px solid #2abc97;
					}
					.card-title-below-image-text {
						h1 {
							color: #16a87b;
						}
						h2 {
							color: #16a87b;
						}
						h3 {
							color: #16a87b;
						}
						h4 {
							color: #16a87b;
						}
						h5 {
							color: #16a87b;
						}
						h6 {
							color: #16a87b;
						}
					}
				}
				.card-title-below-image-text {
					border-color: #043225;
					border-style: solid;
					border-width: 0 0 0 1px;
					padding: 0 10px 0 20px;
					margin-top: 20px;
					h1 {
						color: #000;
						padding: 0;
					}
					h2 {
						color: #000;
						padding: 0;
					}
					h3 {
						color: #000;
						padding: 0;
					}
					h4 {
						color: #000;
						padding: 0;
					}
					h5 {
						color: #000;
						padding: 0;
					}
					h6 {
						color: #000;
						padding: 0;
					}
					p {
						color: #000;
					}
					.card-bottom-text-body {
						color: #000;
					}
					.card-title-on-image-body {
						p {
							&:last-child {
								margin-bottom: 0px;
							}
						}
					}
				}
			}
			[data-card="ln_c_gridcard_basic_style_3"] {
				.field--type-image {
					border-radius: 5px;
					overflow: hidden;
					img {
						height: 305px;
					}
				}
				&:hover {
					img {
						border: 5px solid #2abc97;
					}
				}
				.card-title-on-image-text {
					border-color: #043225;
					border-style: solid;
					border-width: 0 0 0 1px;
					padding: 0 10px 0 20px;
					margin-top: 40px;
					position: relative;
					.card-text {
						font-weight: 600;
						color: #000;
					}
					.card-title-on-image-title {
						position: absolute;
						background: #2abc97;
						padding: 20px;
						top: 0px;
						color: #FFF;
						width: 75%;
						border-radius: 6px;
						opacity: 0.95;
						min-height: 78px;
						display: -webkit-box;
						display: -webkit-flex;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-webkit-align-items: center;
						-ms-flex-align: center;
						align-items: center;
						-webkit-transform: translateY(-130%);
						-ms-transform: translateY(-130%);
						transform: translateY(-130%);
					}
					.card-title-on-image-body {
						color: #000;
						p {
							&:last-child {
								margin-bottom: 0px;
							}
						}
					}
					p {
						color: #000;
					}
					h1 {
						color: #FFF;
						padding: 0;
					}
					h2 {
						color: #FFF;
						padding: 0;
					}
					h3 {
						color: #FFF;
						padding: 0;
					}
					h4 {
						color: #FFF;
						padding: 0;
					}
					h5 {
						color: #FFF;
						padding: 0;
					}
					h6 {
						color: #FFF;
						padding: 0;
					}
				}
			}
			[data-card="ln_c_gridcard_hover_box_1"] {
				.hovercard-box {
					.field--type-image {
						overflow: hidden;
						img {
							height: 298px;
						}
					}
					.hovercard-title {
						padding: 30px;
						background-color: #043225;
						color: #FFF;
						margin: 0px !important;
						-webkit-box-flex: 1;
						-webkit-flex: 1;
						-ms-flex: 1;
						flex: 1;
						display: -webkit-box;
						display: -webkit-flex;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-webkit-align-items: center;
						-ms-flex-align: center;
						align-items: center;
					}
					.hovercard-overlay {
						background: #2abc97;
						color: #FFF;
						width: 100%;
						height: 100%;
						padding: 25px 50px;
						-webkit-transition: all .6s ease;
						transition: all .6s ease;
						text-align: center;
						* {
							text-align: center;
						}
						p {
							&:last-child {
								margin-bottom: 0px;
							}
						}
					}
					&:hover {
						.hovercard-overlay {
							opacity: 1 !important;
						}
					}
				}
			}
			[data-card="ln_c_gridcard_hover_box_2"] {
				.hovercard-box {
					position: relative;
					.hovercard-card {
						z-index: 1;
					}
					.field--type-image {
						overflow: hidden;
						img {
							height: 375px;
						}
					}
					.hovercard-title {
						width: 75%;
						min-width: 250px;
						position: absolute;
						bottom: 18px;
						padding: 9px 20px;
						background-color: #043225;
						border-radius: 5px;
						color: #FFF;
						margin: 0px auto !important;
						opacity: 0.95;
						left: 50%;
						text-align: center;
						-webkit-transform: translateX(-50%);
						-ms-transform: translateX(-50%);
						transform: translateX(-50%);
						min-height: 75px;
						line-height: 25px;
						display: -webkit-box;
						display: -webkit-flex;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-webkit-align-items: center;
						-ms-flex-align: center;
						align-items: center;
						-webkit-box-pack: center;
						-webkit-justify-content: center;
						-ms-flex-pack: center;
						justify-content: center;
						text-align: center;
						-webkit-transition: all .6s ease;
						transition: all .6s ease;
					}
					.hovercard-overlay {
						z-index: 0;
						background: #2abc97;
						color: #FFF;
						width: 100%;
						height: 100%;
						padding: 25px 50px;
						text-align: center;
						-webkit-transition: all .6s ease;
						transition: all .6s ease;
						overflow: hidden;
						* {
							text-align: center;
						}
						p {
							&:last-child {
								margin-bottom: 0px;
							}
						}
					}
					.hovercard-overlay-title {
						color: #FFF;
						margin-bottom: 30px;
					}
					.hovercard-overlay-sub-title {
						font-weight: 600;
						margin-bottom: 40px;
					}
					&:hover {
						.hovercard-title {
							opacity: 0;
						}
						.hovercard-overlay {
							z-index: 2;
							opacity: 0.85 !important;
							overflow: auto;
						}
					}
				}
			}
			[data-card="ln_c_gridcard_rollover"] {
				.field--type-image {
					overflow: hidden;
					img {
						height: 370px;
					}
				}
				.card-rollover-text {
					position: absolute;
					bottom: 0;
					padding: 30px 20px;
					background-color: #043225;
					color: #FFF;
					margin: 0px !important;
					-webkit-box-flex: 1;
					-webkit-flex: 1 0 auto;
					-ms-flex: 1 0 auto;
					flex: 1 0 auto;
					display: -webkit-box;
					display: -webkit-flex;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
					flex-direction: column;
					width: 100%;
					max-height: 80%;
					overflow: auto;
					p {
						&:last-child {
							margin-bottom: 0px;
						}
					}
					a {
						text-decoration: none !important;
					}
					.card-rollover-text-body {
						width: 100%;
						text-decoration: none !important;
						display: none;
					}
				}
				.card-rollover-text-title {
					width: 100%;
					-webkit-box-flex: 1;
					-webkit-flex: 1 0 auto;
					-ms-flex: 1 0 auto;
					flex: 1 0 auto;
					cursor: pointer;
					h1 {
						position: relative;
						margin-bottom: 0 !important;
						padding-right: 20px;
						&:after {
							content: "+";
							font-size: 42px;
							position: absolute;
							right: 0px;
							top: 12px;
						}
					}
					h2 {
						position: relative;
						margin-bottom: 0 !important;
						padding-right: 20px;
						&:after {
							content: "+";
							font-size: 42px;
							position: absolute;
							right: 0px;
							top: 12px;
						}
					}
					h3 {
						position: relative;
						margin-bottom: 0 !important;
						padding-right: 20px;
						&:after {
							content: "+";
							font-size: 42px;
							position: absolute;
							right: 0px;
							top: 12px;
						}
					}
					h4 {
						position: relative;
						margin-bottom: 0 !important;
						padding-right: 20px;
						&:after {
							content: "+";
							font-size: 42px;
							position: absolute;
							right: 0px;
							top: 12px;
						}
					}
					h5 {
						position: relative;
						margin-bottom: 0 !important;
						padding-right: 20px;
						&:after {
							content: "+";
							font-size: 42px;
							position: absolute;
							right: 0px;
							top: 12px;
						}
					}
					h6 {
						position: relative;
						margin-bottom: 0 !important;
						padding-right: 20px;
						&:after {
							content: "+";
							font-size: 42px;
							position: absolute;
							right: 0px;
							top: 12px;
						}
					}
					.card-rollover-title-arrow {
						font-size: 32px;
						position: absolute;
						right: 0;
					}
				}
			}
			[data-card="ln_c_gridcard_rollover"].active {
				.card-rollover-text {
					.card-rollover-text-title {
						h1 {
							&:after {
								content: "|";
								-webkit-transform: rotate(90deg) translateX(-115%);
								-ms-transform: rotate(90deg) translateX(-115%);
								transform: rotate(90deg) translateX(-115%);
								font-size: 26px;
								font-weight: 600;
							}
						}
						h2 {
							&:after {
								content: "|";
								-webkit-transform: rotate(90deg) translateX(-115%);
								-ms-transform: rotate(90deg) translateX(-115%);
								transform: rotate(90deg) translateX(-115%);
								font-size: 26px;
								font-weight: 600;
							}
						}
						h3 {
							&:after {
								content: "|";
								-webkit-transform: rotate(90deg) translateX(-115%);
								-ms-transform: rotate(90deg) translateX(-115%);
								transform: rotate(90deg) translateX(-115%);
								font-size: 26px;
								font-weight: 600;
							}
						}
						h4 {
							&:after {
								content: "|";
								-webkit-transform: rotate(90deg) translateX(-115%);
								-ms-transform: rotate(90deg) translateX(-115%);
								transform: rotate(90deg) translateX(-115%);
								font-size: 26px;
								font-weight: 600;
							}
						}
						h5 {
							&:after {
								content: "|";
								-webkit-transform: rotate(90deg) translateX(-115%);
								-ms-transform: rotate(90deg) translateX(-115%);
								transform: rotate(90deg) translateX(-115%);
								font-size: 26px;
								font-weight: 600;
							}
						}
						h6 {
							&:after {
								content: "|";
								-webkit-transform: rotate(90deg) translateX(-115%);
								-ms-transform: rotate(90deg) translateX(-115%);
								transform: rotate(90deg) translateX(-115%);
								font-size: 26px;
								font-weight: 600;
							}
						}
					}
					.card-rollover-text-body {
						display: block;
					}
				}
			}
		}
	}
	.field--type-entity-reference {
		margin: 0 !important;
	}
}
.paragraph--type--ln-c-cardgrid.grid-card-full-color-box {
	.field__items {
		.field__item {
			[data-card="ln_c_gridcard_quick_info_box"] {
				.card-full-color-wrapper {
					.fullcolor-card {
						.field--type-image {
							overflow: hidden;
							text-align: center;
							img {
								max-height: 165px;
								-o-object-fit: unset;
								object-fit: unset;
								width: auto;
							}
						}
						.card-content-wrapper {
							display: -webkit-box;
							display: -webkit-flex;
							display: -ms-flexbox;
							display: flex;
							padding: 20px 20px 30px;
							-webkit-box-orient: vertical;
							-webkit-box-direction: normal;
							-webkit-flex-direction: column;
							-ms-flex-direction: column;
							flex-direction: column;
							.card-image {
								-webkit-box-flex: 1;
								-webkit-flex-grow: 1;
								-ms-flex-positive: 1;
								flex-grow: 1;
								-webkit-flex-shrink: 0;
								-ms-flex-negative: 0;
								flex-shrink: 0;
								-webkit-flex-basis: 30%;
								-ms-flex-preferred-size: 30%;
								flex-basis: 30%;
								margin-bottom: 25px;
								.field--type-image {
									padding-top: 20px;
								}
							}
							.card-text-body {
								display: -webkit-box;
								display: -webkit-flex;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-orient: vertical;
								-webkit-box-direction: normal;
								-webkit-flex-direction: column;
								-ms-flex-direction: column;
								flex-direction: column;
								-webkit-box-pack: center;
								-webkit-justify-content: center;
								-ms-flex-pack: center;
								justify-content: center;
								-webkit-box-align: inherit;
								-webkit-align-items: inherit;
								-ms-flex-align: inherit;
								align-items: inherit;
								-webkit-box-flex: 2;
								-webkit-flex-grow: 2;
								-ms-flex-positive: 2;
								flex-grow: 2;
								-webkit-flex-shrink: 0;
								-ms-flex-negative: 0;
								flex-shrink: 0;
								-webkit-flex-basis: 70%;
								-ms-flex-preferred-size: 70%;
								flex-basis: 70%;
								overflow: auto;
								* {
									text-align: center;
								}
							}
						}
						&:hover {
							border: 5px solid #2abc97;
							.card-content-wrapper {
								padding: 15px 15px 25px;
							}
						}
					}
					a {
						.fullcolor-card {
							.field--type-image {
								overflow: hidden;
								text-align: center;
								img {
									max-height: 165px;
									-o-object-fit: unset;
									object-fit: unset;
									width: auto;
								}
							}
							.card-content-wrapper {
								display: -webkit-box;
								display: -webkit-flex;
								display: -ms-flexbox;
								display: flex;
								padding: 20px 20px 30px;
								-webkit-box-orient: vertical;
								-webkit-box-direction: normal;
								-webkit-flex-direction: column;
								-ms-flex-direction: column;
								flex-direction: column;
								.card-image {
									-webkit-box-flex: 1;
									-webkit-flex-grow: 1;
									-ms-flex-positive: 1;
									flex-grow: 1;
									-webkit-flex-shrink: 0;
									-ms-flex-negative: 0;
									flex-shrink: 0;
									-webkit-flex-basis: 30%;
									-ms-flex-preferred-size: 30%;
									flex-basis: 30%;
									margin-bottom: 25px;
									.field--type-image {
										padding-top: 20px;
									}
								}
								.card-text-body {
									display: -webkit-box;
									display: -webkit-flex;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-orient: vertical;
									-webkit-box-direction: normal;
									-webkit-flex-direction: column;
									-ms-flex-direction: column;
									flex-direction: column;
									-webkit-box-pack: center;
									-webkit-justify-content: center;
									-ms-flex-pack: center;
									justify-content: center;
									-webkit-box-align: inherit;
									-webkit-align-items: inherit;
									-ms-flex-align: inherit;
									align-items: inherit;
									-webkit-box-flex: 2;
									-webkit-flex-grow: 2;
									-ms-flex-positive: 2;
									flex-grow: 2;
									-webkit-flex-shrink: 0;
									-ms-flex-negative: 0;
									flex-shrink: 0;
									-webkit-flex-basis: 70%;
									-ms-flex-preferred-size: 70%;
									flex-basis: 70%;
									overflow: auto;
									* {
										text-align: center;
									}
								}
							}
							&:hover {
								border: 5px solid #2abc97;
								.card-content-wrapper {
									padding: 15px 15px 25px;
								}
							}
						}
					}
				}
			}
		}
	}
}
.paragraph--type--ln-c-grid-card-item {
	.field--type-image {
		img {
			width: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			margin: 0;
			vertical-align: middle;
		}
	}
}
.card-font-color-override {
	* {
		color: inherit;
	}
}
.card-on-hover-font-color-override {
	* {
		color: inherit;
	}
}
@media (min-width: 768px) {
	.paragraph--type--ln-c-cardgrid {
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_basic_style_1"] {
			.field__items {
				>.field__item {
					padding: 10px 10px;
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_basic_style_2"] {
			.field__items {
				>.field__item {
					padding: 10px 10px;
					margin-bottom: 0px;
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_basic_style_3"] {
			.field__items {
				>.field__item {
					padding: 10px 10px;
					margin-bottom: 0px;
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_hover_box_1"] {
			.field__items {
				>.field__item {
					&:first-child {
						padding-left: 20px;
					}
					&:last-child {
						padding-right: 20px;
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_hover_box_2"] {
			.field__items {
				>.field__item {
					&:first-child {
						padding-left: 20px;
					}
					&:last-child {
						padding-right: 20px;
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_rollover"] {
			.field__items {
				>.field__item {
					&:first-child {
						padding-left: 20px;
					}
					&:last-child {
						padding-right: 20px;
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_quick_info_box"] {
			.field__items {
				>.field__item {
					&:first-child {
						padding-left: 20px;
					}
					&:last-child {
						padding-right: 20px;
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_hover_box_1"][data-card-number-of-columns="1"] {
			.field__items {
				>.field__item {
					&:first-child {
						padding-left: 10px;
					}
					&:last-child {
						padding-right: 10px;
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_hover_box_2"][data-card-number-of-columns="1"] {
			.field__items {
				>.field__item {
					&:first-child {
						padding-left: 10px;
					}
					&:last-child {
						padding-right: 10px;
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_rollover"][data-card-number-of-columns="1"] {
			.field__items {
				>.field__item {
					&:first-child {
						padding-left: 10px;
					}
					&:last-child {
						padding-right: 10px;
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_quick_info_box"][data-card-number-of-columns="1"] {
			.field__items {
				>.field__item {
					&:first-child {
						padding-left: 10px;
					}
					&:last-child {
						padding-right: 10px;
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_hover_box_1"][data-card-number-of-columns="2"] {
			.field__items {
				>.field__item {
					&:nth-child(2n) {
						padding-right: 20px;
					}
					&:nth-child(2n {
						+ {
							1) {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_hover_box_2"][data-card-number-of-columns="2"] {
			.field__items {
				>.field__item {
					&:nth-child(2n) {
						padding-right: 20px;
					}
					&:nth-child(2n {
						+ {
							1) {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_rollover"][data-card-number-of-columns="2"] {
			.field__items {
				>.field__item {
					&:nth-child(2n) {
						padding-right: 20px;
					}
					&:nth-child(2n {
						+ {
							1) {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_quick_info_box"][data-card-number-of-columns="2"] {
			.field__items {
				>.field__item {
					&:nth-child(2n) {
						padding-right: 20px;
					}
					&:nth-child(2n {
						+ {
							1) {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_hover_box_1"][data-card-number-of-columns="3"] {
			.field__items {
				>.field__item {
					&:nth-child(3n) {
						padding-right: 20px;
					}
					&:nth-child(3n {
						+ {
							1) {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_hover_box_2"][data-card-number-of-columns="3"] {
			.field__items {
				>.field__item {
					&:nth-child(3n) {
						padding-right: 20px;
					}
					&:nth-child(3n {
						+ {
							1) {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_rollover"][data-card-number-of-columns="3"] {
			.field__items {
				>.field__item {
					&:nth-child(3n) {
						padding-right: 20px;
					}
					&:nth-child(3n {
						+ {
							1) {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_quick_info_box"][data-card-number-of-columns="3"] {
			.field__items {
				>.field__item {
					&:nth-child(3n) {
						padding-right: 20px;
					}
					&:nth-child(3n {
						+ {
							1) {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_hover_box_1"][data-card-number-of-columns="4"] {
			.field__items {
				>.field__item {
					&:nth-child(4n) {
						padding-right: 20px;
					}
					&:nth-child(4n {
						+ {
							1) {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_hover_box_2"][data-card-number-of-columns="4"] {
			.field__items {
				>.field__item {
					&:nth-child(4n) {
						padding-right: 20px;
					}
					&:nth-child(4n {
						+ {
							1) {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_rollover"][data-card-number-of-columns="4"] {
			.field__items {
				>.field__item {
					&:nth-child(4n) {
						padding-right: 20px;
					}
					&:nth-child(4n {
						+ {
							1) {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_quick_info_box"][data-card-number-of-columns="4"] {
			.field__items {
				>.field__item {
					&:nth-child(4n) {
						padding-right: 20px;
					}
					&:nth-child(4n {
						+ {
							1) {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_hover_box_1"][data-card-number-of-columns="5"] {
			.field__items {
				>.field__item {
					&:nth-child(5n) {
						padding-right: 20px;
					}
					&:nth-child(5n {
						+ {
							1) {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_hover_box_2"][data-card-number-of-columns="5"] {
			.field__items {
				>.field__item {
					&:nth-child(5n) {
						padding-right: 20px;
					}
					&:nth-child(5n {
						+ {
							1) {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_rollover"][data-card-number-of-columns="5"] {
			.field__items {
				>.field__item {
					&:nth-child(5n) {
						padding-right: 20px;
					}
					&:nth-child(5n {
						+ {
							1) {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
		>[data-card-allow-spacing="On"][data-card-style="ln_c_gridcard_quick_info_box"][data-card-number-of-columns="5"] {
			.field__items {
				>.field__item {
					&:nth-child(5n) {
						padding-right: 20px;
					}
					&:nth-child(5n {
						+ {
							1) {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
		.field__items {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-flex-flow: row wrap;
			-ms-flex-flow: row wrap;
			flex-flow: row wrap;
			>.field__item {
				[data-card="ln_c_gridcard_basic_style_1"] {
					img {
						height: 510px;
					}
					.card-bottom-text {
						padding: 50px 45px;
					}
				}
				[data-card="ln_c_gridcard_basic_style_3"] {
					.field--type-image {
						img {
							height: 395px;
						}
					}
				}
				[data-card="ln_c_gridcard_hover_box_2"] {
					.hovercard-box {
						.field--type-image {
							img {
								height: 528px;
							}
						}
						.hovercard-title {
							padding: 13px;
						}
					}
				}
				[data-card="ln_c_gridcard_rollover"] {
					.field--type-image {
						img {
							height: 700px;
						}
					}
					.card-rollover-text {
						padding: 45px 25px;
					}
					.card-rollover-text-title {
						h1 {
							&:after {
								right: -10px;
							}
						}
						h2 {
							&:after {
								right: -10px;
							}
						}
						h3 {
							&:after {
								right: -10px;
							}
						}
						h4 {
							&:after {
								right: -10px;
							}
						}
						h5 {
							&:after {
								right: -10px;
							}
						}
						h6 {
							&:after {
								right: -10px;
							}
						}
					}
				}
			}
		}
	}
	.paragraph--type--ln-c-cardgrid.grid-card-full-color-box {
		.field__items {
			.field__item {
				[data-card="ln_c_gridcard_quick_info_box"] {
					.card-full-color-wrapper {
						.fullcolor-card {
							.field--type-image {
								img {
									max-height: 150px;
								}
							}
							.card-content-wrapper {
								-webkit-box-orient: horizontal;
								-webkit-box-direction: normal;
								-webkit-flex-direction: row;
								-ms-flex-direction: row;
								flex-direction: row;
								-webkit-box-align: start;
								-webkit-align-items: flex-start;
								-ms-flex-align: start;
								align-items: flex-start;
								.card-image {
									-webkit-box-flex: 1;
									-webkit-flex-grow: 1;
									-ms-flex-positive: 1;
									flex-grow: 1;
									-webkit-flex-shrink: 0;
									-ms-flex-negative: 0;
									flex-shrink: 0;
									-webkit-flex-basis: 25%;
									-ms-flex-preferred-size: 25%;
									flex-basis: 25%;
									height: 100%;
									.field--type-image {
										padding-top: 20px;
										img {
											max-height: 150px;
											height: auto;
											width: auto;
										}
									}
								}
								.card-text-body {
									-webkit-box-flex: 3;
									-webkit-flex-grow: 3;
									-ms-flex-positive: 3;
									flex-grow: 3;
									-webkit-flex-shrink: 0;
									-ms-flex-negative: 0;
									flex-shrink: 0;
									-webkit-flex-basis: 75%;
									-ms-flex-preferred-size: 75%;
									flex-basis: 75%;
									height: 100%;
									padding-left: 20px;
									* {
										text-align: left;
									}
								}
							}
						}
						a {
							.fullcolor-card {
								.field--type-image {
									img {
										max-height: 150px;
									}
								}
								.card-content-wrapper {
									-webkit-box-orient: horizontal;
									-webkit-box-direction: normal;
									-webkit-flex-direction: row;
									-ms-flex-direction: row;
									flex-direction: row;
									-webkit-box-align: start;
									-webkit-align-items: flex-start;
									-ms-flex-align: start;
									align-items: flex-start;
									.card-image {
										-webkit-box-flex: 1;
										-webkit-flex-grow: 1;
										-ms-flex-positive: 1;
										flex-grow: 1;
										-webkit-flex-shrink: 0;
										-ms-flex-negative: 0;
										flex-shrink: 0;
										-webkit-flex-basis: 25%;
										-ms-flex-preferred-size: 25%;
										flex-basis: 25%;
										height: 100%;
										.field--type-image {
											padding-top: 20px;
											img {
												max-height: 150px;
												height: auto;
												width: auto;
											}
										}
									}
									.card-text-body {
										-webkit-box-flex: 3;
										-webkit-flex-grow: 3;
										-ms-flex-positive: 3;
										flex-grow: 3;
										-webkit-flex-shrink: 0;
										-ms-flex-negative: 0;
										flex-shrink: 0;
										-webkit-flex-basis: 75%;
										-ms-flex-preferred-size: 75%;
										flex-basis: 75%;
										height: 100%;
										padding-left: 20px;
										* {
											text-align: left;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		[data-card-number-of-columns="4"] {
			.field__items {
				>.field__item {
					&:first-child {
						&:nth-last-child(4) {
							[data-card="ln_c_gridcard_quick_info_box"] {
								.card-full-color-wrapper {
									.fullcolor-card {
										.card-content-wrapper {
											-webkit-box-orient: vertical;
											-webkit-box-direction: normal;
											-webkit-flex-direction: column;
											-ms-flex-direction: column;
											flex-direction: column;
											-webkit-box-align: center;
											-webkit-align-items: center;
											-ms-flex-align: center;
											align-items: center;
											.card-image {
												-webkit-box-flex: 1;
												-webkit-flex-grow: 1;
												-ms-flex-positive: 1;
												flex-grow: 1;
												-webkit-flex-shrink: 0;
												-ms-flex-negative: 0;
												flex-shrink: 0;
												-webkit-flex-basis: 30%;
												-ms-flex-preferred-size: 30%;
												flex-basis: 30%;
												display: -webkit-box;
												display: -webkit-flex;
												display: -ms-flexbox;
												display: flex;
												margin-bottom: 0px;
												>div.field--type-entity-reference {
													display: -webkit-box;
													display: -webkit-flex;
													display: -ms-flexbox;
													display: flex;
													-webkit-box-align: center;
													-webkit-align-items: center;
													-ms-flex-align: center;
													align-items: center;
												}
												.field--type-image {
													img {
														max-height: 165px;
													}
												}
											}
											.card-text-body {
												-webkit-box-flex: 2;
												-webkit-flex-grow: 2;
												-ms-flex-positive: 2;
												flex-grow: 2;
												-webkit-flex-shrink: 0;
												-ms-flex-negative: 0;
												flex-shrink: 0;
												-webkit-flex-basis: 70%;
												-ms-flex-preferred-size: 70%;
												flex-basis: 70%;
												padding-left: 0px;
												* {
													text-align: center;
												}
											}
										}
									}
									a {
										.fullcolor-card {
											.card-content-wrapper {
												-webkit-box-orient: vertical;
												-webkit-box-direction: normal;
												-webkit-flex-direction: column;
												-ms-flex-direction: column;
												flex-direction: column;
												-webkit-box-align: center;
												-webkit-align-items: center;
												-ms-flex-align: center;
												align-items: center;
												.card-image {
													-webkit-box-flex: 1;
													-webkit-flex-grow: 1;
													-ms-flex-positive: 1;
													flex-grow: 1;
													-webkit-flex-shrink: 0;
													-ms-flex-negative: 0;
													flex-shrink: 0;
													-webkit-flex-basis: 30%;
													-ms-flex-preferred-size: 30%;
													flex-basis: 30%;
													display: -webkit-box;
													display: -webkit-flex;
													display: -ms-flexbox;
													display: flex;
													margin-bottom: 0px;
													>div.field--type-entity-reference {
														display: -webkit-box;
														display: -webkit-flex;
														display: -ms-flexbox;
														display: flex;
														-webkit-box-align: center;
														-webkit-align-items: center;
														-ms-flex-align: center;
														align-items: center;
													}
													.field--type-image {
														img {
															max-height: 165px;
														}
													}
												}
												.card-text-body {
													-webkit-box-flex: 2;
													-webkit-flex-grow: 2;
													-ms-flex-positive: 2;
													flex-grow: 2;
													-webkit-flex-shrink: 0;
													-ms-flex-negative: 0;
													flex-shrink: 0;
													-webkit-flex-basis: 70%;
													-ms-flex-preferred-size: 70%;
													flex-basis: 70%;
													padding-left: 0px;
													* {
														text-align: center;
													}
												}
											}
										}
									}
								}
							}
							~ {
								.field__item {
									[data-card="ln_c_gridcard_quick_info_box"] {
										.card-full-color-wrapper {
											.fullcolor-card {
												.card-content-wrapper {
													-webkit-box-orient: vertical;
													-webkit-box-direction: normal;
													-webkit-flex-direction: column;
													-ms-flex-direction: column;
													flex-direction: column;
													-webkit-box-align: center;
													-webkit-align-items: center;
													-ms-flex-align: center;
													align-items: center;
													.card-image {
														-webkit-box-flex: 1;
														-webkit-flex-grow: 1;
														-ms-flex-positive: 1;
														flex-grow: 1;
														-webkit-flex-shrink: 0;
														-ms-flex-negative: 0;
														flex-shrink: 0;
														-webkit-flex-basis: 30%;
														-ms-flex-preferred-size: 30%;
														flex-basis: 30%;
														display: -webkit-box;
														display: -webkit-flex;
														display: -ms-flexbox;
														display: flex;
														margin-bottom: 0px;
														>div.field--type-entity-reference {
															display: -webkit-box;
															display: -webkit-flex;
															display: -ms-flexbox;
															display: flex;
															-webkit-box-align: center;
															-webkit-align-items: center;
															-ms-flex-align: center;
															align-items: center;
														}
														.field--type-image {
															img {
																max-height: 165px;
															}
														}
													}
													.card-text-body {
														-webkit-box-flex: 2;
														-webkit-flex-grow: 2;
														-ms-flex-positive: 2;
														flex-grow: 2;
														-webkit-flex-shrink: 0;
														-ms-flex-negative: 0;
														flex-shrink: 0;
														-webkit-flex-basis: 70%;
														-ms-flex-preferred-size: 70%;
														flex-basis: 70%;
														padding-left: 0px;
														* {
															text-align: center;
														}
													}
												}
											}
											a {
												.fullcolor-card {
													.card-content-wrapper {
														-webkit-box-orient: vertical;
														-webkit-box-direction: normal;
														-webkit-flex-direction: column;
														-ms-flex-direction: column;
														flex-direction: column;
														-webkit-box-align: center;
														-webkit-align-items: center;
														-ms-flex-align: center;
														align-items: center;
														.card-image {
															-webkit-box-flex: 1;
															-webkit-flex-grow: 1;
															-ms-flex-positive: 1;
															flex-grow: 1;
															-webkit-flex-shrink: 0;
															-ms-flex-negative: 0;
															flex-shrink: 0;
															-webkit-flex-basis: 30%;
															-ms-flex-preferred-size: 30%;
															flex-basis: 30%;
															display: -webkit-box;
															display: -webkit-flex;
															display: -ms-flexbox;
															display: flex;
															margin-bottom: 0px;
															>div.field--type-entity-reference {
																display: -webkit-box;
																display: -webkit-flex;
																display: -ms-flexbox;
																display: flex;
																-webkit-box-align: center;
																-webkit-align-items: center;
																-ms-flex-align: center;
																align-items: center;
															}
															.field--type-image {
																img {
																	max-height: 165px;
																}
															}
														}
														.card-text-body {
															-webkit-box-flex: 2;
															-webkit-flex-grow: 2;
															-ms-flex-positive: 2;
															flex-grow: 2;
															-webkit-flex-shrink: 0;
															-ms-flex-negative: 0;
															flex-shrink: 0;
															-webkit-flex-basis: 70%;
															-ms-flex-preferred-size: 70%;
															flex-basis: 70%;
															padding-left: 0px;
															* {
																text-align: center;
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
						&:nth-last-child(5) {
							[data-card="ln_c_gridcard_quick_info_box"] {
								.card-full-color-wrapper {
									.fullcolor-card {
										.card-content-wrapper {
											-webkit-box-orient: vertical;
											-webkit-box-direction: normal;
											-webkit-flex-direction: column;
											-ms-flex-direction: column;
											flex-direction: column;
											-webkit-box-align: center;
											-webkit-align-items: center;
											-ms-flex-align: center;
											align-items: center;
											.card-image {
												-webkit-box-flex: 1;
												-webkit-flex-grow: 1;
												-ms-flex-positive: 1;
												flex-grow: 1;
												-webkit-flex-shrink: 0;
												-ms-flex-negative: 0;
												flex-shrink: 0;
												-webkit-flex-basis: 30%;
												-ms-flex-preferred-size: 30%;
												flex-basis: 30%;
												display: -webkit-box;
												display: -webkit-flex;
												display: -ms-flexbox;
												display: flex;
												margin-bottom: 0px;
												>div.field--type-entity-reference {
													display: -webkit-box;
													display: -webkit-flex;
													display: -ms-flexbox;
													display: flex;
													-webkit-box-align: center;
													-webkit-align-items: center;
													-ms-flex-align: center;
													align-items: center;
												}
												.field--type-image {
													img {
														max-height: 165px;
													}
												}
											}
											.card-text-body {
												-webkit-box-flex: 2;
												-webkit-flex-grow: 2;
												-ms-flex-positive: 2;
												flex-grow: 2;
												-webkit-flex-shrink: 0;
												-ms-flex-negative: 0;
												flex-shrink: 0;
												-webkit-flex-basis: 70%;
												-ms-flex-preferred-size: 70%;
												flex-basis: 70%;
												padding-left: 0px;
												* {
													text-align: center;
												}
											}
										}
									}
									a {
										.fullcolor-card {
											.card-content-wrapper {
												-webkit-box-orient: vertical;
												-webkit-box-direction: normal;
												-webkit-flex-direction: column;
												-ms-flex-direction: column;
												flex-direction: column;
												-webkit-box-align: center;
												-webkit-align-items: center;
												-ms-flex-align: center;
												align-items: center;
												.card-image {
													-webkit-box-flex: 1;
													-webkit-flex-grow: 1;
													-ms-flex-positive: 1;
													flex-grow: 1;
													-webkit-flex-shrink: 0;
													-ms-flex-negative: 0;
													flex-shrink: 0;
													-webkit-flex-basis: 30%;
													-ms-flex-preferred-size: 30%;
													flex-basis: 30%;
													display: -webkit-box;
													display: -webkit-flex;
													display: -ms-flexbox;
													display: flex;
													margin-bottom: 0px;
													>div.field--type-entity-reference {
														display: -webkit-box;
														display: -webkit-flex;
														display: -ms-flexbox;
														display: flex;
														-webkit-box-align: center;
														-webkit-align-items: center;
														-ms-flex-align: center;
														align-items: center;
													}
													.field--type-image {
														img {
															max-height: 165px;
														}
													}
												}
												.card-text-body {
													-webkit-box-flex: 2;
													-webkit-flex-grow: 2;
													-ms-flex-positive: 2;
													flex-grow: 2;
													-webkit-flex-shrink: 0;
													-ms-flex-negative: 0;
													flex-shrink: 0;
													-webkit-flex-basis: 70%;
													-ms-flex-preferred-size: 70%;
													flex-basis: 70%;
													padding-left: 0px;
													* {
														text-align: center;
													}
												}
											}
										}
									}
								}
							}
							~ {
								.field__item {
									[data-card="ln_c_gridcard_quick_info_box"] {
										.card-full-color-wrapper {
											.fullcolor-card {
												.card-content-wrapper {
													-webkit-box-orient: vertical;
													-webkit-box-direction: normal;
													-webkit-flex-direction: column;
													-ms-flex-direction: column;
													flex-direction: column;
													-webkit-box-align: center;
													-webkit-align-items: center;
													-ms-flex-align: center;
													align-items: center;
													.card-image {
														-webkit-box-flex: 1;
														-webkit-flex-grow: 1;
														-ms-flex-positive: 1;
														flex-grow: 1;
														-webkit-flex-shrink: 0;
														-ms-flex-negative: 0;
														flex-shrink: 0;
														-webkit-flex-basis: 30%;
														-ms-flex-preferred-size: 30%;
														flex-basis: 30%;
														display: -webkit-box;
														display: -webkit-flex;
														display: -ms-flexbox;
														display: flex;
														margin-bottom: 0px;
														>div.field--type-entity-reference {
															display: -webkit-box;
															display: -webkit-flex;
															display: -ms-flexbox;
															display: flex;
															-webkit-box-align: center;
															-webkit-align-items: center;
															-ms-flex-align: center;
															align-items: center;
														}
														.field--type-image {
															img {
																max-height: 165px;
															}
														}
													}
													.card-text-body {
														-webkit-box-flex: 2;
														-webkit-flex-grow: 2;
														-ms-flex-positive: 2;
														flex-grow: 2;
														-webkit-flex-shrink: 0;
														-ms-flex-negative: 0;
														flex-shrink: 0;
														-webkit-flex-basis: 70%;
														-ms-flex-preferred-size: 70%;
														flex-basis: 70%;
														padding-left: 0px;
														* {
															text-align: center;
														}
													}
												}
											}
											a {
												.fullcolor-card {
													.card-content-wrapper {
														-webkit-box-orient: vertical;
														-webkit-box-direction: normal;
														-webkit-flex-direction: column;
														-ms-flex-direction: column;
														flex-direction: column;
														-webkit-box-align: center;
														-webkit-align-items: center;
														-ms-flex-align: center;
														align-items: center;
														.card-image {
															-webkit-box-flex: 1;
															-webkit-flex-grow: 1;
															-ms-flex-positive: 1;
															flex-grow: 1;
															-webkit-flex-shrink: 0;
															-ms-flex-negative: 0;
															flex-shrink: 0;
															-webkit-flex-basis: 30%;
															-ms-flex-preferred-size: 30%;
															flex-basis: 30%;
															display: -webkit-box;
															display: -webkit-flex;
															display: -ms-flexbox;
															display: flex;
															margin-bottom: 0px;
															>div.field--type-entity-reference {
																display: -webkit-box;
																display: -webkit-flex;
																display: -ms-flexbox;
																display: flex;
																-webkit-box-align: center;
																-webkit-align-items: center;
																-ms-flex-align: center;
																align-items: center;
															}
															.field--type-image {
																img {
																	max-height: 165px;
																}
															}
														}
														.card-text-body {
															-webkit-box-flex: 2;
															-webkit-flex-grow: 2;
															-ms-flex-positive: 2;
															flex-grow: 2;
															-webkit-flex-shrink: 0;
															-ms-flex-negative: 0;
															flex-shrink: 0;
															-webkit-flex-basis: 70%;
															-ms-flex-preferred-size: 70%;
															flex-basis: 70%;
															padding-left: 0px;
															* {
																text-align: center;
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		[data-card-number-of-columns="5"] {
			.field__items {
				>.field__item {
					&:first-child {
						&:nth-last-child(4) {
							[data-card="ln_c_gridcard_quick_info_box"] {
								.card-full-color-wrapper {
									.fullcolor-card {
										.card-content-wrapper {
											-webkit-box-orient: vertical;
											-webkit-box-direction: normal;
											-webkit-flex-direction: column;
											-ms-flex-direction: column;
											flex-direction: column;
											-webkit-box-align: center;
											-webkit-align-items: center;
											-ms-flex-align: center;
											align-items: center;
											.card-image {
												-webkit-box-flex: 1;
												-webkit-flex-grow: 1;
												-ms-flex-positive: 1;
												flex-grow: 1;
												-webkit-flex-shrink: 0;
												-ms-flex-negative: 0;
												flex-shrink: 0;
												-webkit-flex-basis: 30%;
												-ms-flex-preferred-size: 30%;
												flex-basis: 30%;
												display: -webkit-box;
												display: -webkit-flex;
												display: -ms-flexbox;
												display: flex;
												margin-bottom: 0px;
												>div.field--type-entity-reference {
													display: -webkit-box;
													display: -webkit-flex;
													display: -ms-flexbox;
													display: flex;
													-webkit-box-align: center;
													-webkit-align-items: center;
													-ms-flex-align: center;
													align-items: center;
												}
												.field--type-image {
													img {
														max-height: 165px;
													}
												}
											}
											.card-text-body {
												-webkit-box-flex: 2;
												-webkit-flex-grow: 2;
												-ms-flex-positive: 2;
												flex-grow: 2;
												-webkit-flex-shrink: 0;
												-ms-flex-negative: 0;
												flex-shrink: 0;
												-webkit-flex-basis: 70%;
												-ms-flex-preferred-size: 70%;
												flex-basis: 70%;
												padding-left: 0px;
												* {
													text-align: center;
												}
											}
										}
									}
									a {
										.fullcolor-card {
											.card-content-wrapper {
												-webkit-box-orient: vertical;
												-webkit-box-direction: normal;
												-webkit-flex-direction: column;
												-ms-flex-direction: column;
												flex-direction: column;
												-webkit-box-align: center;
												-webkit-align-items: center;
												-ms-flex-align: center;
												align-items: center;
												.card-image {
													-webkit-box-flex: 1;
													-webkit-flex-grow: 1;
													-ms-flex-positive: 1;
													flex-grow: 1;
													-webkit-flex-shrink: 0;
													-ms-flex-negative: 0;
													flex-shrink: 0;
													-webkit-flex-basis: 30%;
													-ms-flex-preferred-size: 30%;
													flex-basis: 30%;
													display: -webkit-box;
													display: -webkit-flex;
													display: -ms-flexbox;
													display: flex;
													margin-bottom: 0px;
													>div.field--type-entity-reference {
														display: -webkit-box;
														display: -webkit-flex;
														display: -ms-flexbox;
														display: flex;
														-webkit-box-align: center;
														-webkit-align-items: center;
														-ms-flex-align: center;
														align-items: center;
													}
													.field--type-image {
														img {
															max-height: 165px;
														}
													}
												}
												.card-text-body {
													-webkit-box-flex: 2;
													-webkit-flex-grow: 2;
													-ms-flex-positive: 2;
													flex-grow: 2;
													-webkit-flex-shrink: 0;
													-ms-flex-negative: 0;
													flex-shrink: 0;
													-webkit-flex-basis: 70%;
													-ms-flex-preferred-size: 70%;
													flex-basis: 70%;
													padding-left: 0px;
													* {
														text-align: center;
													}
												}
											}
										}
									}
								}
							}
							~ {
								.field__item {
									[data-card="ln_c_gridcard_quick_info_box"] {
										.card-full-color-wrapper {
											.fullcolor-card {
												.card-content-wrapper {
													-webkit-box-orient: vertical;
													-webkit-box-direction: normal;
													-webkit-flex-direction: column;
													-ms-flex-direction: column;
													flex-direction: column;
													-webkit-box-align: center;
													-webkit-align-items: center;
													-ms-flex-align: center;
													align-items: center;
													.card-image {
														-webkit-box-flex: 1;
														-webkit-flex-grow: 1;
														-ms-flex-positive: 1;
														flex-grow: 1;
														-webkit-flex-shrink: 0;
														-ms-flex-negative: 0;
														flex-shrink: 0;
														-webkit-flex-basis: 30%;
														-ms-flex-preferred-size: 30%;
														flex-basis: 30%;
														display: -webkit-box;
														display: -webkit-flex;
														display: -ms-flexbox;
														display: flex;
														margin-bottom: 0px;
														>div.field--type-entity-reference {
															display: -webkit-box;
															display: -webkit-flex;
															display: -ms-flexbox;
															display: flex;
															-webkit-box-align: center;
															-webkit-align-items: center;
															-ms-flex-align: center;
															align-items: center;
														}
														.field--type-image {
															img {
																max-height: 165px;
															}
														}
													}
													.card-text-body {
														-webkit-box-flex: 2;
														-webkit-flex-grow: 2;
														-ms-flex-positive: 2;
														flex-grow: 2;
														-webkit-flex-shrink: 0;
														-ms-flex-negative: 0;
														flex-shrink: 0;
														-webkit-flex-basis: 70%;
														-ms-flex-preferred-size: 70%;
														flex-basis: 70%;
														padding-left: 0px;
														* {
															text-align: center;
														}
													}
												}
											}
											a {
												.fullcolor-card {
													.card-content-wrapper {
														-webkit-box-orient: vertical;
														-webkit-box-direction: normal;
														-webkit-flex-direction: column;
														-ms-flex-direction: column;
														flex-direction: column;
														-webkit-box-align: center;
														-webkit-align-items: center;
														-ms-flex-align: center;
														align-items: center;
														.card-image {
															-webkit-box-flex: 1;
															-webkit-flex-grow: 1;
															-ms-flex-positive: 1;
															flex-grow: 1;
															-webkit-flex-shrink: 0;
															-ms-flex-negative: 0;
															flex-shrink: 0;
															-webkit-flex-basis: 30%;
															-ms-flex-preferred-size: 30%;
															flex-basis: 30%;
															display: -webkit-box;
															display: -webkit-flex;
															display: -ms-flexbox;
															display: flex;
															margin-bottom: 0px;
															>div.field--type-entity-reference {
																display: -webkit-box;
																display: -webkit-flex;
																display: -ms-flexbox;
																display: flex;
																-webkit-box-align: center;
																-webkit-align-items: center;
																-ms-flex-align: center;
																align-items: center;
															}
															.field--type-image {
																img {
																	max-height: 165px;
																}
															}
														}
														.card-text-body {
															-webkit-box-flex: 2;
															-webkit-flex-grow: 2;
															-ms-flex-positive: 2;
															flex-grow: 2;
															-webkit-flex-shrink: 0;
															-ms-flex-negative: 0;
															flex-shrink: 0;
															-webkit-flex-basis: 70%;
															-ms-flex-preferred-size: 70%;
															flex-basis: 70%;
															padding-left: 0px;
															* {
																text-align: center;
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
						&:nth-last-child(5) {
							[data-card="ln_c_gridcard_quick_info_box"] {
								.card-full-color-wrapper {
									.fullcolor-card {
										.card-content-wrapper {
											-webkit-box-orient: vertical;
											-webkit-box-direction: normal;
											-webkit-flex-direction: column;
											-ms-flex-direction: column;
											flex-direction: column;
											-webkit-box-align: center;
											-webkit-align-items: center;
											-ms-flex-align: center;
											align-items: center;
											.card-image {
												-webkit-box-flex: 1;
												-webkit-flex-grow: 1;
												-ms-flex-positive: 1;
												flex-grow: 1;
												-webkit-flex-shrink: 0;
												-ms-flex-negative: 0;
												flex-shrink: 0;
												-webkit-flex-basis: 30%;
												-ms-flex-preferred-size: 30%;
												flex-basis: 30%;
												display: -webkit-box;
												display: -webkit-flex;
												display: -ms-flexbox;
												display: flex;
												margin-bottom: 0px;
												>div.field--type-entity-reference {
													display: -webkit-box;
													display: -webkit-flex;
													display: -ms-flexbox;
													display: flex;
													-webkit-box-align: center;
													-webkit-align-items: center;
													-ms-flex-align: center;
													align-items: center;
												}
												.field--type-image {
													img {
														max-height: 165px;
													}
												}
											}
											.card-text-body {
												-webkit-box-flex: 2;
												-webkit-flex-grow: 2;
												-ms-flex-positive: 2;
												flex-grow: 2;
												-webkit-flex-shrink: 0;
												-ms-flex-negative: 0;
												flex-shrink: 0;
												-webkit-flex-basis: 70%;
												-ms-flex-preferred-size: 70%;
												flex-basis: 70%;
												padding-left: 0px;
												* {
													text-align: center;
												}
											}
										}
									}
									a {
										.fullcolor-card {
											.card-content-wrapper {
												-webkit-box-orient: vertical;
												-webkit-box-direction: normal;
												-webkit-flex-direction: column;
												-ms-flex-direction: column;
												flex-direction: column;
												-webkit-box-align: center;
												-webkit-align-items: center;
												-ms-flex-align: center;
												align-items: center;
												.card-image {
													-webkit-box-flex: 1;
													-webkit-flex-grow: 1;
													-ms-flex-positive: 1;
													flex-grow: 1;
													-webkit-flex-shrink: 0;
													-ms-flex-negative: 0;
													flex-shrink: 0;
													-webkit-flex-basis: 30%;
													-ms-flex-preferred-size: 30%;
													flex-basis: 30%;
													display: -webkit-box;
													display: -webkit-flex;
													display: -ms-flexbox;
													display: flex;
													margin-bottom: 0px;
													>div.field--type-entity-reference {
														display: -webkit-box;
														display: -webkit-flex;
														display: -ms-flexbox;
														display: flex;
														-webkit-box-align: center;
														-webkit-align-items: center;
														-ms-flex-align: center;
														align-items: center;
													}
													.field--type-image {
														img {
															max-height: 165px;
														}
													}
												}
												.card-text-body {
													-webkit-box-flex: 2;
													-webkit-flex-grow: 2;
													-ms-flex-positive: 2;
													flex-grow: 2;
													-webkit-flex-shrink: 0;
													-ms-flex-negative: 0;
													flex-shrink: 0;
													-webkit-flex-basis: 70%;
													-ms-flex-preferred-size: 70%;
													flex-basis: 70%;
													padding-left: 0px;
													* {
														text-align: center;
													}
												}
											}
										}
									}
								}
							}
							~ {
								.field__item {
									[data-card="ln_c_gridcard_quick_info_box"] {
										.card-full-color-wrapper {
											.fullcolor-card {
												.card-content-wrapper {
													-webkit-box-orient: vertical;
													-webkit-box-direction: normal;
													-webkit-flex-direction: column;
													-ms-flex-direction: column;
													flex-direction: column;
													-webkit-box-align: center;
													-webkit-align-items: center;
													-ms-flex-align: center;
													align-items: center;
													.card-image {
														-webkit-box-flex: 1;
														-webkit-flex-grow: 1;
														-ms-flex-positive: 1;
														flex-grow: 1;
														-webkit-flex-shrink: 0;
														-ms-flex-negative: 0;
														flex-shrink: 0;
														-webkit-flex-basis: 30%;
														-ms-flex-preferred-size: 30%;
														flex-basis: 30%;
														display: -webkit-box;
														display: -webkit-flex;
														display: -ms-flexbox;
														display: flex;
														margin-bottom: 0px;
														>div.field--type-entity-reference {
															display: -webkit-box;
															display: -webkit-flex;
															display: -ms-flexbox;
															display: flex;
															-webkit-box-align: center;
															-webkit-align-items: center;
															-ms-flex-align: center;
															align-items: center;
														}
														.field--type-image {
															img {
																max-height: 165px;
															}
														}
													}
													.card-text-body {
														-webkit-box-flex: 2;
														-webkit-flex-grow: 2;
														-ms-flex-positive: 2;
														flex-grow: 2;
														-webkit-flex-shrink: 0;
														-ms-flex-negative: 0;
														flex-shrink: 0;
														-webkit-flex-basis: 70%;
														-ms-flex-preferred-size: 70%;
														flex-basis: 70%;
														padding-left: 0px;
														* {
															text-align: center;
														}
													}
												}
											}
											a {
												.fullcolor-card {
													.card-content-wrapper {
														-webkit-box-orient: vertical;
														-webkit-box-direction: normal;
														-webkit-flex-direction: column;
														-ms-flex-direction: column;
														flex-direction: column;
														-webkit-box-align: center;
														-webkit-align-items: center;
														-ms-flex-align: center;
														align-items: center;
														.card-image {
															-webkit-box-flex: 1;
															-webkit-flex-grow: 1;
															-ms-flex-positive: 1;
															flex-grow: 1;
															-webkit-flex-shrink: 0;
															-ms-flex-negative: 0;
															flex-shrink: 0;
															-webkit-flex-basis: 30%;
															-ms-flex-preferred-size: 30%;
															flex-basis: 30%;
															display: -webkit-box;
															display: -webkit-flex;
															display: -ms-flexbox;
															display: flex;
															margin-bottom: 0px;
															>div.field--type-entity-reference {
																display: -webkit-box;
																display: -webkit-flex;
																display: -ms-flexbox;
																display: flex;
																-webkit-box-align: center;
																-webkit-align-items: center;
																-ms-flex-align: center;
																align-items: center;
															}
															.field--type-image {
																img {
																	max-height: 165px;
																}
															}
														}
														.card-text-body {
															-webkit-box-flex: 2;
															-webkit-flex-grow: 2;
															-ms-flex-positive: 2;
															flex-grow: 2;
															-webkit-flex-shrink: 0;
															-ms-flex-negative: 0;
															flex-shrink: 0;
															-webkit-flex-basis: 70%;
															-ms-flex-preferred-size: 70%;
															flex-basis: 70%;
															padding-left: 0px;
															* {
																text-align: center;
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: 560px) {
	.paragraph--type--ln-c-cardgrid {
		>[data-card-allow-spacing="Off"] {
			.field--type-image {
				margin: 0px;
			}
		}
		>[data-card-allow-spacing="On"] {
			.field--type-image {
				margin: 0px;
			}
		}
	}
}
@media (min-width: 768px) and (min-width: 768px) {
	.paragraph--type--ln-c-cardgrid.grid-card-full-color-box {
		[data-card-number-of-columns="4"] {
			.field__items {
				>.field__item {
					&:first-child {
						&:nth-last-child(4) {
							[data-card="ln_c_gridcard_quick_info_box"] {
								.card-full-color-wrapper {
									.fullcolor-card {
										.card-content-wrapper {
											.card-image {
												.field--type-image {
													img {
														max-height: 150px;
													}
												}
											}
										}
									}
									a {
										.fullcolor-card {
											.card-content-wrapper {
												.card-image {
													.field--type-image {
														img {
															max-height: 150px;
														}
													}
												}
											}
										}
									}
								}
							}
							~ {
								.field__item {
									[data-card="ln_c_gridcard_quick_info_box"] {
										.card-full-color-wrapper {
											.fullcolor-card {
												.card-content-wrapper {
													.card-image {
														.field--type-image {
															img {
																max-height: 150px;
															}
														}
													}
												}
											}
											a {
												.fullcolor-card {
													.card-content-wrapper {
														.card-image {
															.field--type-image {
																img {
																	max-height: 150px;
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
						&:nth-last-child(5) {
							[data-card="ln_c_gridcard_quick_info_box"] {
								.card-full-color-wrapper {
									.fullcolor-card {
										.card-content-wrapper {
											.card-image {
												.field--type-image {
													img {
														max-height: 150px;
													}
												}
											}
										}
									}
									a {
										.fullcolor-card {
											.card-content-wrapper {
												.card-image {
													.field--type-image {
														img {
															max-height: 150px;
														}
													}
												}
											}
										}
									}
								}
							}
							~ {
								.field__item {
									[data-card="ln_c_gridcard_quick_info_box"] {
										.card-full-color-wrapper {
											.fullcolor-card {
												.card-content-wrapper {
													.card-image {
														.field--type-image {
															img {
																max-height: 150px;
															}
														}
													}
												}
											}
											a {
												.fullcolor-card {
													.card-content-wrapper {
														.card-image {
															.field--type-image {
																img {
																	max-height: 150px;
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		[data-card-number-of-columns="5"] {
			.field__items {
				>.field__item {
					&:first-child {
						&:nth-last-child(4) {
							[data-card="ln_c_gridcard_quick_info_box"] {
								.card-full-color-wrapper {
									.fullcolor-card {
										.card-content-wrapper {
											.card-image {
												.field--type-image {
													img {
														max-height: 150px;
													}
												}
											}
										}
									}
									a {
										.fullcolor-card {
											.card-content-wrapper {
												.card-image {
													.field--type-image {
														img {
															max-height: 150px;
														}
													}
												}
											}
										}
									}
								}
							}
							~ {
								.field__item {
									[data-card="ln_c_gridcard_quick_info_box"] {
										.card-full-color-wrapper {
											.fullcolor-card {
												.card-content-wrapper {
													.card-image {
														.field--type-image {
															img {
																max-height: 150px;
															}
														}
													}
												}
											}
											a {
												.fullcolor-card {
													.card-content-wrapper {
														.card-image {
															.field--type-image {
																img {
																	max-height: 150px;
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
						&:nth-last-child(5) {
							[data-card="ln_c_gridcard_quick_info_box"] {
								.card-full-color-wrapper {
									.fullcolor-card {
										.card-content-wrapper {
											.card-image {
												.field--type-image {
													img {
														max-height: 150px;
													}
												}
											}
										}
									}
									a {
										.fullcolor-card {
											.card-content-wrapper {
												.card-image {
													.field--type-image {
														img {
															max-height: 150px;
														}
													}
												}
											}
										}
									}
								}
							}
							~ {
								.field__item {
									[data-card="ln_c_gridcard_quick_info_box"] {
										.card-full-color-wrapper {
											.fullcolor-card {
												.card-content-wrapper {
													.card-image {
														.field--type-image {
															img {
																max-height: 150px;
															}
														}
													}
												}
											}
											a {
												.fullcolor-card {
													.card-content-wrapper {
														.card-image {
															.field--type-image {
																img {
																	max-height: 150px;
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
