<table style="width: 70%;margin: auto;text-align: center; max-width: 600px;">
	<tr>
		<td colspan="3" style="padding:30px; text-align:center; border-bottom:2px solid #EDEDED;">
			<img style="width: 200px;" src="https://www.ninhosdobrasil.com.br/sites/default/files/styles/media_library/public/2021-09/logotipo.png?itok=ZV5l8LL8">
		</td>	
	</tr>
	<tr>
		<td colspan="3" style="font-family: 'DM Sans', sans-serif;font-weight: 700;text-align: center;font-size: 24px;line-height: 32px; padding-top: 30px;">Olá, #NOME#.</td>
	</tr>
	<tr>
		<td colspan="3" style="font-family: 'DM Sans', sans-serif;font-weight: 300;text-align: center;padding-top: 30px;font-size: 16px;line-height: 24px;">Os dados usados na criação da sua conta já estão cadastrados em nossa base. Caso você tenha esquecido como logar com a sua conta já criada, clique no botão logo abaixo para definir uma nova senha e retomar o seu acesso.</td>
	</tr>
	<tr>
		<td colspan="3" style="padding: 30px 0px 0px 15px;"><a href="https://#DOMINIO#/user/recuperar"><button style="border:0px;padding:20px 30px;background-color: #175732;color: #ffffff;font-family: 'DM Sans', sans-serif;font-weight: 700;text-align: center;font-size: 16px;line-height: 24px;border-radius: 10px;outline:0px; cursor:pointer;">Redefinir senha</button></a></td>
	</tr>
	<tr>
		<td colspan="3" style="padding:15px; text-align:center; border-bottom:2px solid #EDEDED;">
		</td>	
	</tr>

	<tr>
		<td colspan="3" style="padding:10px;font-family: 'DM Sans', sans-serif;font-weight: 300;text-align: center;padding-top: 30px;font-size: 16px;line-height: 24px;">
			Feito com carinho por:
		</td>	
	</tr>
	<tr>
		<td colspan="3" style="padding:10px;font-family: 'DM Sans', sans-serif;font-weight: 300;text-align: center;"><img style="width: 90px;" src="https://www.ninhosdobrasil.com.br/sites/default/files/styles/media_library/public/2021-09/ninho.png?itok=Ep_07caD">
		</td>	
	</tr>
</table>

