<table style="width: 70%;margin: auto;text-align: center; max-width: 600px;">
	<tr>
		<td colspan="3" style="padding:30px; text-align:center; border-bottom:2px solid #EDEDED;">
			<img style="width: 200px;" src="https://www.ninhosdobrasil.com.br/sites/default/files/styles/media_library/public/2021-09/logotipo.png?itok=ZV5l8LL8">
		</td>	
	</tr>
	<tr>
		<td colspan="3" style="font-family: 'DM Sans', sans-serif;font-weight: 700;text-align: center;font-size: 24px;line-height: 32px; padding-top: 30px;">Olá, #NOME#.</td>
	</tr>
	<tr>
		<td colspan="3" style="font-family: 'DM Sans', sans-serif;font-weight: 300;text-align: center;padding-top: 30px;font-size: 16px;line-height: 24px;">Precisa trocar sua senha? Para atualizar seus dados e acessar tudo o que preparamos para você, é só clicar no botão abaixo.</td>
	</tr>
	<tr>
		<td colspan="3" style="padding: 30px 0px 0px 15px;"><a href="https://#DOMINIO#/user/nova_senha?token=#TOKEN#&TipoSolicitacao=#TIPOSOLICITACAO#"><button style="border:0px;padding:20px 30px;background-color: #175732;color: #ffffff;font-family: 'DM Sans', sans-serif;font-weight: 700;text-align: center;font-size: 16px;line-height: 24px;border-radius: 10px;outline:0px; cursor:pointer;">Criar nova senha</button></a></td>
	</tr>
	<tr>
		<td colspan="3" style="padding:15px; text-align:center; border-bottom:2px solid #EDEDED;">
		</td>	
	</tr>
	<tr>
		<td colspan="3" style="font-family: 'DM Sans', sans-serif;font-weight: 300;text-align: center;padding-top: 30px;font-size: 16px;line-height: 24px;">
		Não fez o pedido? Então, <a style="text-decoration: none;color: #175732; border-bottom: 2px solid #175732;" href="https://#DOMINIO#/user/cancelamento?token=#TOKEN#&TipoSolicitacao=#TIPOSOLICITACAO#">clique aqui</a></td>
	</tr>
	<tr>
		<td colspan="3" style="padding:15px; text-align:center; border-bottom:2px solid #EDEDED;">
		</td>	
	</tr> 
	<tr>
		<td colspan="3" style="padding:10px;font-family: 'DM Sans', sans-serif;font-weight: 300;text-align: center;padding-top: 30px;font-size: 16px;line-height: 24px;">
			Feito com carinho por:
		</td>	
	</tr>
	<tr>
		<td colspan="3" style="padding:10px;font-family: 'DM Sans', sans-serif;font-weight: 300;text-align: center;"><img style="width: 90px;" src="https://www.ninhosdobrasil.com.br/sites/default/files/styles/media_library/public/2021-09/ninho.png?itok=Ep_07caD">
		</td>	
	</tr>
</table>

