.author-block {
    border: 1px solid #000;
}

.author-block__frame {
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: tomato;
}