{#
/**
 * @file
 * Theme implementation for FYI notification.
 */
#}
<span class="close-notes"></span>
<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#notifications-panel" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      {% if unread > 0 %}
        <i data-count="{{ unread }}" id="notificationcount" class="glyphicon glyphicon-bell notification-icon"></i>
      {% else %}
        <i class="glyphicon glyphicon-bell notification-icon-read"></i>
      {% endif %}
    </a>
    <ul class="dropdown-menu notify-drop">
      <div class="notify-drop-title fyi-notification">
        {% if unread > 1 %}
          {% trans %} Você tem {{ unread }} notificações não lidas {% endtrans %}
        {% elseif unread > 0 %}
          {% trans %} Você tem {{ unread }} notificação não lida {% endtrans %}
        {% endif %}
        {% if unread == 0 %}
          {% trans %} Você não tem notificações novas {% endtrans %}
        {% endif %}
      </div>
      <!-- end notify title -->
      <!-- notify content -->
      <div class="drop-content">
        {% for notifications in notification_list %}
          <li data-id="{{  notifications.id }}" data-read-status = "{{ notifications.status ? 'read' : 'unread' }}" class="notification-items {{ notifications.status ? 'read' : 'unread' }}">
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
            <span class="notification-msg">
            <!-- <span class="notification-msg">{{ notifications.message | raw }} -->
              <a class="noti-store-msg" href="javascript:;" data-link="{{ notifications.link }}">

                {% if notifications.action == 'author' %}
                  Seu tópico <i>{{ notifications.message }}</i> recebeu um novo comentário.
                {% elseif notifications.action == 'commenter' %}
                  O tópico <i>{{ notifications.message }}</i> recebeu um novo comentário.
                {% elseif notifications.action == 'comment_approval' %}
                  Seu comentário em <i>{{ notifications.message }}</i> foi aprovado.
                {% elseif notifications.action == 'topic_approval' %}
                  Seu tópico <i>{{ notifications.message }}</i> foi aprovado.
                {% endif %}
              </a>
            </span>
            <span class="notification-remove">Excluir</span>
          </li>
        {% endfor %}
      </div>
      <!-- {% if total > 0 %}
        <span class="clear-all-notification" data-uid="{{ uid }}" data-notification-type = "{{ notification_type }}">Clear All</span>
      {% endif %} -->
    </ul>
  </li>
</ul>
