<style>
.block-nest-page-title{
display: none;
}
</style>
<div class="quiz_resultado">
    {% if data.quiz_title %}
        <h4>{{ data.quiz_title }}</h4>
    {% endif %}
    {% if data.title %}
        <h1>{{ (data.survey) ? 'Você respondeu: ' : 'O seu resultado foi: ' }}{{ data.title }}</h1>
    {% endif %}
    {% if data.image %}
        <img src="{{ data.image }}" alt="">
    {% endif %}
    {# Survey #}
    {% if data.survey %}
        <p>Veja como votaram os outros usuários:</p>
        <div class="chart_bar">
          {% for option in data.keyanswers %}
            <div class="result_option">
              <span style="width: {{ (option.percentage) ? option.percentage : 0 }}%;"></span>
              <strong>{{ (option.percentage) ? option.percentage : 0 }}%</strong> 
              <em>{{ option.title }}</em>
            </div>
          {% endfor %}
        </div>
    {% endif %}
    {# Enquete #}
    {% if data.message %}
        {{ data.message|raw }}
    {% endif %}
    <div class="share">
      <h3>Compartilhe o seu resultado:</h3>
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>') }}?destination={{ data.destination }}" class="option share_facebook">a</a>
      <a target="_blank" href="https://twitter.com/intent/tweet?url={{ url('<current>') }}?destination={{ data.destination }} Veja esse conteúdo de Ninhos do Brasil!" class="option share_twitter"></a>
      <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ url('<current>') }}?destination={{ data.destination }}" class="share_linkedin"></a>
      <a target="_blank" href="https://web.whatsapp.com/send?text={{ url('<current>') }}?destination={{ data.destination }}" class="option share_whatsapp desktop-element"></a>
      <a target="_blank" href="whatsapp://send?text={{ url('<current>') }}?destination={{ data.destination }} Veja esse conteúdo de Ninhos do Brasil!" class="option share_whatsapp mobile-element"></a>
      <div id="URLinput">{{ url('<current>') }}?destination={{ data.destination }}</div>
      <div onclick="copyURL()" class="option share_link"></div>
      <div class="URLmessage">O link foi copiado.<span></span></div>
    </div>
</div>

<section class="today_contents" id="articles">
  <h3>Outros conteúdos que podem lhe ajudar:</h3>
  <div class="related_list">
      {% for node in data.list %}
          <a href="{{ node.url }}" class="section_content_item default-block age_{{ node.tags.faixa_etaria.0.name|lower|replace({'-': '_', ' ': ''}) }}">
          <div class="line_01_up">
              {% if node.read %}
                  <strong>Já lido</strong>
              {% endif %}
              <img src="{{ node.picture }}">
          </div>
          <div class="line_01_down">
              <h2>
              {{ node.title }}
              </h2>
              <!-- <label> -->
              <!-- Leitura de 2 minutos -->
              <!-- </label> -->
              <div class="metatags">
              <!--<span class="type">
                  {{ node.type }}
              </span>-->
              <!-- Se tiver multiplas tags -->
              {% if node.tags.interesses|length > 1 %}
              <span class="tag">
                  {{ node.tags.interesses[0].name }} 
              </span>
              <strong>
                  +{{ node.tags.interesses|length - 1 }}
              </strong>
              <!-- Se tiver apenas uma tag -->
              {% else %}
                  <span class="tag">
                  {{ node.tags.interesses[0].name }}
                  </span>
              {% endif %}
              </div>
          </div>
          </a>
      {% endfor %}
      {% if showMore %}
          <a class="more-items" href="{{ url('<front>') }}/lista/conteudos">
          <span>Ver tudo</span>
          </a>
      {% endif %}
  </div>
</section>