{% if logged_in and status.percentage < 100%}
  <div class="warning">
    <div>Complete seu cadastro e nos ajude a exibir o melhor conteúdo para você.</div>
      <div>
        <label>Você parou em {{ status.percentage }}%</label>
        <div>
          <div style="width: {{ status.percentage }}%;"></div>
        </div>
        <a href="{{ url('<front>') }}user{{ status.url }}">
          <button>Completar</button>
        </a>
      </div>
  </div>
{% endif %}