{#
/**
 * @file
 * Theme override to display a list of forums and containers.
 *
 * Available variables:
 * - forums: A collection of forums and containers to display. It is keyed to
 *   the numeric IDs of all child forums and containers. Each forum in forums
 *   contains:
 *   - is_container: A flag indicating if the forum can contain other
 *     forums. Otherwise, the forum can only contain topics.
 *   - depth: How deep the forum is in the current hierarchy.
 *   - zebra: 'even' or 'odd', used for row class.
 *   - icon_class: 'default' or 'new', used for forum icon class.
 *   - icon_title: Text alternative for the forum icon.
 *   - name: The name of the forum.
 *   - link: The URL to link to this forum.
 *   - description: The description field for the forum, containing:
 *     - value: The descriptive text for the forum.
 *   - new_topics: A flag indicating if the forum contains unread posts.
 *   - new_url: A URL to the forum's unread posts.
 *   - new_text: Text for the above URL, which tells how many new posts.
 *   - old_topics: A count of posts that have already been read.
 *   - num_posts: The total number of posts in the forum.
 *   - last_reply: Text representing the last time a forum was posted or
 *     commented in.
 * - forum_id: Forum ID for the current forum. Parent to all items within the
 *   forums array.
 *
 * @see template_preprocess_forum_list()
 */
#}
<style>.action-links{display: none;}</style>
<p class="forum-intro">Selecione a idade da criança para filtrar alguns tópicos.</p>
<div class="table_all">
  {% for child_id, forum in forums %}  
      {% for i in 1..forum.depth if forum.depth > 0 %}
        <div class="line_all">
          <h3>
            {{ forum.label }}
          </h3>
          {% if forum.description.value %}
            <!--
            <p>
              {{ forum.description.value }}
            </p>
            -->
          {% endif %}
          <p>
            {{ forum.num_topics }} tópicos
          </p>
          <a href="{{ forum.link }}">
            Ver tudo
          </a>
        </div>
      {% endfor %}
  {% endfor %}
</div>