{#
/**
 * @file
 * Theme override for an item list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The custom list style.
 *
 * @see template_preprocess_item_list()
 */
#}
<style>
.region.region-content h2{display: none;}
</style>
<div class="index_contents">
  
  <div class="index_filters">
    <p>196 resultados</p>
    <p>Filtrar</p>
    <div>
      <input type="radio" name="">
      1 - 2 anos
    </div>
    <div>
      <input type="radio" name="">
      3 - 4 anos
    </div>
    <div>
      <input type="radio" name="">
      5 - 6 anos
    </div>
    <div>
      <input type="radio" name="">
      7 - 8 anos
    </div>
    <div>
      <input type="radio" name="">
      9+anos
    </div>
    <a href="#filter">+ Filtros</a>
    <a href="#filter">- Filtros</a>
  </div>



  {% if context.list_style %}
    {%- set wrapper_attributes = wrapper_attributes.addClass('item-list--' ~ context.list_style) %}
    {%- set attributes = attributes.addClass('item-list__' ~ context.list_style) %}
  {% endif %}
  {% if items or empty -%}
    <div{{ wrapper_attributes.addClass('item-list') }}>
      {%- if title is not empty -%}
        <h3>{{ title }}</h3>
      {%- endif -%}
      {%- if items -%}
        <{{ list_type }}{{ attributes }}>
          {%- for item in items -%}
            <li{{ item.attributes }}>{{ item.value }}</li>
          {%- endfor -%}
        </{{ list_type }}>
      {%- else -%}
        {{- empty -}}
      {%- endif -%}
    </div>
  {%- endif %}
</div>
