/* setup */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');
:root{
  --title: 36px;
  --sub_title: 24px;
  --body_max: 18px;
  --body: 16px;
  --detail: 14px;
  --detail_min: 12px;
  --white: #ffffff;
  --lightgray: #dbdbdb;
  --gray: #9a9a9a;
  --darkgray: #464646;
  --black: #000000;
}
body{
  padding: 0px; 
  margin: 0px;
}
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  padding:0px;
  margin: 0px;
}
button{
  color: var(--white);
  background-color: var(--black);
  border: none;
  text-transform: uppercase;
  font-size: var(--body);
  padding:10px;
}
input[type="text"], 
input[type="date"],
input[type="password"],
input[type="number"],
select{
  width: 100%;
  margin-top: 15px;
  border-bottom: 2px solid var(--black);
  padding:5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0px!important;
}
select{
  background-image: url('../../images/arrow.svg')!important;
  background-repeat: no-repeat;
  background-size: 8px!important;
  background-position: calc(100% - 10px);
}
input[type="radio"]{
  background-color: yellow;
  width: 20px;
  float: left;
  margin:0px 0px 0px 0px;
  border:0px solid var(--black);
}
/* cabeçalho */
header .warning{
  overflow: hidden;
  background-color: var(--gray);
  padding:30px 30px 0px 30px;
}
header .warning div{
  font-size: var(--body);
  float:left; 
  list-style: none; 
  width: 25%;
}
header .warning div:nth-child(2) div{
  background-color: var(--white);
  width: 100%;
  float: right;
  width: 50%;
}
header .warning div:nth-child(2) div div{
  background-color: var(--black);
  float: left;
  padding:10px;
  margin:0px;
}
header .warning div:nth-child(1){
  width:50%;
}
header .warning button{
  float: right;
  color: var(--white);
  background-color: var(--black);
  border: none;
  margin: 0px 0px 30px 30px;
  padding: 2px 5px 2px 5px;
}
header .hello{
  height: 162px;
  padding:60px 30px 60px 30px;
}
header .hello div{
  float: right;
}
header .hello div div{
  float: left;
  font-size: var(--body);
  margin-left:30px; 
  position: relative;
}
header .hello div div ul.options{
  width: 200px;
  list-style: none;
  position: absolute;
  z-index: 4;
  top: 20px;
  right: 0px;
  transition: all 0.5s;
  text-align: left;
  display: none;
}
header .hello div:nth-child(1) div:nth-child(1) ul.options li{
  border: 1px solid var(--gray);
  background-color: var(--lightgray);
  text-transform: uppercase;
  padding: 30px;
  white-space: nowrap;
}
header .hello div:nth-child(1) div:nth-child(2) ul.options li.notification{
  padding: 30px;
  border: 1px solid var(--gray);
  background-color: var(--lightgray);
  text-align: left;
}
header .hello div:nth-child(1) div:nth-child(2) ul.options li.notification div:nth-child(1){
  float: none;
  margin-left: 0px;
  font-size: var(--detail_min);
  text-transform: uppercase;
}
header .hello div:nth-child(1) div:nth-child(2) ul.options li.notification div:nth-child(2){
  float: none;
  margin-left: 0px;
  font-size: var(--detail);
  padding-top: 5px;
}
header .hello div div.active ul.options{
  display: block;
}
header .hello div div span{
  width: 20px;
  height: 20px;
  display: block;
}
header .hello div div span img{
  width: 20px;
  height: 20px;
}
header .hello div div .ball{
  background-color: var(--gray);
  width:15px;
  height:15px;
  border-radius: 50%;
  font-size: var(--detail_min);
  text-align: center;
  margin:-10px 0px 0px 13px;
  display: block;
  position: absolute;
}
header .hello div div.active .ball{
  display: none;
}
header .hello .login{
  float:left;
  margin:10px;
  background-color: var(--white);
  color: var(--black);
  text-transform: capitalize;
}
header .hello div div ul.login_table{
  width: 300px;
  list-style: none;
  position: absolute;
  z-index: 4;
  top: 20px;
  right: 0px;
  transition: all 0.5s;
  text-align: left;
  display: none;
  border: 1px solid var(--black);
}

/* Login home */
header .hello div div.active ul.login_table{
  display: block;
}
header .hello .login ul.login_table li:nth-child(1){
  text-transform: uppercase;
  font-size: var(--detail);
  text-align: left;
  margin-left: 0px;
}
header .hello .login ul.login_table li{
  background-color: var(--lightgray);
  text-transform: uppercase;
  padding: 30px 30px 0px 30px;
  white-space: nowrap;
  width: 100%;
  font-size: var(--detail);
}
header .hello .login ul.login_table li input{
  width: 100%;
}
header .hello .login ul.login_table li:nth-child(4) a{
  color: var(--black);
  font-size: var(--detail_min);
}
header .hello .login ul.login_table li:nth-child(5) button{
  width: 100%;
  margin:0px 0px 30px 0px;
}

header .hello .register{
  float:left;
  background-color: var(--lightgray);
  color: var(--black);
  text-transform: capitalize;
}
header .parents{
  overflow: hidden;
  padding:30px;
}
header .parents div{
  font-size: var(--body_max);
  margin: 0px;
  list-style: none; 
}
header .parents div:nth-child(1){
  float:left;
  width: 300px;
  height: 164px;
  background-image: url('../../images/logo.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
header .parents div:nth-child(2){
  width: 20%;
  padding:120px 30px 0px 30px; 
  float: left;
}
header .parents div:nth-child(3){
  float:right;
  width: 300px;
  height: 164px;
  background-image: url('../../images/ilustration.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
header ul.age{
  overflow: hidden;
  position: sticky;
  z-index: 3;
  width:100%;
  padding:0px;
  margin:0px;
  list-style: none;
  height: 84px;
}
header ul.age li{
  float: left;
  border: 1px solid black;
  width:8%;
  text-decoration: none;
  text-align: center;
}
header ul.age li a{
  color: var(--black); 
  text-decoration: none;
  display: block;
  padding:30px;
}
header ul.age li a:hover{
  background-color: var(--lightgray);
}
header ul.age li:nth-child(1){
  float: left;
  width: 20%;
  background-color: var(--gray);
}
header ul.age li:nth-child(7){
  width: 15%;
}
header ul.age li:nth-child(8){
  width: 25%;
  text-align: left;
}
/* corpo da página */
article section{
  overflow: hidden;
}
article section .today_contents{
  background-color: var(--lightgray);
  overflow: hidden;
}
article section .section_guide{
  overflow: hidden;
  float: left;
  width: 20%;
  background-color: var(--gray);
  border: 1px solid black;
  padding:30px 30px 30px 30px;
  height: 400px;
}
article section .section_guide div:nth-child(1){
  font-size: var(--title);
  text-align: right;
}
article section .section_guide div:nth-child(2){
  font-size: var(--detail);
  text-align: right;
  padding-top: 30px;
}
article section .section_guide div:nth-child(2) div{
  overflow: hidden;
  font-size: var(--detail_min);
  margin-top: 30px;
}
article section .section_guide div:nth-child(2) div div{
  background-color: var(--black);
  display: inline-block;
  padding:5px;
  margin:2px;
  color: var(--white);
}
article section .section_guide div:nth-child(2) div div .close{
  width:10px; 
  height:10px;
  background-image: url('../../images/white_close.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
article section .section_guide div:nth-child(1) div{
  overflow: hidden;
  font-size: var(--detail_min);
  margin-top: 30px;
}
article section .section_guide div:nth-child(1) div div{
  background-color: var(--darkgray);
  display: inline-block;
  padding:5px;
  margin:2px;
  color: var(--white);
}
article section .section_guide div:nth-child(1) div div .close{
  width:10px; 
  height:10px;
  background-image: url('../../images/white_close.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
article section .section_guide div:nth-child(1) div .tag_age{
  background-color: var(--black);
}
article section .section_guide div:nth-child(1) div .tag_age .close{
  width:10px; 
  height:10px;
  background-image: url('../../images/white_close.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
article section .section_guide a.config{
  font-size: var(--detail);
  color: var(--black);
  text-transform: uppercase;
  margin-top: 15px;
  display: block;
}
article section .section_content{
  overflow: hidden;
  float: left;
  width: 80%;
  background-color:var(--lightgray);
  overflow: hidden;
}
article .carousel_content .section_content,
article .carousel_content_forum .section_content{
  width: 100%;
}
article section .section_content .section_content_item{
  overflow: hidden;
  float: left;
  width: 100%;
  background-color:var(--lightgray);
  border: 1px solid black;
  height: 400px;
  display: block;
  color: var(--black);
  text-decoration: none;
}

article section .section_content .section_content_item:hover{
  background-color: var(--gray);
}
article section .section_content .section_content_item .line_01_up{
  overflow: hidden;
  height: 200px;
  background-image: url('../../images/content_image.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
article section .section_content .section_content_item .line_01_down{
  overflow: hidden;
  padding:30px;
}
article section .section_content .section_content_item .line_01_down div:nth-child(1){
  font-size: var(--sub_title);
  float: left;
}
article section .section_content .section_content_item .line_01_down div:nth-child(1) div{
  background-color: var(--gray);
  font-size:  var(--detail_min);
  padding:5px;
  display: inline-block;
  float: none;
}
article section .section_content .section_content_item .line_01_down div:nth-child(2){
  font-size:  var(--detail);
  float: left;
  width: 100%;
  padding-top:10px;
}
article section .section_content .section_content_item .line_02{
  overflow: hidden;
  padding:30px;
}
article section .section_content .section_content_item .line_02 div:nth-child(1){
  font-size: var(--sub_title);
  padding:30px 0px 30px 0px;
  width: 80%;
}
article section .section_content .section_content_item .line_02 div:nth-child(2){
  font-size: var(--detail);
  padding:0px 0px 30px 0px;
}
article section .section_content .section_content_item .line_02 div:nth-child(3){
  font-size: var(--detail);
  text-transform: uppercase;
  background-color: var(--gray);
  padding:5px;
  display: inline-block;
}
article section .section_content .section_content_item .line_03{
  overflow: hidden;
  padding:30px;
}
article section .section_content .section_content_item .line_03 div:nth-child(1){
  background-color: var(--black);
  border-radius:50%; 
  width:80px; 
  height:80px;
}
article section .section_content .section_content_item .line_03 div:nth-child(2){
  font-size: var(--detail);
  padding:30px 0px 30px 0px;
}
article section .section_content .section_content_item .line_03 div:nth-child(3){
  font-size: var(--sub_title);
  width: 80%;
}
section.announcement{
  overflow: hidden;
  background-color: var(--lightgray);
  width:100%;
  padding: 90px 0px 90px 0px;
}
section.announcement div{
  float:left;
}
section.announcement .title_announcement{
  font-size: var( --sub_title);
  width: 20%;
  margin-right: 30px;
  text-align: right;
  padding-left: 60px;
}
section.announcement div p{
  padding:0px;
  margin: 0px;
  float: left;
  width: calc(100% - 115px - 30px);
}
section.announcement .foto{
  width:80px;
  height:80px;
  margin-right: 30px; 
  background-image: url('../../images/product.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
section.announcement .end button{
  float: right;
}
section.announcement .end button .more{
  float: left;
  font-size: var(--detail_min);
  margin-right: 30px; 
}
section.announcement .end button .logo_external_white{
  height: 20px;
  width: 20px;
  background-image: url('../../images/white_external-link.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  float: right;
}
section.announcement .end{
  width: calc(80% - 80px - 30px - 90px);
  padding:0px;
  font-size: var(--detail);
}
section.quiz{
  overflow: hidden;
  background-color: var(--gray);
  padding:90px 0px 90px 0px;
}
section.quiz div:nth-child(1){
  font-size: var( --sub_title);
  float:left;
  width: 20%;
  padding-left: 60px;
  text-align: right;
  margin-right: 30px;
}
section.quiz div:nth-child(2){
  float: left;
  width: calc(80% - 30px - 60px);
  font-size: var(--detail);
}
section.quiz div p{
  float: left;
  width: calc(100% - 100px);
}
section.quiz .time{
  color: var(--black);
  background-color: var(--white);
  border: 1px solid black;
  text-transform: uppercase;
  font-size: var(--detail_min);
  display: inline-block;
}
section.quiz .begin{
  float: right;
}
/* rodape */
footer{
  overflow: hidden;
  padding:90px 0px 90px 0px;
  width: 100%;
  background-color: var(--lightgray);
}
footer div{
  overflow: hidden;
  width: 100%;
}
footer h2{
  float: left;
  width:20%;
  font-size: var(--body_max);
  text-align: right;
  padding-left: 60px;
  margin-right: 30px;
}
footer ul.items{
  width: calc(80% - 30px);
  overflow: hidden;
  text-align: center;
  float: right;
  padding-right: 60px;
}
footer ul.items li{
  list-style: none;
}
footer ul.items li a{
  float: left;
  color: var(--black); 
  text-decoration: none; 
  display: block;
  background-color: var(--gray);
  text-transform: uppercase;
  font-size: var(--detail_min);
  padding:5px;
  margin:5px;
}
footer ul.items li a:hover{
  text-decoration: none;
  background-color: var(--lightgray);
}
footer ul.bases{
  overflow: hidden; 
  margin: 60px 60px 60px 60px; 
  text-align: center;
}
footer ul.bases li{
  list-style: none;
  display: inline-block;
}
footer ul.bases li a{
  float: left;
  color: var(--black); 
  text-decoration: none; 
  display: block;
  font-size: var(--detail);
  margin:5px;
  text-transform: uppercase;
}
footer ul.bases li a:hover{
  text-decoration: underline;
}
.interests{
  overflow: hidden;
  padding:150px;
  background-color: var(--white);
  display: none;
  position: fixed;
  right:0px;
  top: 0px;
  left: 0px;
  z-index: 5;
}
.interests.active{
  display: block;
}
.interests .intro_popup{
  overflow: hidden;
  text-align: center;
}
.interests .intro_popup div{
  text-align: right;
}
.interests .intro_popup div button{
  background-color: transparent;
  color: var(--gray);
  background-image: url('../../images/white_close.svg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.interests .intro_popup h2{
  font-size: var(--title);
}
.interests .intro_popup p{
  margin-top: 30px; 
  font-size: var(--detail);
}
.interests .age_filter{
  overflow: hidden;
}
.interests .age_filter h3{
  font-size: var(--detail);
  text-transform: uppercase;
  margin-top: 60px;
}
.interests .age_filter div:nth-child(2){
  font-size: var(--detail);
  background-color: var(--black);
  display: inline-block;
  padding:5px;
  margin:2px;
  color: var(--white);
  margin-top: 30px;
}
.interests .age_filter div:nth-child(3){
  font-size: var(--detail);
  background-color: var(--darkgray);
  display: inline-block;
  padding:5px;
  margin:2px;
  color: var(--white);
}
.interests .age_filter p{
  font-size: var(--detail);
  display: inline;
  border-right: 1px solid var(--black);
  padding-right: 5px;
}
.interests .age_filter a{
  color: var(--black);
}
.interests .current_interest h3{
  font-size: var(--detail);
  text-transform: uppercase;
  margin:30px 0px 30px 0px;
}
.interests .current_interest div{
  text-align: center;
  font-size: var(--detail);
  background-color: var(--black);
  display: inline-block;
  padding:5px;
  margin:2px;
  color: var(--white);
}
.interests .current_interest div .close{
  height: 10px;
  width: 10px;
  background-image: url('../../images/white_close.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.interests .options h3{
  font-size: var(--detail);
  text-transform: uppercase;
  margin-top: 30px;
}
.interests .options div{
  font-size: var(--detail);
  background-color: var(--darkgray);
  display: inline-block;
  padding:5px;
  margin:2px;
  color: var(--white);
  margin-top: 30px;
}
.interests .tag_suggestion{
  overflow: hidden;
}
.interests .tag_suggestion h3{
  font-size: var(--detail);
  text-transform: uppercase;
  margin-top: 30px;
  color: var(--gray);
}
.interests .tag_suggestion div:nth-child(2) div{
  font-size: var(--detail);
  margin-top: 30px;
  color: var(--gray);
  border: 1px solid var(--gray);
  width: 80%;
  float: left;
  margin-right: 30px; 
}
.interests .tag_suggestion div:nth-child(2) button{
  margin-top: 30px;
  background-color: var(--gray);
  font-size: var(--detail_min);
  padding:5px;
  width: 8%;
}
.interests .tag_suggestion div:nth-child(3) div{
  font-size: var(--detail);
  background-color: var(--gray);
  display: inline-block;
  padding:5px;
  margin:2px;
  color: var(--white);
  margin-top: 30px;
}
.interests .tag_suggestion button{
  margin-top: 30px;
  width: 100%;
}
.owl-carousel .owl-nav button{
  position: absolute;
  top: 0px;
  height: 400px;
  width: 100px;
}
.owl-carousel .owl-nav button span{
  display: block;
  width: 24px;
  height: 24px;
  margin: 0px auto;
  font-size: var(--sub_title);
  line-height: 10px;
}
.owl-carousel .owl-nav .owl-prev{
  background: rgba(19,19,19,1);
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(0,0,0,0.88) 22%, rgba(248,80,50,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(11%, rgba(0,0,0,1)), color-stop(22%, rgba(0,0,0,0.88)), color-stop(100%, rgba(248,80,50,0)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(0,0,0,0.88) 22%, rgba(248,80,50,0) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(0,0,0,0.88) 22%, rgba(248,80,50,0) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(0,0,0,0.88) 22%, rgba(248,80,50,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(0,0,0,0.88) 22%, rgba(248,80,50,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#f85032', GradientType=1 );
}
.owl-carousel .owl-nav .owl-prev.disabled{
  display: none;
}
.owl-carousel .owl-nav .owl-next.disabled, .owl-carousel .owl-nav .owl-prev{
  display: block;
}
.owl-carousel .owl-nav .owl-next{
  display: block;
  right: 0px;
  background: rgba(248,80,50,0);
  background: -moz-linear-gradient(left, rgba(248,80,50,0) 0%, rgba(0,0,0,0.88) 78%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,0)), color-stop(78%, rgba(0,0,0,0.88)), color-stop(89%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(left, rgba(248,80,50,0) 0%, rgba(0,0,0,0.88) 78%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(left, rgba(248,80,50,0) 0%, rgba(0,0,0,0.88) 78%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(left, rgba(248,80,50,0) 0%, rgba(0,0,0,0.88) 78%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to right, rgba(248,80,50,0) 0%, rgba(0,0,0,0.88) 78%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#000000', GradientType=1 );nsform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#000000', GradientType=1 );
}
header ul.age li.button_search .search{
  overflow: hidden;
  background-color: var(--gray);
  padding: 30px;
  position:absolute;
  z-index:10;
  display: none;
} 
header ul.age li:nth-child(8) .logo_search{
  width: 30px;
  height: 30px;
  float:right;
  background-image: url('../../images/search.svg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
header ul.age li.button_search.active .search{
  display: block;
}
header ul.age li.button_search .search .search_menu{
  overflow: hidden;
  border-bottom: 1px solid var(--darkgray);
}
header ul.age li.button_search .search .search_menu div{
  width: calc(100% - 30px);
  padding: 0px 0px 30px 0px;
  float: left;
  color: var(--white);
}
header ul.age li.button_search .search .search_menu .logo_search{
  width: 30px;
  height: 30px;
  float:right;
  background-image: url('../../images/search.svg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
header ul.age li.button_search .search .searched_words{
  overflow: hidden;
}
header ul.age li.button_search .search .searched_words div:nth-child(1){
  text-transform: uppercase;
  font-size: var(--detail);
  margin-top: 30px;
}
header ul.age li.button_search .search .searched_words a{
  color: var(--white);
  font-size: var(--detail);
  padding:5px;
  margin:2px;
  margin-top: 30px;
  float: left;
  text-decoration: underline;
}
header ul.age li.button_search .search .featured_content{
  overflow: hidden;
}
header ul.age li.button_search .search .featured_content div:nth-child(1){
  text-transform: uppercase;
  font-size: var(--detail);
  margin-top: 30px;
}
header ul.age li.button_search .search .featured_content .table{
  width:100%;
  overflow: hidden;
}
header ul.age li.button_search .search .featured_content .table .table_left{
  height: 100px;
  width: 100px;
  background-color: var(--black);
  float:left;
  background-image: url('../../images/search_content_image.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
header ul.age li.button_search .search .featured_content .table .table_right{
  background-color: white;
  width: calc(100% - 100px);
  float: left;
  margin-top:30px;
  height: 100px;
}
header ul.age li.button_search .search .featured_content .table .table_right h2{
  font-size: var(--body);
  padding:10px;
}
header ul.age li.button_search .search .featured_content .table .table_right div{
  font-size: var(--detail);
  padding: 0px 10px 10px 10px;
}
header ul.age li.button_search .search .content_tag .emphasis{
  text-transform: uppercase;
  font-size: var(--detail);
  margin-top: 30px;
}
header ul.age li.button_search .search .content_tag div:nth-child(2) div{
  font-size: var(--detail_min);
  background-color: var(--darkgray);
  display: inline-block;
  padding:1px;
  color: var(--white);
  margin-top: 30px;
}
header ul.age li.button_search .search .content_tag div:nth-child(3) div{
  text-transform: uppercase;
  font-size: var(--detail);
  margin-top: 30px;
}
header ul.age li.button_search .search .content_tag div:nth-child(3) a{
  color: var(--white);
  font-size: var(--detail);
  padding:5px;
  margin:2px;
  margin-top: 30px;
  float: left;
  text-decoration: underline;
}

/* Content */
article .content_description{
  overflow: hidden;
  padding:100px 200px 100px 200px;
  width: 100%;
  float: left;
}
article .content_description h1{
  font-size: var(--title);
}
article .content_description .metatags{
  width: 100%;
  padding-top: 30px;
  overflow: hidden;
}
article .content_description .metatags div{
  float: left;
  font-size: var(--detail);
}
article .content_description .metatags div:nth-child(1),
article .content_description .metatags div:nth-child(2),
article .content_description .metatags div:nth-child(3){
  margin-right: 30px;
}
article .content_description .metatags div:nth-child(2),
article .content_description .metatags div:nth-child(3),
article .content_description .metatags div:nth-child(4){
  padding-top: 10px;
}
article .content_description .metatags div:nth-child(1) div:nth-child(2) a{
  padding-top: 10px;
  color: var(--black);
}
article .content_description .metatags div:nth-child(1) div:nth-child(1){
  width: 40px;
  height: 40px;
  background-color: var(--lightgray);
  border-radius: 30px;
  padding-top: 0px;
  margin-right: 5px;
}
article .content_description .metatags div:nth-child(4){
  float: right;
}
article .content_description .metatags div:nth-child(4) div:nth-child(1){
  padding-right: 3px;
  margin-right: 5px;
}
article .share_facebook{
  background-image: url('../../images/facebook.svg');
  background-size: 30%;
}
article .share_twitter{
  background-image: url('../../images/twitter.svg');
  background-size: 50%;
}
article .share_linkedin{
  background-image: url('../../images/linkedin.svg');
  background-size: 50%;
}
article .share_link{
  background-image: url('../../images/link.svg');
  background-size: 50%;
}
article .share_whatsapp{
  background-image: url('../../images/whatsapp.svg');
  background-size: 55%;
}
article .content_description .metatags div:nth-child(4) div:nth-child(2),
article .content_description .metatags div:nth-child(4) div:nth-child(3),
article .content_description .metatags div:nth-child(4) div:nth-child(4),
article .content_description .metatags div:nth-child(4) div:nth-child(5),
article .content_description .metatags div:nth-child(4) div:nth-child(6){
  float: left;
  width: 20px;
  height: 20px;
  background-color: var(--gray);
  border-radius: 10px;
  padding-top: 10px;
  margin-right: 3px;
  background-position: center;
  background-repeat: no-repeat;
}
article .content_description .metatags .save{
  float: right;
  width: 20px;
  height: 20px;
  padding-top: 10px;
  margin-right: 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/gray_bookmark.svg');
  background-size: 90%;
  margin-left: 10px;
}
article .content_description .metatags .save.active{
  background-image: url('../../images/bookmark.svg');
}
article .content_description picture{
  width: 100%;
}
article .content_description picture img{
  height: 300px;
  width: 100%;
  background-color: var(--lightgray);
  margin-top: 30px;
}
article .content_description picture iframe{
  height: 400px;
  width: 100%;
  background-color: var(--lightgray);
  margin-top: 30px;
}
article .content_description picture label{
  width: 100%;
  display: block;
  font-size: var(--detail);
}
article .content_description .internal{
  overflow: hidden;
  padding: 0px 120px 0px 120px;
}
article .content_description .internal .quote{
  padding:30px 30px 0px 30px;
  font-size: var(--sub_title);
}
article .content_description .internal p{
  padding-top: 30px;
  font-size: var(--body);
}
article .content_description .internal .gif picture label{
  width: 80%;
  font-size: var(--detail_min);
  float: left;
}
article .content_description .internal .gif picture .logo_gif{
  width: 20%;
  height: 20px;
  float: right;
  background-image: url('../../images/giphy-logo.svg');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
article .content_description .internal .tags h2,
article .content_description .internal .assessment h2{
  font-size: var(--sub_title);
  margin-top:60px;
}
article .content_description .internal .tags div{
  font-size: var(--detail);
  background-color: var(--darkgray);
  display: inline-block;
  padding:3px;
  margin-right: 10px;
  color: var(--white);
  margin-top: 30px;
}
article .content_description .internal .assessment .rank_like,
article .content_description .internal .assessment .rank_deslike{
  font-size: var(--sub_title);
  background-color: var(--gray);
  display: inline-block;
  padding:15px;
  margin-top: 30px;
  width: 30%;
  margin-right: 10px;
}
article .content_description .internal .assessment .rank_like div:nth-child(1),
article .content_description .internal .assessment .rank_deslike div:nth-child(1){
  float: left;
}
article .content_description .internal .assessment .rank_like div:nth-child(2){
  width: 30px;
  height: 30px;
  float: right;
  background-image: url('../../images/like.svg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
article .content_description .internal .assessment .rank_deslike div:nth-child(2){
  width: 30px;
  height: 30px;
  float: right;
  background-image: url('../../images/deslike.svg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
article .content_description .content_podcast{
  overflow: hidden;
  width: 100%;
  height: 250px;
  background-color: var(--lightgray);
  padding: 30px;
  margin-top:30px;
}
article .content_description .content_podcast img{
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 30px;
}
article .content_description .content_podcast .information_podcast{
  float: right;
  width: calc(100% - 230px);
}
article .content_description .content_podcast .information_podcast .info_podcast_01{
  overflow: hidden;
}
article .content_description .content_podcast .information_podcast .info_podcast_01 h3{
  font-size: var(--sub_title);
  width: 90%;
  float: left;
  margin-bottom: 10px;
}
article .content_description .content_podcast .information_podcast .info_podcast_01 button{
  float: right;
  background-color: var(--lightgray);
  color: var(--black);
  font-size: 50px;
  padding: 0px;
}
article .content_description .content_podcast .information_podcast .info_podcast_01 button div{
  width: 30px;
    height: 30px;
    background-image: url(../../images/more.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 5px;
}
article .content_description .content_podcast .information_podcast .info_podcast_01 .name_podcast{
  font-size: var(--body);
  float: left;
  border-right: 1px solid var(--gray);
  padding-right: 10px;
}
article .content_description .content_podcast .information_podcast .info_podcast_01 .date_podcast{
  font-size: var(--body);
  float: left;
  padding-left: 10px;
}
article .content_description .content_podcast .information_podcast .info_podcast_02{
  overflow: hidden;
  margin-top: 30px;
}
article .content_description .content_podcast .information_podcast .info_podcast_02 button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
article .content_description .content_podcast .information_podcast .info_podcast_02 button div{
  width: 20px;
    height: 20px;
    background-image: url(../../images/play.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 5px;
}
article .content_description .content_podcast .information_podcast .info_podcast_02 div{
  float: right;
}
article .content_description .content_podcast .information_podcast .info_podcast_02 div .share{
  width: 20px;
    height: 20px;
    background-image: url(../../images/share.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
}
article .content_description .content_podcast .information_podcast .info_podcast_03{
  overflow: hidden;
  margin-top: 30px;
  width: 100%;
}
article .content_description .content_podcast .information_podcast .info_podcast_03 .time_03{
  font-size: var(--body);
  float: right;
  margin-left: 15px;
}
article .content_description .content_podcast .information_podcast .info_podcast_03 .time{
  font-size: var(--body);
  float: left;
  margin-right: 15px;
}
article .content_description .content_podcast .information_podcast .info_podcast_03 .time_marker{
  padding-top: 6px;
  overflow: hidden;
  width: 82%;
  float: left;
}
article .content_description .content_podcast .information_podcast .info_podcast_03 .time_marker .marker{
  width: 100%;
  overflow: hidden;
}
article .content_description .content_podcast .information_podcast .info_podcast_03 .time_marker .marker div{
  background-color: var(--white);
  float: right;
  width: 100%;
}
article .content_description .content_podcast .information_podcast .info_podcast_03 .time_marker .marker div div{
  background-color: var(--black);
  float: left;
  padding:5px;
  margin:0px;
  width: 30%;
}
article .carousel_content{
  overflow: hidden;
    padding: 100px 200px 100px 200px;
    width: 100%;
    float: left;
}
article .carousel_content .container{
  overflow: hidden;
  padding: 0px 120px 0px 120px;
}
article .carousel_content_forum .container{
  overflow: hidden;
  padding: 0px 120px 0px 120px;
  width: 100%;
  float: right;
}
article .carousel_content h2{
  margin:0px 0px 30px 0px;
}
article .carousel_content .owl-carousel.owl-loaded{
  float: right;
}
article .carousel_content .owl-carousel .owl-nav .owl-prev{
  background: rgba(239,239,239,1);
  background: -moz-linear-gradient(left, rgba(239,239,239,1) 20%, rgba(239,239,239,1) 21%, rgba(237,237,237,0.99) 23%, rgba(246,246,246,0.97) 26%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(20%, rgba(239,239,239,1)), color-stop(21%, rgba(239,239,239,1)), color-stop(23%, rgba(237,237,237,0.99)), color-stop(26%, rgba(246,246,246,0.97)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left, rgba(239,239,239,1) 20%, rgba(239,239,239,1) 21%, rgba(237,237,237,0.99) 23%, rgba(246,246,246,0.97) 26%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(left, rgba(239,239,239,1) 20%, rgba(239,239,239,1) 21%, rgba(237,237,237,0.99) 23%, rgba(246,246,246,0.97) 26%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(left, rgba(239,239,239,1) 20%, rgba(239,239,239,1) 21%, rgba(237,237,237,0.99) 23%, rgba(246,246,246,0.97) 26%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, rgba(239,239,239,1) 20%, rgba(239,239,239,1) 21%, rgba(237,237,237,0.99) 23%, rgba(246,246,246,0.97) 26%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff', GradientType=1 );
}
article .carousel_content.owl-carousel .owl-nav .owl-prev.disabled{
  display: none;
}
article .carousel_content .owl-carousel .owl-nav .owl-next.disabled, .owl-carousel .owl-nav .owl-prev{
  display: block;
}
article .carousel_content .owl-carousel .owl-nav .owl-next{
  display: block;
  right: 0px;
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,246,246,0.97) 74%, rgba(237,237,237,0.99) 77%, rgba(239,239,239,1) 79%, rgba(239,239,239,1) 80%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(74%, rgba(246,246,246,0.97)), color-stop(77%, rgba(237,237,237,0.99)), color-stop(79%, rgba(239,239,239,1)), color-stop(80%, rgba(239,239,239,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,246,246,0.97) 74%, rgba(237,237,237,0.99) 77%, rgba(239,239,239,1) 79%, rgba(239,239,239,1) 80%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,246,246,0.97) 74%, rgba(237,237,237,0.99) 77%, rgba(239,239,239,1) 79%, rgba(239,239,239,1) 80%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,246,246,0.97) 74%, rgba(237,237,237,0.99) 77%, rgba(239,239,239,1) 79%, rgba(239,239,239,1) 80%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(246,246,246,0.97) 74%, rgba(237,237,237,0.99) 77%, rgba(239,239,239,1) 79%, rgba(239,239,239,1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef', GradientType=1 );
}
article .carousel_content .owl-carousel .owl-nav button span{
  color: var(--black);
  font-size: var(--title);
}
.right_content{
  overflow: hidden;
  padding:30px;
  text-align: left;
  width: 300px;
  float: right;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 3;
  background-color: var(--white);
}
.right_content_b{
  overflow: hidden;
  padding:30px;
  text-align: left;
  width: 300px;
  float: right;
  border: 1px solid var(--gray);
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 3;
  background-color: var(--white);
}
.right_content h3,
.right_content_b h3{
  text-transform: uppercase;
  font-size: var(--detail);
}
.right_content .first_right_content a .logo_product,
.right_content_b .first_right_content a .logo_product{
  width: 150px;
  height: 100px;
  background-color: var(--gray);
  margin-top: 15px;
  background-image: url('../../images/product.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.right_content_b .first_right_content a .logo_product{
    width: 180px;
}
.right_content .first_right_content a p,
.right_content .second_right_content a p,
.right_content_b .first_right_content a p,
.right_content_b .second_right_content a p{
  margin-top: 15px;
  font-size: var(--detail_min);
}
.right_content .first_right_content a,
.right_content .second_right_content a{
  background-color: var(--gray);
  color: var(--black);
  font-size: var(--detail_min);
  margin: 15px 0px 90px 0px;
  text-decoration: none;
  overflow: hidden;
}
.right_content_b .first_right_content a,
.right_content_b .second_right_content a{
  background-color: var(--gray);
  color: var(--black);
  font-size: var(--detail_min);
  margin: 15px 0px 90px 0px;
  text-decoration: none;
  overflow: hidden;
}
.right_content_b .first_right_content a,
.right_content_b .second_right_content a{
  background-color: var(--gray);
  color: var(--black);
  font-size: var(--detail_min);
  margin: 15px 0px 0px 0px;
}
.right_content .first_right_content a .more,
.right_content_b .first_right_content a .more{
  float: left;
  padding-right: 20px;
}
.right_content .first_right_content a .logo_external,
.right_content_b .first_right_content a .logo_external{
  height: 15px;
  width: 15px;
  background-image: url('../../images/external-link.svg');
  background-size: 100%;
  background-position: right;
  background-repeat: no-repeat;
  margin-left: 20px;
  float: left;
}
.right_content .second_right_content a h2,
.right_content_b .second_right_content a h2{
  font-size: var(--sub_title);
  margin-top: 30px;
}
article .tags_share{
  overflow: hidden;
  width: 100%;
}
article .tags_share .tags{
  float: left;
}
article .tags_share .share{
  float: right;
  margin-left: 60px;
}
article .tags_share .share .title_share{
  width: 100%;
  margin-top: 60px;
  display: block;
  text-align:right;
}
article .tags_share .share .share_content{
  overflow: hidden;
  width: 100%;
  padding-top: 40px;
}
article .tags_share .share .share_content div{
  float: left;
  width: 20px;
  height: 20px;
  background-color: var(--gray);
  border-radius: 10px;
  padding-top: 10px;
  margin-right: 3px;
  background-position: center;
  background-repeat: no-repeat;
}

/* Cadastro */
.overlay{
  overflow: hidden;
  background-color: var(--gray);
}
section.register,
.account_created,
.my_account,
.complete{
  overflow: hidden;
  margin: 150px auto 150px auto;
  max-width: 800px;
  background-color: var(--white);
  padding:70px 110px 80px 110px;
}
.details_forum,
.all_forum,
.topics_forum,
.content_index,
.new_topic{
  overflow: hidden;
  margin: 150px auto 150px auto;
  max-width: 800px;
  background-color: var(--white);
}
.close{
  margin:0px 0px 30px 0px;
  width: 100%;
}
.close .close_button{
  background-image: url('../../images/white_close.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  float: right;
}
.register .register_intro h1,
.account_created .intro_account h1{
  font-size: var(--title);
  text-align: center;
}
.register .register_intro p,
.account_created .intro_account p{
  font-size: var(--body);
  padding-top: 30px;
  text-align: center;
}
.register .register_intro p a{
  color: var(--black);
}
.register .personal_data{
  overflow: hidden;
}
.form_row{
  padding-top: 30px;
}
.register .personal_data div:nth-child(3),
.register .personal_data div:nth-child(4),
.register .personal_data div:nth-child(5),
.register .personal_data div:nth-child(6){
  width: calc(50% - 15px);
}
.register .personal_data div:nth-child(3),
.register .personal_data div:nth-child(5){
  float: left;
  margin-right: 15px;
}
.register .personal_data div:nth-child(4),
.register .personal_data div:nth-child(6){
  float: right;
  margin-left: 15px;
}
.register .personal_data h4{
  font-size: var(--detail);
}
.register .personal_data div:nth-child(5) h4{
  float: left;
}
.password_text{
  position: relative;
  height: 20px;
  width: 30px !important;
  float: left;
}
.password_text img{
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 10px;
}
.password_text p{
  background-color: var(--black);
  color: var(--white);
  font-size: var(--detail_min);
  padding:10px;
  width: 300px;
  display: none;
  position: absolute;
  z-index: 2;
  left: 100%;
}
.password_text:hover p{
  display: block;
}
.register .register_to_complete{
  margin: 30px 0px 30px 0px;
}
.register .register_to_complete input{
  float: left;
  width: 5%;
  margin-top: 25px;
}
.register .register_to_complete div{
  width: 95%;
  float: right;
}
.register .register_to_complete div a{
  color: var(--black);
}
.register .register_to_complete button{
  width: 100%;
  margin-top: 30px;
}
/* Conta Criada*/
.account_created .benefits{
  overflow: hidden;
  padding: 30px 0px 30px 0px;
}
.account_created .benefits .star,
.account_created .benefits .chat,
.account_created .benefits .bell{
  width: 100%;
  margin-top: 15px;
}
.account_created .benefits .star div,
.account_created .benefits .chat div,
.account_created .benefits .bell div{
  float: left;
  width: 40px;
  height: 40px;
  background-color: var(--black);
  margin-right: 15px;
  border-radius: 20px;
  position: relative;
  text-align: center;
}
.account_created .benefits .star div img,
.account_created .benefits .chat div img,
.account_created .benefits .bell div img{
  margin-top: 12px;
}
.account_created .benefits .star p,
.account_created .benefits .chat p,
.account_created .benefits .bell p{
  width: calc((100% - 50px) - 15px);
  font-size: var(--body);
}
.account_created .to_complete{
  width: 100%;
  overflow: hidden;
  padding-top:30px;
}
.account_created .to_complete p{
  font-size: var(--detail);
}
.account_created .to_complete .complete_now{
  width: 100%;
  margin-top: 15px;
}
.account_created .to_complete .complete_now .percentage{
  width: 75%;
  float: left;
}
.account_created .to_complete .complete_now .percentage div{
  background-color: var(--gray);
  width: 100%;
  float: right;
}
.account_created .to_complete .complete_now .percentage div div{
  background-color: var(--black);
  float: left;
  padding:10px;
  margin:0px;
}
.account_created .to_complete .complete_now a{
  color: var(--black);
  float: right;
  text-align: right;
  width: 25%;
  text-transform: uppercase;
  font-size: var(--detail);
}
.account_created .to_complete .confirm_registration{
  width: 100%;
  overflow: hidden;
  padding-top: 30px;
}
.account_created .to_complete .confirm_registration div{
  float: left;
  width: 35px;
  height: 35px;
  margin-right: 15px;
}
.account_created .to_complete .confirm_registration p{
  font-size: var(--detail);
  float: right;
  width: calc((100% - 35px) - 15px);
}
.account_created .to_complete button{
  width: 100%;
  margin-top: 60px;
}

/* Meu Cadastro - Básico */
.my_account .my_account_intro h1{
  font-size: var(--title);
  text-align: center;
}
.my_account .my_account_intro p{
  font-size: var(--body);
  text-align: center;
  margin-top: 30px;
}
.my_account ul.menu_my_account{
  position: sticky;
  z-index: 3;
  width:100%;
  padding:0px;
  margin:0px;
  list-style: none;
  height: 22px;
  margin-top: 30px;
}
.my_account ul.menu_my_account li{
  float: left;
  width:calc(25% - 9px);
}
.my_account ul.menu_my_account li a{
  position: relative;
  display: block;
  color: var(--gray);
  border-bottom: 1px solid var(--gray);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--detail);
}
.my_account ul.menu_my_account li a span{
  width: 15px;
  height: 15px;
  background-color: var(--gray);
  color: var(--white);
  border-radius: 15px;
  position: absolute;
  right: 0px;
  font-size: 8px;
  text-align: center;
  line-height: 15px;
}
.my_account ul.menu_my_account li.active a span{
  background-color: var(--black);
}
.my_account ul.menu_my_account li.active a{
  color: var(--black);
  border-bottom: 2px solid var(--black);
  font-weight: 700;
}
.my_account ul.menu_my_account li:nth-child(1),
.my_account ul.menu_my_account li:nth-child(2),
.my_account ul.menu_my_account li:nth-child(3){
  margin-right: 3px;
}
.my_account .basic{
  overflow: hidden;
}
.my_account .basic div{
  width: calc(50% - 15px);
}
.my_account .basic div:nth-child(1),
.my_account .basic div:nth-child(3),
.my_account .basic div:nth-child(5){
  float: left;
}
.my_account .basic div:nth-child(2),
.my_account .basic div:nth-child(4),
.my_account .basic div:nth-child(6){
  float: right;
}
.my_account .basic div h4{
  font-size: var(--detail);
}
.my_account .basic div input{
  width: 100%;
  margin-top: 15px;
  border-bottom: 2px solid var(--black);
  padding:5px;
}
.my_account .basic div:nth-child(5) h4{
  float: left;
}
.my_account .finish{
  overflow: hidden;
}
.my_account .finish .priv{
  font-size: var(--body);
  padding:30px 0px 30px 0px;
}
.my_account .finish .priv_p{
  font-size: var(--detail);
  width: 90%;
  text-align: left;
}
.my_account .finish .priv_p a{
  color: var(--black);
  text-align: left;
}
.my_account .finish .priv_p .export{
  background-image: url('../../images/external-link.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 5px;
}
.my_account .finish button{
  width: 100%;
  margin-top: 60px;
}

/* Meu cadastro - Detalhamento */
.my_account .detail{
  overflow: hidden;
}
.my_account .detail div h4{
  font-size: var(--detail);
}
.my_account .detail div:nth-child(1),
.my_account .detail div:nth-child(5),
.my_account .detail div:nth-child(7){
  float: left;
  width: calc(50% - 15px);
  margin-right: 15px;
}
.my_account .detail div:nth-child(2),
.my_account .detail div:nth-child(6){
  float: right;
  width: calc(50% - 15px);
  margin-left: 15px;
}
.my_account .detail div:nth-child(3){
  float: left;
  width: 100%;
}
.my_account .detail div:nth-child(3) h4{
  float: left;
}
.my_account .detail div:nth-child(3) div{
  width: 470px;
  border-top: 2px solid black;
  float: right;
  margin-top: 10px;
}
.my_account .detail div:nth-child(4){
  float: left;
  width: 100%;
}
.my_account .detail div:nth-child(4) input{
  float: left;
  width: calc(50% - 15px);
  margin-right: 15px;
}

.my_account .detail div:nth-child(4) p{
  float: right;
  font-size: var(--detail_min);
  width: calc(50% - 15px);
  margin-left: 15px;
  margin-top: 20px;
}
.my_account .detail div:nth-child(4) p a{
  color: var(--black);
}
.my_account .detail div:nth-child(8),
.my_account .detail div:nth-child(9){
  width: calc(25% - 23px);
  float: left;
}
.my_account .detail div:nth-child(8){
  margin-left: 15px;
  margin-right: 30px;
}


/* Meu cadastro - família */
.my_account .family{
  overflow: hidden;
}
.my_account .family div h4{
  font-size: var(--detail);
}
.my_account .family div:nth-child(1) select{
  width: 50%;
}
.my_account .family div:nth-child(2) .regis_info{
  font-size: var(--detail);
  margin-top: 15px;
}
.my_account .family a{
  color: var(--black);
  text-transform: uppercase;
  font-size: var(--detail);
}
.my_account .family .registered_child{
  overflow: hidden;
  border: 1px solid var(--black);
  width: 100%;
  text-transform: uppercase;
  font-size: var(--detail);
  padding:5px;
}
.my_account .family .registered_child .child_information{
  width: 70%;
  float: left;
}
.my_account .family .registered_child .child_information .child{
  display: inline;
  padding-right: 15px;
}
.my_account .family .registered_child .child_options{
  float: right;
  width: 23%;
  text-align: right;
}
.my_account .family .registered_child .child_options .add a{
  float: left;
}
.my_account .family .registered_child .child_options .remove a{
  float: right;
}
.my_account .family .child_add{
  overflow: hidden;
  background-color: var(--lightgray);
  padding:30px;
}
.my_account .family .child_add .question{
  font-size: var(--body);
}
.my_account .family .child_add .info{
  width: 100%;
  overflow: hidden;
}
.my_account .family .child_add .info .left{
  width: calc(50% - 15px);
  float: left;
  margin-right: 15px;
}
.my_account .family .child_add .info .right{
  width: calc(50% - 15px);
  float: right;
  margin-left: 15px;
}
.my_account .family .child_add .info .left select{
  width: 100%;
}
.my_account .family .child_add .info .right select{
  width: 100%;
}
.my_account .family .child_add div:nth-child(4){
  margin-top: 30px;
}
.my_account .family .child_add div:nth-child(4) .save_child{
  background-color: var(--gray);
  font-size: var(--detail);
}
.my_account .family .child_add div:nth-child(4) .cancel_child{
  background-color: var(--lightgray);
  font-size: var(--detail);
  color: var(--black);
  text-decoration: underline;
}
.my_account .family .child_add .lives{
  overflow: hidden;
  width: 100%;
  font-size: var(--detail_min);
  margin-top: 15px;
}
.my_account .family .child_add .lives div{
  float: left;
  margin-right: 30px;
}
.my_account .family .child_add .feature{
  overflow: hidden;
  width: 100%;
  font-size: var(--detail_min);
  margin-top: 15px;
}
.my_account .family .child_add .feature div{
  float: left;
  margin-right: 30px;
}
/* Meu cadastro - Preferencias */
.my_account .interests{
  overflow: hidden;
}
.my_account .form_row p{
  font-size: var(--detail);
}
.interest{
  overflow: hidden;
}
.interest .current_interest div{
  text-align: center;
  font-size: var(--detail);
  background-color: var(--black);
  display: inline-block;
  padding:5px;
  margin:2px;
  color: var(--white);
}
.interest div .remove{
  height: 10px;
  width: 10px;
  background-image: url('../../images/white_close.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.interest div .add{
  height: 10px;
  width: 10px;
  background-image: url('../../images/white_close.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.interest h3{
  font-size: var(--detail);
  text-transform: uppercase;
  margin-top: 30px;
  padding-bottom: 15px;
}
.interest .options div{
  font-size: var(--detail);
  background-color: var(--darkgray);
  display: inline-block;
  padding:5px;
  margin:2px;
  color: var(--white);
}
.interest .tag_suggestion h3{
  font-size: var(--detail);
  text-transform: uppercase;
  margin-top: 30px;
  color: var(--gray);
}
.interest .tag_suggestion .type{
  width: 100%;
  padding-bottom: 15px;
}
.interest .tag_suggestion .type input{
  font-size: var(--detail);
  color: var(--gray);
  border: 1px solid var(--gray);
  width: 40%;
  float: left; 
  margin:0px;
}
.interest .tag_suggestion .type button{
  background-color: var(--gray);
  font-size: var(--detail_min);
  padding:7px;
  width: 11%;
}
.interest .tag_suggestion .options div{
  background-color: var(--lightgray);
}

/*Cadastro_completo*/
.complete{
  overflow: hidden;
}
.complete .complete_registration h2{
  font-size: var(--title);
  text-align: center;
}
.complete .complete_registration p{
  font-size: var(--detail);
  text-align: center;
  margin-top: 30px;
}
.complete .complete_registration button{
  width: 100%;
  margin-top: 30px;
}

/* Detalhes do fórum */
.details_forum .intro_details a{
  color: var(--black);
  font-size: var(--detail);
}
.details_forum .intro_details h2{
  font-size: var(--title);
  padding: 15px 0px 60px 0px;
}
.details_forum .intro_details .topic{
  width: 100%;
  overflow: hidden;
}
.details_forum .intro_details .topic p{
  font-size: var(--body);
  float: left;
  width: 78%;
  padding-top: 5px;
  padding-right: 10px;
  text-align: right;
}
.details_forum .intro_details .topic button{
  float: right;
  width: 22%;
  font-size: var(--detail)
}
.details_forum .filter{
  width: 100%;
  font-size: var(--detail);
  overflow: hidden;
  padding-top: 60px;
}
.details_forum .filter p{
  float: left;
  margin-right: 10px;
}
.details_forum .filter div{
  background-color: var(--darkgray);
  color: var(--white);
  padding:2px;
  float: left;
  margin-right: 5px;
  text-align: left;
}
.details_forum .table_forum{
  overflow: hidden;
  margin-top: 60px;
}
.details_forum .table_forum .line_forum a{
  overflow: hidden;
  float: left;
  width: calc(100% / 3);
  border: 1px solid black;
  height: 410px;
  display: block;
  color: var(--black);
  text-decoration: none;
  padding:15px;
}
.details_forum .table_forum .line_forum h3{
  font-size: var(--title);
}
.details_forum .table_forum .line_forum div{
  color: var(--gray);
  margin: 30px 0px 30px 0px;
  font-size: var(--detail);
}
.details_forum .table_forum .line_forum p{
  font-size: var(--detail);
  margin: 0px 0px 30px 0px;
}
.details_forum .table_forum .line_forum button{
  background-color: var(--gray);
  color: var(--black);
  font-size: var(--detail);
}

/* Todos os fóruns - detalhe */
.all_forum .intro_all h2{
  font-size: var(--title);
  margin:0px 0px 15px 0px;
}
.all_forum .intro_all p{
  font-size: var(--detail);
}
.all_forum .table_all{
  overflow: hidden;
  margin-top: 30px;
}
.all_forum .table_all .line_all{
  overflow: hidden;
  float: left;
  width: 100%;
  border: 1px solid black;
  height: 100px;
  display: block;
  color: var(--black);
  text-decoration: none;
  padding: 15px;
}
.all_forum .table_all .line_all:nth-child(1),
.all_forum .table_all .line_all:nth-child(2),
.all_forum .table_all .line_all:nth-child(3),
.all_forum .table_all .line_all:nth-child(4),
.all_forum .table_all .line_all:nth-child(5){
  border-bottom:none;
}
.all_forum .table_all .line_all h3{
  font-size: var(--sub_title);
  width: 70%;
  float: left;
}
.all_forum .table_all .line_all p{
  font-size: var(--detail);
  margin-top: 15px;
  width: 70%;
  float: left;
}
.all_forum .table_all .line_all a{
  font-size: var(--detail);
  float: right;
  background-color: var(--gray);
  color: var(--black);
  padding:5px;
  text-decoration: none;
}

/* Tópicos do fórum */
section .intro_topic_01{
  overflow: hidden;
  width: 100%;
}
section .intro_topic_01 a{
  font-size: var(--detail);
  float: left;
  color: var(--black);
}
section .intro_topic_01 div{
  float: left;
  margin:0px 10px 0px 10px;
}
.topics_forum .title_topics .intro_topic_02 h2{
  font-size: var(--title);
  margin: 15px 0px 30px 0px;
}
.topics_forum .title_topics .intro_topic_02 .info_topic{
  width: 100%;
  margin: 15px 0px 30px 0px;
  overflow: hidden;
}
.topics_forum .title_topics .intro_topic_02 .info_topic p{
  float: left;
  margin-right: 30px;
}
.topics_forum .title_topics .intro_topic_02 .info_topic .name_topic{
  font-size: var(--detail);
}
.topics_forum .title_topics .intro_topic_02 .info_topic .share_images{
  float: right;
}
.topics_forum .title_topics .intro_topic_02 .info_topic .share_images div{
  float: left;
  width: 20px;
  height: 20px;
  background-color: var(--lightgray);
  border-radius: 10px;
  padding-top: 10px;
  margin-right: 3px;
  background-position: center;
  background-repeat: no-repeat;
}
.topics_forum .smaller{
  overflow: hidden;
  width: 100%;
}
.topics_forum .smaller .text_topic{
  width: 80%;
    float: right;
}
.topics_forum .smaller .text_topic p{
  font-size: var(--detail);
}
.topics_forum .smaller .text_topic .tag_topic{
  width: 100%;
  overflow: hidden;
  margin: 30px 0px 30px 0px;
}
.topics_forum .smaller .text_topic .tag_topic div{
  float: left;
  background-color: var(--darkgray);
  color: var(--white);
  padding: 5px;
  margin-right: 20px; 
  font-size: var(--detail);
}
.topics_forum .smaller .dialogue{
  overflow: hidden;
  width: 100%;
}
.topics_forum .smaller .dialogue .chat_topic{
  overflow: hidden;
  margin:30px 0px 0px 0px;
}
.topics_forum .smaller .dialogue .chat_topic .person_data_chat{
  width: calc(20% - 27px);
  float: left;
  text-align: right;
  margin-right: 27px;
}
.topics_forum .smaller .dialogue .chat_topic .text_chat{
  width: 80%;
  float: left;
  background-color: var(--lightgray);
  padding: 30px;
}
.topics_forum .smaller .dialogue .chat_topic .person_data_chat .profile_photo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  float: right;
}
.topics_forum .smaller .dialogue .chat_topic .person_data_chat .home_profile{
  float: right;
  width: 100%;
  margin-top: 5px;
  font-size: var(--detail_min);
}
.topics_forum .smaller .dialogue .chat_topic .person_data_chat .creator{
  margin-top: 5px;
  float: right;
  background-color: var(--black);
  color: var(--white);
  padding:3px;
  font-size: var(--detail_min);
  text-transform: uppercase;
}
.topics_forum .smaller .dialogue .chat_topic .person_data_chat .name_profile{
  margin-top: 20px;
  float: right;
  width: 100%;
  font-size: var(--detail);
}
.topics_forum .smaller .dialogue .chat_topic .text_chat .argument{
  width: 100%;
}
.topics_forum .smaller .dialogue .chat_topic .text_chat .down_argument{
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}
.topics_forum .smaller .dialogue .chat_topic .text_chat .down_argument .date_time{
  font-size: var(--detail_min);
  color: var(--gray);
  text-transform: uppercase;
  float: left;
  width: calc(100% / 3);
}
.topics_forum .smaller .dialogue .chat_topic .text_chat .down_argument .reply_chat{
  font-size: var(--detail_min);
  width: calc(100% / 3);
  float: left;
  padding-left: 10px;
}
.topics_forum .smaller .dialogue .chat_topic .text_chat .down_argument .reply_chat .reply{
  width: 20px;
  height: 20px;
  background-image: url('../../images/reply.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  margin-right: 5px;  
}
.topics_forum .smaller .dialogue .chat_topic .text_chat .down_argument .share_chat .share{
  width: 20px;
  height: 20px;
  background-image: url('../../images/share.svg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  margin-right: 5px;  
}
.topics_forum .smaller .dialogue .chat_topic .text_chat .down_argument .share_chat{
  font-size: var(--detail_min);
  color: var(--darkgray);
  float: right;
  width: calc(100% / 3);
}
.topics_forum .coment_topic{
  margin-top: 30px;
  width: 80%;
  float: right;
}
.topics_forum .smaller .coment_topic h3{
  font-size: var(--sub_title);
}
.topics_forum .smaller .coment_topic .coment{
  margin-top: 30px;
  border: 1px solid var(--black);
  height: 200px;
  padding:30px;
  font-size: var(--detail);
}
.topics_forum .smaller .coment_topic .coment a{
  color: var(--black);
}
.topics_forum .smaller .similar_topic{
  margin-top: 90px;
  width: 100%;
  float: right;
  padding: 0px 0px 0px 150px;
}
.topics_forum .smaller .similar_topic h3{
  font-size: var(--sub_title);
}
article section .section_content .section_content_item .line_01_forum{
  overflow: hidden;
  padding:30px 30px 30px 30px;
}
article section .section_content .section_content_item .line_01_forum h3{
  font-size: var(--sub_title);
}
article section .section_content .section_content_item .line_01_forum p{
  font-size: var(--detail);
  margin-top: 30px;
}
article section .section_content .section_content_item .line_01_forum button{
  background-color: var(--gray);
  color: var(--white);
  font-size: var(--detail);
  text-transform: uppercase;
  margin-top: 30px;
}

article .carousel_content_forum{
  overflow: hidden;
    padding: 100px 200px 100px 200px;
    width: calc(100% - 200px);
    float: right;
}
article .carousel_content_forum .owl-carousel.owl-loaded{
  float: right;
}
article .carousel_content_forum h2{
  margin-bottom: 30px;
}
article .carousel_content_forum .owl-carousel .owl-nav .owl-prev{
  background: rgba(239,239,239,1);
  background: -moz-linear-gradient(left, rgba(239,239,239,1) 20%, rgba(239,239,239,1) 21%, rgba(237,237,237,0.99) 23%, rgba(246,246,246,0.97) 26%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(20%, rgba(239,239,239,1)), color-stop(21%, rgba(239,239,239,1)), color-stop(23%, rgba(237,237,237,0.99)), color-stop(26%, rgba(246,246,246,0.97)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left, rgba(239,239,239,1) 20%, rgba(239,239,239,1) 21%, rgba(237,237,237,0.99) 23%, rgba(246,246,246,0.97) 26%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(left, rgba(239,239,239,1) 20%, rgba(239,239,239,1) 21%, rgba(237,237,237,0.99) 23%, rgba(246,246,246,0.97) 26%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(left, rgba(239,239,239,1) 20%, rgba(239,239,239,1) 21%, rgba(237,237,237,0.99) 23%, rgba(246,246,246,0.97) 26%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, rgba(239,239,239,1) 20%, rgba(239,239,239,1) 21%, rgba(237,237,237,0.99) 23%, rgba(246,246,246,0.97) 26%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff', GradientType=1 );
}
article .carousel_content_forum .owl-carousel .owl-nav .owl-prev.disabled{
  display: none;
}
article .carousel_content_forum .owl-carousel .owl-nav .owl-next.disabled, .owl-carousel .owl-nav .owl-prev{
  display: block;
}
article .carousel_content_forum .owl-carousel .owl-nav .owl-next{
  display: block;
  right: 0px;
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,246,246,0.97) 74%, rgba(237,237,237,0.99) 77%, rgba(239,239,239,1) 79%, rgba(239,239,239,1) 80%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(74%, rgba(246,246,246,0.97)), color-stop(77%, rgba(237,237,237,0.99)), color-stop(79%, rgba(239,239,239,1)), color-stop(80%, rgba(239,239,239,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,246,246,0.97) 74%, rgba(237,237,237,0.99) 77%, rgba(239,239,239,1) 79%, rgba(239,239,239,1) 80%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,246,246,0.97) 74%, rgba(237,237,237,0.99) 77%, rgba(239,239,239,1) 79%, rgba(239,239,239,1) 80%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,246,246,0.97) 74%, rgba(237,237,237,0.99) 77%, rgba(239,239,239,1) 79%, rgba(239,239,239,1) 80%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(246,246,246,0.97) 74%, rgba(237,237,237,0.99) 77%, rgba(239,239,239,1) 79%, rgba(239,239,239,1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef', GradientType=1 );
}
article .carousel_content_forum .owl-carousel .owl-nav button span{
  color: var(--black);
  font-size: var(--title);
}
article .carousel_content_forum .section_content .section_content_item{
  overflow: hidden;
  float: left;
  width: 100%;
  background-color:var(--lightgray);
  border: 1px solid black;
  height: 360px;
  display: block;
  color: var(--black);
  text-decoration: none;
}

/* Índice de conteúdo - Resultado de Busca */
.content_index .intro_index{
  overflow: hidden;
}
.content_index .intro_index .title_star{
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}
.content_index .intro_index .title_star .star_img{
  width: 50px;
  height: 50px;
  background-color: var(--black);
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}
.content_index .intro_index .title_star .star_img div{
  width:50px; 
  height:50px;
  background-image: url('../../images/white_star.svg');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.content_index .intro_index .title_star h1{
  font-size: var(--title);
  float: left;
}
.content_index .intro_index p{
  font-size: var(--body);
  width: 100%;
}
.content_index .index_filters{
  overflow: hidden;
  width: 100%;
  margin:30px 0px 0px 0px;
}
.content_index .index_filters p:nth-child(1){
  font-size: var(--detail);
  float: left;
  padding-right: 30px;
  width: 127px;
}
.content_index .index_filters p:nth-child(2){
  font-size: var(--detail);
  float: left;
  padding-right: 30px;
  width: 68px;
}
.content_index .index_filters div{
  float: left;
  padding-right: 30px;
  font-size: var(--detail_min);
}
.content_index .index_filters a{
  float: left;
  color: var(--black);
  text-decoration:none;
  padding-right: 10px;
  font-size: var(--detail_min);
}
.content_index .index_filters div input{
  margin-top: 3px;
}
.content_index .index_filters a:nth-child(8),
.content_index .index_filters a:nth-child(9).active{
  float: right;
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--detail);
  display: block;
}
.content_index .index_filters a:nth-child(8).active,
.content_index .index_filters a:nth-child(9){
  display: none;
}
.content_index .index_contents{
  overflow: hidden;
}
.content_index .index_contents .content_description{
  overflow: hidden;
  width: 100%;
  height: 210px;
  background-color: var(--lightgray);
  padding: 30px;
  margin-top: 30px;
}
.content_index .index_contents .content_description .img_description{
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 30px;
  background-image: url('../../images/content_image.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.content_index .index_contents .content_description .information_index{
  overflow: hidden;
  float: right;
  width: calc(100% - 180px);
}
.content_index .index_contents .content_description .information_index h3{
  font-size: var(--sub_title);
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.content_index .index_contents .content_description .information_index .date_index{
  color: var(--gray);
  text-transform: uppercase;
  font-size: var(--detail_min);
}
.content_index .index_contents .content_description .information_index .info_index{
  font-size: var(--detail_min);
  margin:15px 0px 15px 0px;
}
.content_index .index_contents .content_description .information_index div{
  font-size: 8px;
  text-transform: uppercase;
  background-color: var(--gray);
  padding: 5px;
  display: inline-block;
  margin-right: 5px;
}
.content_index .index_contents .content_description .information_index a{
  color: var(--black);
  font-size: var(--detail_min);
}
.bottom_carousel{
  overflow: hidden;
}
.bottom_carousel ul.carousel_number{
  list-style: none;
  display: block;
  overflow: hidden;
  margin: 90px auto 0px auto;
  width: 310px;
}
.bottom_carousel ul.carousel_number li a{
  font-size: var(--body_max);
  text-decoration: none;
  color: var(--black);
  float: left;
  padding: 10px 0px 10px 0px;
  width: 40px;
  text-align:center;
  background-color: var(--lightgray);
  margin-left: 5px;
}
.bottom_carousel ul.carousel_number li:nth-child(1) a{
  margin-left: 0px;
}
.bottom_carousel ul.carousel_number li a:hover{
  background-color: var(--gray);
}
.content_index .result_filter{
  overflow: hidden;
  padding: 30px;
  background-color: var(--lightgray);
  margin-top: 30px;
  display: none;
}
.content_index .result_filter.active{
  display: block;
}
.content_index .result_filter .age_result_filter{
  overflow: hidden;
  width: 100%;
}
.content_index .result_filter .age_result_filter p{
  float: left;
  font-size: var(--body);
  margin-left: 170px;
}
.content_index .result_filter .age_result_filter div{
  float: left;
  text-decoration:none;
  color: var(--black);
  padding-left: 30px;
  font-size: var(--detail_min);
}
.content_index .result_filter .filter_content_type{
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
}
.content_index .result_filter .filter_content_type p{
  float: left;
  font-size: var(--body);
  margin-left: 78px;
}
.content_index .result_filter .age_result_filter div input,
.content_index .result_filter .filter_content_type div input{
  margin-top:3px;
}
.content_index .result_filter .filter_content_type div{
  float: left;
  text-decoration:none;
  color: var(--black);
  padding-left: 30px;
  font-size: var(--detail_min);
}
.content_index .result_filter .containing_word{
  overflow: hidden;
}
.content_index .result_filter .containing_word .filter_word{
  width: 100%;
  margin-top: 30px;
  overflow: hidden;
}
.content_index .result_filter .containing_word .filter_word p{
  float: left;
  font-size: var(--body);
  margin-right: 10px;
  margin-left: 41px;
}
.content_index .result_filter .containing_word .filter_word input{
  float: left;
  width: 30%;
  margin-top: 0px;
  border: 1px solid var(--black);
  background-color: var(--lightgray);
}
.content_index .result_filter .containing_word .filter_not_word{
  width: 100%;
  margin-top: 30px;
  overflow: hidden;
}
.content_index .result_filter .containing_word .filter_not_word p{
  float: left;
  font-size: var(--body);
  margin-right: 10px;
}
.content_index .result_filter .containing_word .filter_not_word input{
  float: left;
  width: 30%;
  margin-top: 0px;
  border: 1px solid var(--black);
  background-color: var(--lightgray);
}
.content_index .result_filter .containing_word button{
  width: 20%;
  float: right;
  margin-top: 30px;
  font-size: var(--body);
}

/* Conteúdos Salvos */
.overlay_2{
  padding: 90px 200px 300px 201px;
  background-color: var(--gray);
}
.saved_content{
  overflow: hidden;
  padding:30px;
  background-color: var(--white);
}
.saved_content .smaller_content{
  padding:30px 90px 90px 90px;
  overflow: hidden;
}
.saved_content .smaller_content .intro_saved_content .bookmark{
  width: 50px;
  height: 50px;
  background-image: url('../../images/bookmark.svg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px auto 0px auto;
}
.saved_content .smaller_content .intro_saved_content .already_read{
  text-transform: uppercase;
  font-size: var(--sub_title);
  background-color: var(--black);
  color: var(--white);
  padding: 5px 10px 5px 10px;
  width: 104px;
  height: 40px;
  margin: 0px auto 0px auto;
}
.saved_content .smaller_content .intro_saved_content h2{
  font-size: var(--title);
  text-align:center;
  margin-top: 15px;
}
.saved_content .smaller_content .intro_saved_content p{
  font-size: var(--body);
  text-align:center;
  margin-top: 15px;
}
.saved_content .smaller_content .table_blocks{
  overflow: hidden;
}
.saved_content .smaller_content .table_blocks .line_blocks{
  overflow: hidden;
  margin-top: 60px;
}
.saved_content .smaller_content .table_blocks .line_blocks .title_display{
  overflow: hidden;
  width: 100%;
}
.saved_content .smaller_content .table_blocks .line_blocks .title_display h4{
  text-transform: uppercase;
  font-size: var(--detail_min);
  float: left;
  width: 50%;
  margin-bottom: 15px;
}
.saved_content .smaller_content .table_blocks .line_blocks h4{
  text-transform: uppercase;
  font-size: var(--detail);
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.saved_content .smaller_content .table_blocks .line_blocks .display{
  width: 50%;
  float: right;
  text-align: right;
}
.saved_content .smaller_content .table_blocks .line_blocks .display a:nth-child(1){
  border-right:1px solid var(--gray);
  color: var(--block);
  font-size: var(--detail);
  padding-right: 15px;
}
.saved_content .smaller_content .table_blocks .line_blocks .display a:nth-child(2){
  text-decoration: none;
  color: var(--block);
  font-size: var(--detail);
  padding-left: 10px;
}
.saved_content .smaller_content .table_blocks .line_blocks .block{
  overflow: hidden;
  border: 1px solid var(--black);
  width: calc(100% / 3);
  float: left;
}
.saved_content .smaller_content .table_blocks .line_blocks .block .block_up{
  overflow: hidden;
  position: relative;
}
.saved_content .smaller_content .table_blocks .line_blocks .block .block_up div:nth-child(1){
  overflow: hidden;
    height: 225px;
    background-image: url(../../images/content_image.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.saved_content .smaller_content .table_blocks .line_blocks .block .block_up .save{
    height: 30px;
    width: 30px;
    background-image: url(../../images/gray_bookmark_tot.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    position: absolute;
    top: 30px;
    left: 30px;
} 
.saved_content .smaller_content .table_blocks .line_blocks .block .block_up .read{
  text-transform: uppercase;
  font-size: var(--detail);
  padding: 5px 10px 5px 10px;
  background-color: var(--lightgray);
    display: inline-block;
    float: right;
    position: absolute;
    top: 30px;
    right: 30px;
} 
.saved_content .smaller_content .table_blocks .line_blocks .block .block_down{
  overflow: hidden;
  padding: 30px;
}
.saved_content .smaller_content .table_blocks .line_blocks .block .block_down h2{
  font-size: var(--sub_title);
  float: left;
}
.saved_content .smaller_content .table_blocks .line_blocks .block .block_down div:nth-child(2){
  background-color: var(--gray);
    display: inline-block;
    padding: 5px;
    font-size: var(--detail_min);
    float: left;
}
.saved_content .smaller_content .table_blocks .line_blocks .block .block_down .text{
  width: 100%;
  overflow: hidden;
  padding-top: 15px;
}
.saved_content .smaller_content .table_blocks .line_blocks .block .block_down .text p{
  font-size: var(--body);
  float: left;
  padding-right: 5px;
}

/* Criando novo tópico */
.new_topic h1{
  font-size: var(--title);
  margin-top: 15px;
}
.new_topic .form_new_topic{
  overflow: hidden;
  margin-top: 30px;
}
.new_topic .form_new_topic .question_new_topic{
  width: calc(70% - 15px);
  float: left;
  margin-right: 15px;
  overflow: hidden;
}
.new_topic .form_new_topic h4{
  font-size:var(--detail);
  text-align: left;
}
.new_topic .form_new_topic input,
.new_topic .form_new_topic select{
  padding: 10px;
}
.new_topic .form_new_topic .age_new_topic{
  width: calc(30% - 15px);
  float: left;
  margin-left: 15px;
  overflow: hidden;
}
.new_topic .form_new_topic .description_new_topic{
  width: 100%;
  padding-top: 30px;
  overflow: hidden;
}
.new_topic .form_new_topic .description_new_topic h4{
  text-align: left;
  width: 100%;
}
.new_topic .form_new_topic .description_new_topic p{
  text-align: left;
  width: 100%;
  font-size: var(--detail);
  margin-top: 5px;
}
.new_topic .form_new_topic .description_new_topic textarea{
  height: 100px;
  width: 100%;
  border:2px solid var(--black);
  padding: 5px;
  font-size: var(--detail);
  margin-top: 15px;
}
.new_topic .tags_new_topic{
  margin-top:30px;
  overflow: hidden; 
}
.new_topic .tags_new_topic p{
  font-size: var(--detail);
  margin: 0px 0px 15px 0px;
}
.new_topic .tags_new_topic a{
  float: left;
    color: var(--black);
    text-decoration: none;
    display: block;
    background-color: var(--gray);
    text-transform: uppercase;
    font-size: var(--detail_min);
    padding: 5px 10px 5px 10px;
    margin: 0px 10px 10px 0px;
}
.new_topic .tags_new_topic button{
  width: 50%;
  float: left;
  margin-top: 30px;
  font-size: var(--body);
  padding: 5px;
}
.new_topic .sucess_new_topic{
  overflow: hidden;
  margin-top: 30px;
  border: 1px solid var(--black);
  padding: 60px;
}
.new_topic .sucess_new_topic h2{
  font-size: var(--sub_title);
  text-align: center;
}
.new_topic .sucess_new_topic p{
  font-size: var(--body);
  margin: 15px 0px 30px 0px;
}
.new_topic .sucess_new_topic .create_new_topic{
  width: 147px;
  height: 27px;
  margin:0px auto 0px auto;
}
.new_topic .sucess_new_topic .create_new_topic a{
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
  padding:5px;
  font-size: var(--body);
  text-decoration: none;
  text-align: center;
}