/*quiz*/
.pergunta {
  overflow: hidden;
  padding-bottom: 30px;
}
.pergunta h2{
  font-size: var(--sub_title);
}
.alternativa {
  overflow: hidden;
  width: auto;
  padding-top: 0px!important;
  position: relative;
  cursor: pointer;
  margin: 0px 15px 15px 0px!important;
  float: left;
  cursor:pointer;
}
.alternativa label{
  background-color: var(--green-block);
  background-image: url(../images/quiz-error.svg);
  background-image: url(../images/quiz-right-a.svg);
  background-image: url(../images/quiz-right-b.svg);
  background-repeat: no-repeat;
  background-position: 13px center;
  padding: 10px 15px 10px 30px; 
  display: inline-block;
  width: auto;
  color: var(--green-featured);
  border-radius: var(--default-radius);
  -webkit-transition: var(--smooth);
  transition: var(--smooth);
  font-weight: 400;
  font-size: var(--body);
  font-family: var(--dmsans);
  line-height: var(--body-line);
}
.alternativa input{
  float: left;
  margin: 0px 0px 0px 0px;
  display: block;
  width: 100%;
  height: 100px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.alternativa input:checked + label{
  background-color: var(--green-featured);
  background-image: url(../images/close-tag.svg);
  background-position: calc(100% - 15px) center; 
  padding: 10px 40px 10px 15px;
  color: var(--white);
  font-size: var(--detail);
}
.resultado {
  max-width: calc(100% - 40px);
  margin: 0px auto;
  width: 640px;
}
.resultado h4{
 text-transform: uppercase;
 font-size: var(--body);
 width: 100%;
 padding-bottom: 25px;
 text-align: center;
}
.resultado h1{
 text-transform: uppercase;
 font-size: var(--title);
 width: 100%;
 text-align: center;
 font-family: var(--gotham_bold);
 padding-bottom: 25px;
}
.resultado p{
 font-size: var(--body);
 width: 100%;
 text-align: center;
 line-height: 1.5em;
 padding-bottom: 25px;
}
.resultado .share{
  width: 300px;
  overflow: hidden;
  margin: 0px auto;
}
.resultado .share h3{
  text-align: center;
  width: 100%;
  float: left;
  font-size: var(--body);
  font-weight: 600;
  font-family: var(--dmsans);
  padding-bottom: 25px;
}
.resultado .share .option{
  display: block;
  width: 24px;
  height: 24px;
  background-color: var(--green-featured);
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  border-radius: var(--min-default);
  margin-left: 15px;
  margin-top: -5px;
  cursor: pointer;
  transition: var(--fast);
}
.resultado .share .option:hover{
  opacity: 60%;

}
.resultado .share .option.share_facebook{
  background-image: url('../images/facebook.svg');
  background-size: 30%;
}
.resultado .share .option.share_twitter{
  background-image: url('../images/twitter.svg');
  background-size: 50%;
}
.resultado .share .option.share_linkedin{
  background-image: url('../images/linkedin.svg');
  background-size: 50%;
}
.resultado .share .option.share_link{
  background-image: url('../images/link.svg');
  background-size: 50%;
}
.resultado .share .option.share_whatsapp{
  background-image: url('../images/whatsapp.svg');
  background-size: 55%;
}