article section.today_contents#conteudos-hoje .section_content a.section_content_item.fixed:after{
	content: 'Fixado';
	background-color: var(--green-featured);
	top: 15px;
	position: absolute;
	left: 15px;
	padding: 5px 10px 5px 25px;
	border-radius: var(--default-radius);
	color: var(--baby-gray);
	font-size: var(--detail_min);
	opacity: 80%;
	background-image: url(../images/pin-fixed.svg);
	background-size: 8px;
	background-position: 10px;
	background-repeat: no-repeat;
}
.content_index .block_contents_for_you_today a.section_content_item.default-block.fixed .line_01_up:after{
	content: '';
	width: 10px;
	height: 10px;
	background-color: var(--green-featured);
	top: 15px;
	position: absolute;
	left: 15px;
	padding: 10px;
	border-radius: 100%;
	color: var(--baby-gray);
	font-size: var(--detail_min);
	opacity: 80%;
	background-image: url(../images/pin-fixed.svg);
    background-size: 8px;
    background-position: 11px 10px;
	background-repeat: no-repeat;
}
.content_index .block_contents_for_you_today .line_01_up strong{
	right: 15px;
    top: 15px !important;
    left: inherit !important;
    font-size: var(--detail);
}
.block_contents_for_you_today{
	transition: var(--fast);
}
.block_contents_for_you_today:hover{
	background-color: var(--green-featured);
}
.block_contents_for_you_today:hover a .line_01_down h2{
	color: var(--baby-gray);
}
.block_contents_for_you_today:hover a .line_01_down span.tag{
	background-color: var(--green-block);
	color: var(--green-featured) !important;
}
body._lista_conteudos div.region.region-content .block_contents_for_you_today:hover a .line_01_down strong{
	background-color: var(--green-block) !important;
	color: var(--green-featured) !important;
}
	.content_index .block_contents_for_you_today .line_01_down h2:hover{
	text-decoration: none !important;

}
.img_phase_show span{
	display: block;
	width: calc(100% - 60px);
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.your_phase_show .img_phase_show div{
	margin: 5px auto 0px;
}
.amb .author-id{
	position: relative;
}
.amb .author-id-text{
	width: calc(100% - 75px);
	margin: 0px 0px 0px 75px;
	background-color: var(--baby-gray);
	padding: 30px 30px 30px 105px;
	border-radius: var(--default-radius);
}
.amb .author-id-photo{
	position: absolute;
	top: 45px;
}
.menu_and_search nav ul.menu li:nth-child(2) a{
	background-color: #CB4F10;
	color: var(--white);
}
.menu_and_search nav ul.menu li:nth-child(2) a.is-active:before,
._age_filter_1_2 .menu_and_search nav ul.menu li:nth-child(2) a:before{
	background-color: #CB4F10;
}
.menu_and_search nav ul.menu li:nth-child(3) a{
	color: var(--white);
	background-color: #667E3A;
}
.menu_and_search nav ul.menu li:nth-child(3) a.is-active:before,
._age_filter_3_4 .menu_and_search nav ul.menu li:nth-child(3) a:before{
	background-color: #667E3A;
}
@media screen and (max-width: 1025px){
.your_phase_show .img_phase_show div{
margin: 5px 0px 0px 0px;
}
.img_phase_show span{
width: calc(100% - 40px);
}
.amb .author-id-photo{
position: relative;
margin-left: auto;
margin-right: auto;
top: 0px;
}
.amb .author-id{
margin-bottom: 20px;
}
.amb .author-id-text{
width: 100%;
margin: -90px 0px 0px 0px;
padding: 105px 20px 20px 20px;
}
body[class*="embaixadores"] h1{
text-align: center;
}
body._lista_embaixadores h1{
text-align: left!important;
}
}

@media screen and (max-width: 300px){
article section.today_contents#conteudos-hoje .section_content a.section_content_item.fixed:after{
background-size: 6px;
background-position: 7px;
}
.content_index .block_contents_for_you_today a.section_content_item.default-block.fixed .line_01_up:after{
background-size: 6px;
background-position: 10px 9px;
width: 6px;
height: 6px;
}
}