/* notifications */
.block-notification-widget-block .dropdown-toggle i:after{
  background-color: var(--orange-principal);
  width: 16px;
  height: 12px;
  border-radius: 50%;
  padding: 3px 1px;
  font-size: 10px;
  text-align: center;
  margin: 0px 0px 0px 13px;
  display: block;
  position: absolute;
  color: var(--baby-gray);
  font-family: var(--gotham_bold);
  font-style: normal;
}
.block-notification-widget-block .dropdown-toggle i[data-count="1"]:after{
  content: "1";
}
.block-notification-widget-block .dropdown-toggle i[data-count="2"]:after{
  content: "2";
}
.block-notification-widget-block .dropdown-toggle i[data-count="3"]:after{
  content: "3";
}
.block-notification-widget-block .dropdown-toggle i[data-count="4"]:after{
  content: "4";
}
.block-notification-widget-block .dropdown-toggle i[data-count="5"]:after{
  content: "5";
}
.block-notification-widget-block .dropdown-toggle i[data-count="6"]:after{
  content: "6";
}
.block-notification-widget-block .dropdown-toggle i[data-count="7"]:after{
  content: "7";
}
.block-notification-widget-block .dropdown-toggle i[data-count="8"]:after{
  content: "8";
}
.block-notification-widget-block .dropdown-toggle i[data-count="9"]:after{
  content: "9";
}
.block-notification-widget-block .dropdown-toggle i[data-count="10"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="11"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="12"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="13"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="14"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="15"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="16"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="17"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="18"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="19"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="20"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="21"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="22"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="23"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="24"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="25"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="26"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="27"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="28"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="29"]:after,
.block-notification-widget-block .dropdown-toggle i[data-count="30"]:after{
  content: "9+";
}

/* end notifications */

/*default*/

/* end default */
/* Css Back to top */
.embed_block{
  position: relative;
  background-color: var(--yellow-block)!important;
  display: block;
  float: left;
  overflow: hidden;
  padding-left: 134px;
  margin-bottom: 30px;
  border-radius: var(--default-radius);
}
.image_block_embed{
  position: absolute;
  left: 0px;
  height: 100%;
  width: 134px!important;
  overflow: hidden;
  margin-top: 0px!important;
}
.embed_block.forum .image_block_embed{
  background-color: var(--white)!important;
}
.embed_block.forum .image_block_embed div{
  background-image: url('../images/rede-de-carinho.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0px auto!important;
}
.image_block_embed img{
  width: 134%!important;
  margin-left: -17%;
  margin-top: 0px!important;
  float: left;
  border-radius: 0px!important;
}
.embed_block .embed_information{
  width: 100%!important;
  float: right;
  padding: 20px;
  margin-top: 0px!important;
}
.embed_block.forum .embed_information h3{
  width: 100%;
  font-size: var(--body_max)!important;
  text-align: left;
  margin-top: 0px!important;
  padding-bottom: 18px!important;
}
.embed_block .embed_information h3{
  width: 100%;
  font-size: var(--body_max)!important;
  text-align: left;
  margin-top: 0px!important;
  padding-bottom: 10px!important;
}
.embed_block p,
.embed_block span{
  padding-top: 0px!important;
  text-align: left;
  font-size: var(--detail)!important;
  width: 100%;
  font-weight: 400!important;
}
.embed_block.forum span{
  width: auto!important;
  float: left;
  font-size: var(--detail_min)!important;
  color: var(--white)!important;
  background-color: var(--green-featured)!important;
  padding: 10px 15px!important;
  display: inline-block!important;
  border-radius: var(--default-radius)!important;
}
.embed_block:hover{
  background-color: var(--green-featured)!important;
}
.embed_block:hover h3,
.embed_block:hover p{
  color: var(--white);
}
.embed_block.forum:hover span{
  background-color: var(--white)!important;
  color: var(--green-featured)!important;
}
body .back_top{
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  background-color: var(--green-featured);
  border-radius: var(--default-radius);
  position: fixed;
  background-image: url(../images/arrow-white-back-top.svg);
  width: 50px;
  height: 30px; 
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  right: 40px;
  bottom: -200px;
  z-index: 5;
  opacity: 0%;
  transition: var(--smooth);
}
body.scrolled .back_top{
  display: block;
  opacity: 100%;
  bottom: 30px;
}
body.scrolled .back_top:hover{
  background-color: var(--green-block);
  background-image: url(../images/arrow-green-back-top.svg);
  width: 50px;
  height: 30px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
/* End Css Back to top */
.related_list a h2{
	margin-bottom: 10px;
	color: var(--green-featured);
}
.today_contents .related_list a:hover h2{
	color: var(--baby-gray)!important;
}
.interests .age_filter form.block-content-interestspopup span.section-age{
	background-color: var(--green-featured);
  color: var(--baby-gray);
  display: inline-block;
  font-weight: 400;
  padding: 10px 15px 10px 15px;
  margin-right: 10px;
  border-radius: var(--default-radius);
  font-size: var(--body);
  font-family: var(--dmsans);
  transition: var(--smooth);
  line-height: var(--body-line);
}
section.announcement.default-ad .foto{
  background-color: var(--yellow-block-02);
  padding: 30px;
}
section.announcement.default-ad .foto img{
  max-width: none;
}
.related_list .section_content_item.topic_item h2{
	margin-bottom: 20px!important;
}
body[class*="edit"] div#edit-comment-body-wrapper .js-text-format-wrapper.text-format-wrapper.js-form-item.form-item {
    width: 100%!important;
    margin-right: 0px;
    margin-left: 0px;
}
body[class*="edit"] #edit-actions #edit-submit{
	width: 100%;
	margin: 20px 0px 0px 0px;
}
body[class*="reply"] #edit-actions #edit-submit{
	width: calc(100% - 147px - 50px);
    margin-right: 50px;
    margin-left: 147px;
}
.text-formatted.field table[border="1"]{
  border: 2px solid var(--green-featured);
  border-radius: var(--default-radius);
  margin-top: 20px;
  width: 100%!important;
  border-collapse: collapse;
  overflow: hidden;
}
.text-formatted.field table[border="0"]{
  border:0px;
  border-radius: var(--default-radius);
  margin-top: 20px;
  width: 100%!important;
  border-collapse: collapse;
  overflow: hidden;
}
.text-formatted.field table[border="0"] td, 
.text-formatted.field table[border="0"] th{
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  padding: 0px;
  overflow:hidden;
}
.text-formatted.field table[border="0"] td img{
  float: left;
}
.text-formatted.field table[border="0"] tr td{
  border-top: 20px transparent solid;
}
.text-formatted.field table[border="0"] tr:nth-child(1) td{
  border-top: 0px;
}
.text-formatted.field table[border="0"] td:nth-child(1){
  padding: 0px 0px 0px 0px;
}
.text-formatted.field table[border="0"] td:nth-child(2),
.text-formatted.field table[border="0"] td:nth-child(3),
.text-formatted.field table[border="0"] td:nth-child(4),
.text-formatted.field table[border="0"] td:nth-child(5),
.text-formatted.field table[border="0"] td:nth-child(6){
  padding: 0px 0px 0px 0px;
  border-left: 20px transparent solid;
}
.text-formatted.field table img{
  margin-top: 0px;
}
.comment-comment-forum-delete-form #edit-actions input#edit-submit{
	width: calc(50% - 15px)!important;
	margin-left: 0px;
}
.related_list a .metatags strong, 
.related_list a .metatags span{
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
}
.related_list a .line_01_down {
  padding: 24px 30px 30px 30px;
}
.horizontal_banner{
  position: fixed;
  bottom: -300px;
  z-index: 7;
  left: calc(50% - 482px);
  width: 964px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: var(--smooth);
  background-color: var(--yellow-featured); 
  background-image: url('../images/background_banner.png');
}
.horizontal_banner.item_198{
  background-image: url('../images/background_baby_and_me.png');
}
.horizontal_banner.item_208{
  background-image: none;
  background-color: var(--purple_banner);
}
.horizontal_banner.item_208 a{
  background-image: url('../images/banner_crianca-mais-saudavel_desktop.png');
  background-repeat: no-repeat;
  background-position: center;
}
.horizontal_banner a{
  display: block;
  position: relative;
  width: 728px;
  height: 90px;
  margin: 0px auto;
}
.horizontal_banner a span{
  display: block;
  float: left;
  margin-right: 20px;
  margin-top: 15px;
}
.horizontal_banner a span img{
  width: auto;
  height: 68px;
}
.horizontal_banner.item_208 a span,
.horizontal_banner.item_208 a strong,
.horizontal_banner.item_208 a label{
  display: none;
}
.horizontal_banner.item_198 a span img{
  width: 120px;
  height: 95px;
}
.horizontal_banner a strong{
  font-size: var(--body_max);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 67px;
  display: block;
  margin: auto 0px;
  float: left;
  color: var(--green-featured);
}
.horizontal_banner.item_198 a strong{
  left: 139px;
  color: var(--white);
}
.horizontal_banner a label{
  line-height: 30px;
  margin-top: 20px;
  background-color: var(--green-featured);
  padding: 10px 15px;
  font-size: var(--body);
  color: var(--white);
  border-radius: var(--default-radius);
  float: right;
  cursor: pointer;
  transition: var(--smooth);
}
.horizontal_banner a:hover label{
  background-color: var(--green-hover);
}
.horizontal_banner.item_198 a label{
  background-color: var(--blue_banner);
}
.horizontal_banner a label:before{
  content: "";
  display: block;
  float: right;
  background-image: url('../images/white_external-link.svg');
  background-size: 100%;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  margin-left: 15px;
  background-repeat: no-repeat;
}
.horizontal_banner_close{
  background-color: var(--yellow-featured);
  width: 30px;
  display: block;
  top: -30px;
  right: 0px; 
  position: absolute;
  float: right;
  margin-right: 30px;
  height: 30px;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  padding: 7px;
  cursor: pointer;
}
.horizontal_banner.item_198 .horizontal_banner_close{
  background-color: var(--orange_banner);
}
.horizontal_banner.item_208 .horizontal_banner_close{
  background-color: var(--purple_banner);
}
.horizontal_banner_close:before{
  content: "";
  display: block;
  background-image: url('../images/abrir_e_fechar-verde.svg');
  background-size: 100%;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  transition: var(--smooth);
}
.horizontal_banner.item_198 .horizontal_banner_close:before,
.horizontal_banner.item_208 .horizontal_banner_close:before{
  background-image: url('../images/abrir_e_fechar-branco.svg');
}
body.banner_disabled .horizontal_banner .horizontal_banner_close:before{
  transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}
body.banner .horizontal_banner{
  bottom: 0px;
}
body.banner_disabled .horizontal_banner{
  bottom: -90px!important;
}
body._user_favoritos .views-field-field-tag-interesses .field-content{
  font-size: var(--detail);
}
body._user_favoritos .views-field-field-tag-interesses .field-content span,
body._user_favoritos .views-field-field-tag-interesses .field-content strong{
  font-size: var(--detail);
  float: left;
  background-color: var(--green-featured);
  padding: 10px 13px;
  border-radius: var(--default-radius);
  font-family: var(--dmsans);
  text-decoration: none;
  color: var(--baby-gray);
  margin: 5px 10px 5px 0px;
}
body._user_favoritos .saved-item li:hover .views-field-field-tag-interesses .field-content span,
body._user_favoritos .saved-item li:hover .views-field-field-tag-interesses .field-content strong{
  background-color: var(--yellow-block);
  color: var(--green-featured);
}
.text-formatted div.quiz_image{
	width: 162px!important;
	margin: 30px 0px 30px 30px;
}
article section .section_content .section_content_item .line_01_down,
a.section_content_item.topic_item {
  padding: 24px 30px 30px 30px;
}
.your_phase_show.active .your_phase_description_show {
    padding: 60px 60px 60px 60px;
}
.create_warning p {
	width: 571px;
}
.create_warning a{
	width: 307px;
}
._node_21 .content_index,
._node_124 .content_index,
._node_18 .content_index{
	margin-bottom: 0px;
}
._user_confirmacao #edit-actions #edit-submit{
	width: auto!important;
}
._user_confirmacao .region.region-content .form-ativar-conta{
	text-align: center;
}
.block-block-related-contents .content .today_contents {
	padding-bottom: 60px!important;
}
.content_index .index_contents .content_description .information_index p.info_index{
	margin-bottom:0px;
}
.text_chat .actions span{
	margin-right: 0px;
}
#status_1 .text_chat .actions a {
  margin-left: 15px;
}
body._user_solicitar_confirmacao {
    background-color: var(--baby-gray);
}
._user_solicitar_confirmacao section.register{
	padding: 90px 30px 60px 30px;
}
._user_solicitar_confirmacao .register .form-item{
	width: 100%!important;
	padding-top: 15px;
}
._user_solicitar_confirmacao .register p.opening{
	float: left;
}
._user_solicitar_confirmacao .register .form-item h4{
	margin: 0px auto 0px auto;
}
.article_author_about{
	width: 100%;
}
footer .signature{
	padding-bottom: 25px;
}
footer .signature a {
	margin: 25px auto 0px;
}
.product-detail-body-composition span{
	font-size: 14px !important;
    line-height: 20px !important;
    font-family: var(--dmsans);
}
.comment-comment-forum-form.comment-form .form-textarea-wrapper textarea,
.js-text-format-wrapper.text-format-wrapper.js-form-item.form-item{
    width: calc(100% - 147px - 50px);
    margin-right: 50px;
    margin-left: 147px;
}
article .comment-comment-forum-form{
	float: left;
	width: 100%;
}
.field.field--name-field-image{
	padding-bottom: 0px;
}
div.form-item-datanascimento.form-disabled input[type="date"]{
	padding: 14px 15px 13px 50px;
}
.amb .views-field.views-field-field-image .field-content{
	height: 200px;
	background-size: 100%;
}
a.section_content_item.topic_item:hover{
  background-color: var(--green-featured)!important;
  color: var(--baby-gray);
}
.search-results .information_index .info_index strong{
	text-decoration: none!important;
	color: var(--black)!important;
}
.search-results .information_index .tag, 
.search-results .information_index > strong{
	font-size: var(--detail);
    float: left;
    background-color: var(--green-featured);
    padding: 10px 13px;
    border-radius: var(--default-radius);
    font-family: var(--dmsans);
    text-decoration: none;
    color: var(--baby-gray);
    margin: 10px 10px 5px 0px;
}
.content_index .block_contents_for_you_today .line_01_up{
	position: relative;
}
.content_index .block_contents_for_you_today .line_01_up strong {
	top: 10px;
	left: 10px;
}
.menu_and_search nav ul.menu li:nth-child(1) a.is-active,
.menu_and_search nav ul.menu li:nth-child(7) a.is-active,
.menu_and_search nav ul.menu li:nth-child(1) a:hover,
.menu_and_search nav ul.menu li:nth-child(7) a:hover{
	height: 80px;
  margin-top: -8px;
}
.menu_and_search nav ul.menu li:nth-child(7) a.is-active,
.menu_and_search nav ul.menu li:nth-child(7) a:hover {
	padding-top: 28px!important; 
}
.menu_and_search nav ul.menu li a.is-active, 
._age_filter_1_2 .menu_and_search nav ul.menu li:nth-child(2) a, 
._age_filter_3_4 .menu_and_search nav ul.menu li:nth-child(3) a, 
._age_filter_5_6 .menu_and_search nav ul.menu li:nth-child(4) a, 
._age_filter_7_8 .menu_and_search nav ul.menu li:nth-child(5) a, 
._age_filter_9 .menu_and_search nav ul.menu li:nth-child(6) a, 
._age_filter_todasasfases header .parents div.top-image .menu_and_search nav ul.menu li:nth-child(7) a,
.menu_and_search nav ul.menu li a:hover{
  height: 80px;
  margin-top: -8px;
  padding-top: 29px;
}
.related_list a .line_01_up{
	position: relative;
}
.related_list a .line_01_up strong{
  background-color: var(--baby-gray);
  border-radius: var(--default-radius);
  position: absolute;
  z-index: 5;
  top: 15px;
  right: 15px;
  display: inline-block;
  padding: 5px 10px;
  font-size: var(--detail_min);
  color: var(--green-featured);
}
.content_index .index_contents .search-results .content_description .img_description strong,
.content_index .views-element-container .index_contents .content_description .img_description strong{
  z-index: 5;
  font-size: var(--detail_min);
}
@media screen and (min-width: 1450px){
.menu_and_search nav ul.menu li:nth-child(1) a.is-active, 
.menu_and_search nav ul.menu li:nth-child(7) a.is-active, 
.menu_and_search nav ul.menu li:nth-child(1) a:hover, 
.menu_and_search nav ul.menu li:nth-child(7) a:hover,
.menu_and_search nav ul.menu li a.is-active, 
._age_filter_1_2 .menu_and_search nav ul.menu li:nth-child(2) a, 
._age_filter_3_4 .menu_and_search nav ul.menu li:nth-child(3) a, 
._age_filter_5_6 .menu_and_search nav ul.menu li:nth-child(4) a, 
._age_filter_7_8 .menu_and_search nav ul.menu li:nth-child(5) a, 
._age_filter_9 .menu_and_search nav ul.menu li:nth-child(6) a, 
._age_filter_todasasfases header .parents div.top-image .menu_and_search nav ul.menu li:nth-child(7) a, 
.menu_and_search nav ul.menu li a:hover {
margin-top: -3px;
}
}
@media screen and (min-width: 1600px){
section.announcement.default-ad .foto img{
margin-bottom: 0px;
width: 100%;
}
section.announcement.default-ad .foto{
margin-right: 30px;
}
}
@media screen and (min-width: 1024px){

}

@media screen and (max-width: 1450px){

}

@media screen and (max-width: 1250px){

}

@media screen and (max-width: 1200px){
.menu_and_search nav ul.menu li:nth-child(1) a:hover{
background-size: 25px!important;
height: 46px!important;
}
.region.region-sidebar-second .block-block-floating-ad div.content label, 
.region.region-sidebar-second .block-block-ad div.content label,
#block-floatingtopic .line_02 label{
display: none;
height: 0px;
}
#block-floatingtopic .line_02 div{
font-size: var(--detail_min);
}
#block-floatingtopic .line_02 h2{
font-size: var(--body_max);
margin-bottom: 7px;
padding-bottom: 0px;
}
article section .section_content .section_content_item .line_01_down,
a.section_content_item.topic_item {
padding: 15px;
}
.region.region-sidebar-second .block-block-floating-ad div.content a, 
.region.region-sidebar-second .block-block-ad div.content a{
padding: 15px;
}
.region.region-sidebar-second .block-block-floating-ad div.content strong, 
.region.region-sidebar-second .block-block-ad div.content strong{
margin-bottom: 15px;
}
.region.region-sidebar-second .block-block-floating-ad:hover div.content strong, 
.region.region-sidebar-second .block-block-ad:hover div.content strong{
width: 100%;
}
.region.region-sidebar-second .block-block-floating-ad div.content img, 
.region.region-sidebar-second .block-block-ad div.content img{
transition: var(--fast);
}
.region.region-sidebar-second .block-block-floating-ad:hover div.content img, 
.region.region-sidebar-second .block-block-ad:hover div.content img{
transition: var(--fast); 
margin-top: 15px;
width: 100px;
}
.right-floating-blocks{
width: calc(((100vw - (900px - 280px)) / 2) - 40px);
}
.region.region-sidebar-second .block-block-floating-ad, 
.region.region-sidebar-second .block-block-ad{
width: 100%;
}
}

@media screen and (max-width: 1051px){
.embed_block.forum .embed_information h3{
padding-bottom: 10px!important;
}
.embed_block.article .embed_information h3{
padding-bottom: 5px!important
}
.embed_block{
padding-left: 110px!important;
margin-bottom: 20px!important;
}
.image_block_embed{
width: 110px!important;
}
.image_block_embed img {
width: 184%!important;
margin-left: -42%;
}
.embed_information{
padding: 15px;
}
.horizontal_banner{
background-size: 350%;
padding: 0px 20px 0px 0px;
}
.horizontal_banner.item_198{
padding: 0px 0px 0px 0px;
}
.horizontal_banner,
.horizontal_banner a{
left: 0px;
width: 100%;
height: 105px;
}
.horizontal_banner a span{
margin: 5px 10px 10px 20px;
position: absolute;
top: 50%;
transform: translateY(-50%);
}
.horizontal_banner a span img{
height: 54px;
width: auto;
}
.horizontal_banner a strong{
left: 0px;
width: calc(100% - 54px - 20px);
margin-left: 80px;
}
.horizontal_banner a label{
display: none;
}
.horizontal_banner a label:before{
margin-left: 10px;
}

body.banner_disabled .horizontal_banner{
bottom: -105px!important;
}
body.banner .back_top{
bottom: 144px!important;
}
body .back_top{
bottom: 20px!important;
right: 20px;
}
body.banner.banner_disabled .back_top{
bottom: 44px!important;
}

.horizontal_banner.item_198 a span img{
width: 150px;
height: auto;
margin-bottom: -40px;
}
.horizontal_banner.item_198 a strong{
left: 0px;
width: calc(100% - 90px - 125px);
margin-left: 150px;
}
.horizontal_banner.item_208 a{
background-image: url('../images/banner_crianca-mais-saudavel_mobile.png');
}
.horizontal_banner a label{
padding: 10px;
margin-left: 10px;
font-size: var(--detail);
line-height: 1em;
margin-top: 13px;
position: absolute;
top: 50%;
transform: translateY(-50%);
}
.horizontal_banner a label:before{
margin-top: -4px;
width: 15px;
height: 16px;
}
.horizontal_banner_close{
width: 24px;
height: 24px;
top: -24px;
margin-right: 20px;
padding: 7px 6px;
}
.horizontal_banner_close:before{
height: 12px;
width: 12px;
}
.product-detail-header-nutritional.active, 
.product-detail-header-composition.active, 
.product-detail-header-more.active{
font-family: var(--gotham_bold);
background-color: var(--baby-gray);
}
.product-detail-header-nutritional, 
.product-detail-header-composition, 
.product-detail-header-more{
font-family: var(--gotham);
background-color: rgba(243,245,241,0.5);
}
.interests .intro_popup h2{
margin-top: 20px;
}

body.scrolled .back_top:hover{
background-image: url(../images/arrow-white-back-top.svg);
background-color: var(--green-featured);
width: 50px;
height: 30px;
background-size: 20px;
background-repeat: no-repeat;
background-position: center;
}
.text-formatted.field table[border="0"] td{
display: block;
margin-top: 20px;
}
.text-formatted.field table[border="0"] tr:nth-child(1) td:nth-child(1){
margin-top: 0px;
}
.saved-item .views-field.views-field-field-tag-interesses, .saved-item .views-field.views-field-created {
padding: 10px 20px 5px 20px;
}
.popup_interests_active .content_new_overlay.popup_interests .interests .intro_popup p {
padding-bottom: 30px;
}
article .chat_topic{
margin-top: 20px;
}
article section .section_guide{
margin: 0px 20px 20px 20px;
}
article section .section_guide h2{
margin-top: 5px!important;
}
.text-formatted.field table[border="0"] td:nth-child(2), 
.text-formatted.field table[border="0"] td:nth-child(3), 
.text-formatted.field table[border="0"] td:nth-child(4), 
.text-formatted.field table[border="0"] td:nth-child(5), 
.text-formatted.field table[border="0"] td:nth-child(6){
border-left: none;
}
.text-formatted.field table[border="0"] tr td{
border-top:none;
}
#block-floatingtopic .line_02 div{
display: none;
}
#block-floatingtopic .line_02 h2{
margin-bottom: 0px;
}
.menu_and_search nav ul.menu li:nth-child(1) a.is-active{
height: 60px!important;
}
.menu_and_search nav ul.menu li:nth-child(1) a:hover {
background-size: 36px!important;
height: 65px!important;
}
.menu_and_search nav ul.menu li:last-child a {
border-radius: 0px 0px 10px 10px;
}
.menu-icon{
border-radius: 10px 0px 0px 10px;
}
.mobile-menu-active .menu-icon{
border-radius: 10px 0px 0px 0px;
}
.mobile-menu-active .search-icon{
border-radius: 0px 10px 0px 0px
}
.text-formatted.field table[border="0"] td{
padding: 0px!important;
}
.search-icon{
border-radius: 0px 10px 10px 0px;
}
.field--name-field-tag-interesses a {
margin: 5px 5px 5px 0px;
}
section.announcement.default-ad .foto{
padding: 20px;
}
article section .section_content .section_content_item .line_01_down{
padding: 14px 20px 15px 20px;
}
.comment-comment-forum-delete-form #edit-actions input#edit-submit{
width: 100%!important;
}
.comment-comment-forum-delete-form #edit-actions{
margin-top: 0px;
}
.text-formatted div.quiz_image{
margin: 20px 20px 20px 0px;
}
.comment-comment-forum-delete-form{
margin-top: 11px;
}
article .chat_topic .person_data_chat{
margin-bottom: 10px;
}
article .chat_topic .text_chat{
margin-top: 0px!important;
}
div.chat_topic:before {
margin-top: 46px;
border-width: 6px;
margin-left: 14px;
}
.region.region-sidebar-second{
top: calc(100vh - 33vh);
}
#block-floatingtopic .line_02 h2{
font-size: var(--body);
}
.comment-comment-forum-delete-form #edit-actions a#edit-cancel{
width: 100%;
margin-top: 10px;
padding: 12px 25px;
}
article .content_description.topic_type
article .forum-intro{
margin-top: 13px;
}
._node_21 footer, ._node_124 footer, ._node_18 footer {
padding-top:0px;
}
.related_list a .line_01_down{
padding: 14px 20px 20px 20px;
}
.flag-favoritos {
top:101px;
}
article section#rede.today_contents .section_guide p{
display: none;
}
article .forum .table_all{
margin-top: 20px;
}
article .forum .table_all .line_all{
margin-bottom: 20px;
}
.text-formatted div.quiz_image {
background-size: 120px;
height: 110px;
width: 125px!important;
float: left;
}
section.announcement .foto{
width: calc(100% - 40px);
}
.content_box,
.text-formatted.field table td,
.text-formatted.field table th {
padding: 20px;
}
.search-results .information_index{
padding-bottom: 20px;
}
.search-results .information_index .tag{
margin-left: 20px; 
padding: 5px 10px 5px 10px;
}
.your_phase_show .your_phase_description_show{
padding: 10px 20px 20px 20px!important;
}
.your_phase_show .img_phase_show label{
font-size: var(--body_max);
}
.content_index .region.region-content .login_alert{
margin-bottom: 20px;
}
.content_index .index_contents .content_description .img_description strong {
top:20px;
left: 20px;
}
.region.region-sidebar-second .block-block-floating-ad div.content img, 
.region.region-sidebar-second .block-block-ad div.content img{
position: relative;
float: right;
margin-top: 0px;
width: 60px;
}
.region.region-sidebar-second .block-block-floating-ad:hover div.content img, 
.region.region-sidebar-second .block-block-ad:hover div.content img{
width: 60px;
margin-top: 0px;
}
.region.region-sidebar-second .block-block-floating-ad div.content strong, 
.region.region-sidebar-second .block-block-ad div.content strong {
width: calc(100% - 75px - 15px);
transform: translateY(-50%);
position: absolute;
top: 50%;
left: 15px;
font-size: var(--body);
margin-right: 15px;
margin-bottom: 0px;
text-align: left;
}
.right-floating-blocks .block.block-block-content {
margin-bottom: 8px;
}
.region.region-sidebar-second .block-block-floating-ad, 
.region.region-sidebar-second .block-block-ad {
width: calc(100% - 40px);
margin-left: 20px;
margin-right: 20px;
}
.right-floating-blocks {
max-width: 100%;
width: 100%;
right: 0px;
}
a.section_content_item.topic_item {
width: calc(100% - 40px);
margin-left: 20px;
margin-right: 20px;
}
.content_index .block_contents_for_you_today .line_01_up{
margin-right: 0px;
}
.block-block-related-contents .content .today_contents{
padding-bottom: 0px!important;
}
article .content_description .metatags{
padding-top: 0px!important;
}
.article_author_about_info_text {
float: none;
}
.article_author_about_info_image{
float: left;
margin: 0px 20px 20px 0px !important;
}
._user_favoritos .saved-item li{
padding-bottom: 15px;
}
.region-footer ul{
margin-top: 0px!important;
}
.your_phase_show.active .img_phase_show {
min-height: 197px;
}
.product-intro .product-intro-infos p{
margin:20px 0px 20px 0px;
}
.product-intro .product-intro-infos-warning p{
margin-top: 0px;
}
#status_1 .text_chat .actions span:nth-child(1) a{
margin-left: 0px!important;
}
#status_1 .text_chat .actions a{
margin-left: 10px!important;
}
.menu-mobile{
width: calc(100% - 40px);
margin-left: 20px;
}
.menu_and_search{
width: calc(100% - 40px);
margin-left: 20px; 
}
article .content_index .region.region-content .block.block-block-authors .content{
margin-top: 24px;
}
article section .section_guide h2:nth-child(1){
margin-top: 20px!important;
}
article section .section_guide > div,
.your_phase_show .img_phase_show{
width: 100%!important;
}
.comment-comment-forum-form.comment-form .form-textarea-wrapper textarea,
.js-text-format-wrapper.text-format-wrapper.js-form-item.form-item{
width: 100%;
margin-right: 0px;
margin-left: 0px;
}
.comment-comment-forum-form.comment-form #edit-actions #edit-submit {
width: 100%;
margin-right: 0px;
}
._user_solicitar_confirmacao .register .form-item {
padding-top: 30px;
}
.amb .views-field.views-field-created{
padding: 0px 20px 20px 20px;
}
.amb .views-field.views-field-field-tag-interesses{
padding: 0px 20px 20px 20px;
}
.saved-item {
margin-top: 20px;
}
body._user_favoritos .register p{
margin-top: 9px;
}
section.announcement {
padding: 25px 0px 25px 0px;
}
section.quiz {
padding: 40px 0px 40px 0px;
}
article section .section_guide h2{
padding-bottom: 10px:;
}
article section .section_guide a.config{
margin-top: 5px;
}
article section .section_guide h2{
padding-bottom: 5px;
}
.your_phase_show .img_phase_show,
.your_phase_show .your_phase_description_show,
.your_phase_show .your_phase_description_show .your_phase_age_show,
.your_phase_show.active .your_phase_description_show p{
transition: none;
}
.your_phase_show.active{
transition: var(--smooth);
}
.field.field--name-field-image{
padding-bottom: 0px!important;
margin:20px 0px 0px 0px;
}
.topic_type .text-formatted.field{
margin-top: 0px;
}
.content_index .index_contents .search-results .content_description .img_description strong {
top: 20px;
left: 20px;
}
.coment_topic {
margin-top: 40px;
}
.block-notification-widget-block .dropdown-toggle i:after {
margin-left: 3px;
}
._node_139 .text-formatted.field p{
padding-top: 0px!important;
}
.content_description.basic-page a.browse{
margin-top: 0px;
}
.register.completed-page .text-formatted.field p:first-child{
margin: 13px auto 0px auto;
}
.register.completed-page .text-formatted.field p:nth-child(2){
margin: 0px;
}
.content_description.basic-page a.browse{
margin-top: 18px;
}
section.quiz h2{
margin-bottom: 14px;
}
article .text-formatted.field{
padding-top: 20px;
}
.field--name-field-tag-interesses .field__label {
margin-top: 40px;
}
}

@media screen and (max-width: 995px){
.block-notification-widget-block .dropdown-toggle {
padding: 0px 10px !important;
}
}

@media screen and (max-width: 300px){

.horizontal_banner{
background-size: 430%;
}
.horizontal_banner a span{
margin: 4px 10px 10px 20px;
}
.horizontal_banner a strong{
font-size: var(--body);
width: calc(100% - 51px - 0px);
margin-left: 60px;
}
.horizontal_banner, 
.horizontal_banner a{
height: 60px;
}
.horizontal_banner a span img{
height: 40px;
}

.horizontal_banner.item_198 a span img{
width: 80px;
height: auto;
margin-bottom: -30px;
}
.horizontal_banner.item_198 a strong{
width: calc(100% - 79px - 45px);
margin-left: 110px;
}

body.banner_disabled .horizontal_banner{
bottom: -60px!important;
}
body.banner .back_top{
bottom: 94px!important;
}
body .back_top{
bottom: 15px!important;
}
body.banner.banner_disabled .back_top{
bottom: 35px!important;
}

.horizontal_banner a label{
display: none;
}

.horizontal_banner.item_208{
padding: 0px;
}
.horizontal_banner.item_208 a{
background-size: 240px;
}
.embed_block{
padding-left: 65px!important;
}
.embed_block .embed_information{
padding: 10px!important;
}
.embed_block.article .embed_information h3,
.embed_block.forum .embed_information h3{
font-size: var(--body)!important;
padding-bottom: 0px!important;
}
.image_block_embed {
width: 65px!important;
}
.embed_block p, 
.embed_block span, 
.embed_block.forum span{
display: none!important;
}
.embed_block.forum .image_block_embed div {
background-size: 20px!important;
}
article section .section_guide h2{
padding-bottom: 5px!important;
}
/*body .back_top{
right: 15px;
}*/
body.scrolled .back_top{
background-size: 12px;
width: 30px;
height: 10px;
bottom: 15px;
}
body.scrolled .back_top:hover{
background-color: var(--green-featured);
background-image: url(../images/arrow-white-back-top.svg);
width: 30px;
height: 10px;
background-size: 12px;
background-repeat: no-repeat;
background-position: center;
}
article section .section_guide{
margin: 0px 20px 15px 20px;
}
body[class*="edit"] #edit-actions #edit-submit{
margin-top: 10px;
}
.article_author_about_info_image {
width: 60px;
height: 60px;
margin: 0px 15px 10px 0px !important;
}
article .content_description .metatags{
padding-top: 20px!important;
}
article .forum-intro{
margin-top: 13px;
}
.flag-favoritos{
top:126px;
}
article .forum .table_all{
margin-top: 15px;
}
.your_phase_show .your_phase_description_show{
padding: 10px 20px 20px 20px!important;
}
article .forum .table_all .line_all{
margin-bottom: 15px;
}
.your_phase_show.active .your_phase_description_show p {
line-height: 15px;
}
article .content_index .region.region-content .block.block-block-authors .content {
margin-top: 15px;
}
section.quiz{
padding: 20px 0px 20px 0px;
}
section.announcement{
padding: 5px 0px 5px 0px;
}
.field--name-field-tag-interesses .field__label {
margin-top: 20px;
}
.text-formatted.field p{
line-height: 15px!important;
}
.amb .views-field.views-field-field-image .field-content{
height: auto;
}
.amb div.views-field.views-field-title{
padding: 15px 15px 5px 15px;
}
.amb .views-field.views-field-created{
padding: 0px 15px 15px 15px;
}
.amb .views-field.views-field-field-tag-interesses{
padding: 0px 15px 15px 15px;
}
.search-results .information_index .tag{
margin-left: 15px;
margin-right: 0px;
}
.search-results .information_index > strong{
margin-left: 15px;
}
.text-formatted.field table td, .text-formatted.field table th,
.content_box{
padding: 15px;
}
.text-formatted.field div {
margin-top: 15px;
}
.content_box h5{
padding-bottom: 15px;
}
article section .section_content .section_content_item .line_01_down{
padding: 9px 15px 10px 15px!important;
}
.text-formatted div.quiz_image {
background-size: 90px;
height: 85px;
width: 90px!important;
margin: 15px 15px 15px 0px;
}
article section .section_guide div.guide_tags div {
margin: 5px 5px 5px 0px;
}
.comment-comment-forum-delete-form{
margin-top:7px;
}
.comment-comment-forum-delete-form #edit-actions a#edit-cancel {
margin-top: 10px;
}
body[class*="edit"] .comment-comment-forum-form.comment-form .form-textarea-wrapper textarea{
margin-top: 15px;
}
#edit-actions #edit-submit{
margin-top: 15px;
}
.comment-comment-forum-delete-form #edit-actions input#edit-submit{
padding: 10px 20px;
}
.comment-comment-forum-delete-form #edit-actions a#edit-cancel{
padding: 7px 20px;
}
.text_chat .actions .link_Apagar a{
background-size: 9px;
}
.text_chat .actions .link_Editar a,
.text_chat .actions .link_Responder a{
background-size: 10px;
}
#status_1 .text_chat .actions a {
padding-left: 13px;
}
#status_1 .text_chat .actions a{
margin-left: 8px!important;
}
.block-notification-widget-block .dropdown-toggle {
background-size: 20px!important;
}
header .hello div div {
font-size: var(--body_max);
}
header .hello.unlogged div div{
margin-left: 5px;
}
header .hello div div {
margin-left: -4px;
}
header .hello div div.active span, .block-notification-widget-block.active .dropdown-toggle {
background-size: 17px!important;
margin-right: 1px;
margin-top: 2px;
}
header .hello.logged div div:nth-child(1):before {
margin: 3px 0px 0px 5px;
}
section.announcement.default-ad .foto{
padding: 15px;
}
.menu-icon, .search-icon,
.menu_and_search nav ul.menu li a{
padding: 15px!important;
}
.menu_and_search nav ul.menu li a,
.menu_and_search nav ul.menu li{
height: 45px;
}
.label_menu {
height: 60px;
}
.menu_and_search nav ul.menu li a.is-active, 
._age_filter_1_2 .menu_and_search nav ul.menu li:nth-child(2) a, 
._age_filter_3_4 .menu_and_search nav ul.menu li:nth-child(3) a, 
._age_filter_5_6 .menu_and_search nav ul.menu li:nth-child(4) a, 
._age_filter_7_8 .menu_and_search nav ul.menu li:nth-child(5) a, 
._age_filter_9 .menu_and_search nav ul.menu li:nth-child(6) a, 
._age_filter_todasasfases header .parents div.top-image .menu_and_search nav ul.menu li:nth-child(7) a, 
.menu_and_search nav ul.menu li a:hover{
height: 60px!important;
padding: 22px!important;
}
.menu_and_search nav ul.menu li:nth-child(1) a.is-active{
height: 47px!important;
}
.menu_and_search nav ul.menu li:nth-child(1){
height: 45px!important;
}
.menu_and_search nav ul.menu li:nth-child(1) a{
background-size: 20px;
height: 47px;
}
.menu-icon div span, .close-search div span {
margin-top: 7px;
}
.menu-icon div, .close-search div{
height: 20px;
}
.search-icon div {
width: 20px;
height: 20px;
}
.coment_topic{
margin-top: 20px;
}
.popup_interests_active .content_new_overlay.popup_interests .interests .intro_popup p {
padding-bottom: 20px;
}
body.popup_interests_active #edit-child .js-form-type-radio h4{
padding: 5px 10px 5px 10px;
}
body.popup_interests_active .block-content-interestspopup .grid-options{
padding-top: 0px!important;
}
body.popup_interests_active #selectedTags--wrapper .form-type-checkbox input:checked + h4{ 
padding: 5px 35px 5px 10px;
}
body.popup_interests_active #selectedTags--wrapper .form-type-checkbox h4 {
padding: 5px 10px 5px 30px;
}
body.popup_interests_active .block-content-interestspopup input[type="submit"] {
margin-top: 20px;
}
body._user_favoritos div.views-field.views-field-title{
padding: 15px 15px 5px 15px;
}
body._user_favoritos .saved-item .views-field.views-field-field-tag-interesses, 
body._user_favoritos .saved-item .views-field.views-field-created{
padding: 5px 15px 5px 15px;
}
._user_favoritos .saved-item li{
padding-bottom: 10px;
}
body._user_favoritos .views-field-field-tag-interesses .field-content span, 
body._user_favoritos .views-field-field-tag-interesses .field-content strong{
padding: 8px 10px;
font-size: 7px;
}
body._user_favoritos .saved-item .views-field.views-field-field-image {
height: auto;
}
body._user_favoritos div.views-field.views-field-title {
padding: 12px 15px 5px 15px;
}
article .chat_topic .person_data_chat .profile_photo {
width: 30px;
height: 30px;
padding-top: 8px;
padding-right: 0px;
}
article .chat_topic{
margin-top: 20px;
}
.chat_topic .text_chat {
margin-top: 5px!important;
}
div.chat_topic:before {
margin-left: 10px;
margin-top: 35px;
border-width: 5px;
}
div.name_and_home_profile {
top: 40%;
left: 40px;
}
.comment-comment-forum-form{
margin-top: 0px!important;
}
.related_contents#rede h3{
padding-bottom: 15px;
}
.comment-comment-forum-form input[type="submit"] {
margin-top: 15px;
}
article .chat_topic .person_data_chat{
margin-bottom: -1px;
}
article .content_description.topic_type{
padding-bottom: 20px!important;
}
.field--name-field-tag-interesses a{
font-size: 7px;
padding: 10px 15px 10px 15px;
}
article .coment_topic.w_padding{
margin-top: 20px;
}
.text-formatted.field table[border="0"] td{
display: block;
margin-top: 15px;
}
.text-formatted.field table[border="0"] tr:nth-child(1) td:nth-child(1){
margin-top: 0px;
}
.text-formatted.field table[border="0"]{
margin-top: 15px;
}
article .text-formatted.field h2{
padding-top: 15px;
}
article section .section_guide h2{
margin-top: 0px;
}
article section .section_guide h2:nth-child(1){
margin-top: 5px!important;
}
.menu_and_search nav ul.menu li:nth-child(1) a:hover {
background-size: 25px!important;
height: 45px!important;
}
}