<style>
    #block-embedpopupblock {
        position: fixed;
        bottom: 50%;
        right: 30px;
        z-index: 7;
    }

    #embedInput {
        position: absolute;
        left: -99999px;
    }
    .embedder .share_link {
        background-color: var(--green-featured);
        color: var(--white);
        padding: 15px 58px 15px 20px;
        border-radius: var(--default-radius);
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: calc(100% - 20px) center;
        transition: transition: var(--fast);
    }
    .embedder .share_link:hover {
        background-color: var(--green-block);
        color: var(--green-featured);
    }
    .embedder {
        cursor: pointer;
    }
    @media screen and (max-width: 1051px){
        #block-embedpopupblock{
            display: none;
        }
    }
</style>
<div class="embedder">
    <input type="text" value="{{data.embed_code}}" id="embedInput">
    <div onclick="copyEmbed()" class="share_link">Copiar código para embed</div>
</div>